* {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

@font-face {
  font-family: 'DungGeunMo';
  src: url(./DungGeunMo.ttf);
}

@-webkit-keyframes moving {
  0% {
    -webkit-transform: perspective(100rem) translateZ(0);
            transform: perspective(100rem) translateZ(0);
  }
  50% {
    -webkit-transform: perspective(100rem) translateZ(5rem);
            transform: perspective(100rem) translateZ(5rem);
  }
  100% {
    -webkit-transform: perspective(100rem) translateZ(0rem);
            transform: perspective(100rem) translateZ(0rem);
  }
}

@keyframes moving {
  0% {
    -webkit-transform: perspective(100rem) translateZ(0);
            transform: perspective(100rem) translateZ(0);
  }
  50% {
    -webkit-transform: perspective(100rem) translateZ(5rem);
            transform: perspective(100rem) translateZ(5rem);
  }
  100% {
    -webkit-transform: perspective(100rem) translateZ(0rem);
            transform: perspective(100rem) translateZ(0rem);
  }
}

body {
  text-align: center;
  background: radial-gradient(ellipse at bottom, #0f0c29 0%, #302b63 100%);
}

.bigBox {
  display: inline-block;
  width: 140rem;
  height: 100vh;
  background-image: url("./IMG/backImg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.bigBox .buttonBox {
  margin-left: 60rem;
  width: 60rem;
  height: 20rem;
}

.bigBox .buttonBox [class*='Button'] {
  font-size: 15rem;
}

.bigBox .buttonBox [class*='Button']:hover {
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: perspective(50rem) translateZ(10rem);
          transform: perspective(50rem) translateZ(10rem);
}

.bigBox .buttonBox [class*='userButton'] {
  display: inline-block;
  width: 33%;
  height: 100%;
}

.bigBox .buttonBox [class*='userButton'] img {
  width: 100%;
  height: 100%;
}

.bigBox .userCoin {
  position: absolute;
  top: 35%;
  left: 0;
  width: 12rem;
  height: 12rem;
}

.bigBox .userCoin img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.bigBox .userCoin:hover {
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: translateY(-13%);
          transform: translateY(-13%);
}

.bigBox .userHeart {
  opacity: 0;
  width: 20rem;
  height: 10rem;
  margin-top: 17rem;
  margin-left: 22rem;
}

.bigBox .userHeart div {
  float: left;
  width: 50%;
  height: 100%;
}

.bigBox .userHeart img {
  display: inline-block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.bigBox .userHeart p {
  display: inline-block;
  font-size: 4rem;
  line-height: 10rem;
  font-family: 'DungGeunMo',sans-serif;
  margin-left: 0.5rem;
}

.bigBox .winOrLose {
  width: 70rem;
  height: 18rem;
  margin-left: 37rem;
}

.bigBox .winOrLose img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.bigBox .comHand {
  width: 10rem;
  height: 11rem;
  margin-left: 29rem;
  position: relative;
}

.bigBox .comHand .resultText {
  font-size: 10rem;
}

.bigBox .comHand .npc {
  opacity: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.bigBox .comHand #comHand {
  position: absolute;
  top: 1rem;
  left: 7rem;
  width: 9rem;
  height: 10rem;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.bigBox .introText {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 35%;
  -webkit-animation: moving 2s ease-in-out infinite;
          animation: moving 2s ease-in-out infinite;
}

.bigBox .introText img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=game.css.map */