@charset "utf-8";

    * {
      margin: 0;
      padding: 0;
      background-color: #59667a;
    }

    body {
      font-family: 'Nanum Gothic', sans-serif;
    }

    [class *='Btn'] {
      width: 3rem;
      height: 3rem;
      text-align: center;
      line-height: 3rem;
      border-radius: 50%;
      box-shadow: 0.1rem 0.1rem 0.8rem #3e454f;
      background-color: #E9EAEC;
      color: #ee8315;

    }

    [class *='Btn']:hover {
      transition: all 0.1s linear;
      background-color: #d6d6d6;
      cursor: pointer;
    }

    fieldset {
      border: none;
    }

    .addBtn {
      font-size: 2rem;
      position: fixed;
      top: 80%;
      left: 25%;
    }

    .miusBtn {
      font-size: 2rem;
      position: fixed;
      top: 80%;
      left: 40%;
    }

    .mulBtn {
      font-size: 2rem;
      position: fixed;
      top: 80%;
      left: 55%;
    }

    .resultBtn {
      font-size: 2rem;
      position: fixed;
      top: 80%;
      left: 70%;
    }

    /*  Btn   */
    .arrBBox{
      position: absolute;
      top: 10%;
      left: 30%;

    }
    .matirxArr {
      width: 18.7rem;
      display: inline-block;
      position: absolute;
      top: 10%;
      left: 10%;
    }



    legend {
      text-align: center;
      color: #E9EAEC;

    }

    [class *='inputArr'] {
      text-align: center;
      line-height: 2.7rem;
      width: 3.6rem;
      height: 2.7rem;
      border: none;
      border-radius: 0.7rem;
      box-shadow: 0.1rem 0.1rem 0.8rem #3e454f;
      background-color: #E9EAEC;

    }

    .inputArrABtn {
      font-weight: bold;
      margin-top: 1rem;
      display: inline-block;
      width: 2.5rem;
      height: 2.7rem;
      margin-left: 1rem;
    }


    .inputArrAX {
      margin-left: 2rem;
    }

    .inputArrAY {
      margin-left: 1rem;
    }

    .arrAXY {
      margin-top: 1rem;
      margin-left: 1.5rem;

    }

    .arrA {
      width: 2.3rem;
      height: 1.8rem;
      border-radius: 0.7rem;
      box-shadow: 0.1rem 0.1rem 0.8rem #3e454f;
      background-color: #E9EAEC;
      margin: 0.5rem;
      border: none;
    }

    p {
      display: inline-block;
      color: #E9EAEC;
      margin-left: 1rem;
    }