doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 알프스 마을
    link(rel="stylesheet", href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css")
    link(rel="stylesheet", href="./main.css")
    script(src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous") 
    script(src="./main.js") 
  body
    nav
      button#navBtn.navBtn
        .waveOne
          .cleover
      .navListBtn#navListBtn
      
        button#navXBtn
          i.xi-close
        h1 알프스 마을
        a(href="#mainBox") home
        a(href="#mainBox") 축제소개
        a(href="#mainBox") 먹거리
        a(href="#mainBox") 안내사항
      .blackBackgruond#blackBackgruond
    .wave
      .waveOne
      .waveTitel

    .mainTextBox
      h1.mainText#mainText 알프스 마을<br>Alps Village
    .mainImgBox
        img(src="./img/main_1.jpeg", alt="알프스마을의 거대한 분수얼음")
    .mainBox

