@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeferiPoint-WhiteA';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YUniverse-L';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-L.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes colorchange {
  0% {
    text-shadow: 0;
  }
  50% {
    text-shadow: 0rem 0rem 0.8rem #ffba00;
  }
  100% {
    text-shadow: 0;
  }
}

@keyframes colorchange {
  0% {
    text-shadow: 0;
  }
  50% {
    text-shadow: 0rem 0rem 0.8rem #ffba00;
  }
  100% {
    text-shadow: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-family: 'GmarketSansMedium';
  background: url("../../../img/film-strip-svgrepo-com.svg");
  width: 100%;
  font-size: 10px;
  background: whitesmoke;
  height: 100vh;
  color: #3d3a54;
  background: #1a1f33;
  background: linear-gradient(200deg, #465fa4 10%, #657bb8 30%, #f3b4d8 100%);
}

body button,
html button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: 'GmarketSansMedium';
}

.countermodalwapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}

.countermodalwapper .count_title {
  font-size: 2.5rem;
  letter-spacing: 0.4rem;
  -webkit-transform: translate(1rem);
          transform: translate(1rem);
  color: #fff1bc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  animation: colorchange 4s linear infinite reverse;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
}

.countermodalwapper .countPersonsection {
  width: 62rem;
  height: 60rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  background: #3d3a54;
  text-align: center;
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #16142b;
          box-shadow: 0.2rem 0.8rem 3rem #16142b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1rem;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.countermodalwapper .countPersonsection .counterresult {
  width: 62rem;
  height: 20%;
}

.countermodalwapper .countPersonsection .counterresult #submitperson {
  font-family: 'GmarketSansMedium';
  font-weight: 900;
  border: none;
  width: 15rem;
  outline: none;
  padding: 1rem;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #15192432;
          box-shadow: 0.2rem 0.8rem 3rem #15192432;
  font-size: 2.5rem;
  background: #16142b89;
  color: #f3b4d8;
  border-radius: 3rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.countermodalwapper .countPersonsection .counterresult #submitperson:active,
.countermodalwapper .countPersonsection .counterresult #submitperson:hover,
.countermodalwapper .countPersonsection .counterresult #submitperson:focus {
  background: #ffe277;
  color: #ffba00;
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
          box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
}

.countermodalwapper .countPersonsection .counterresult h1,
.countermodalwapper .countPersonsection .counterresult i {
  font-size: 3rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.countermodalwapper .countPersonsection .counterresult i {
  cursor: pointer;
}

.countermodalwapper .countPersonsection .counterresult i:hover {
  color: #ea85b4;
}

.countermodalwapper .countPersonsection .countprice {
  height: 15rem;
  width: 100%;
  background: #16142b;
}

.countermodalwapper .countPersonsection .Adult,
.countermodalwapper .countPersonsection .junior,
.countermodalwapper .countPersonsection .disabled,
.countermodalwapper .countPersonsection .old {
  -webkit-transform: translate(6rem);
          transform: translate(6rem);
  letter-spacing: 0.2rem;
  margin: 0.5rem;
  color: #f3b4d8;
  text-align: center;
  text-shadow: 0rem 0rem 0.8rem #1a1f33;
}

.countermodalwapper .countPersonsection .Adult i,
.countermodalwapper .countPersonsection .junior i,
.countermodalwapper .countPersonsection .disabled i,
.countermodalwapper .countPersonsection .old i {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.countermodalwapper .countPersonsection .Adult i:hover,
.countermodalwapper .countPersonsection .junior i:hover,
.countermodalwapper .countPersonsection .disabled i:hover,
.countermodalwapper .countPersonsection .old i:hover {
  color: #ea85b4;
}

.countermodalwapper .countPersonsection .Adult h2,
.countermodalwapper .countPersonsection .junior h2,
.countermodalwapper .countPersonsection .disabled h2,
.countermodalwapper .countPersonsection .old h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  background: transparent;
  -webkit-transform: translate(-11rem, 1rem);
          transform: translate(-11rem, 1rem);
  width: 10rem;
  text-align: center;
  position: absolute;
  height: 4rem;
  line-height: 4rem;
  border-radius: 2rem;
}

.countermodalwapper .countPersonsection .countmodalheader {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 62rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 7rem;
}

.countermodalwapper .countPersonsection button {
  cursor: pointer;
}

.countermodalwapper .countPersonsection .cutbtn {
  border: none;
  font-family: 'GmarketSansMedium';
  margin: 0.4rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding: 1rem;
  font-size: 2rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #f3b4d8;
  border-radius: 1rem;
  cursor: pointer;
  background-color: transparent;
}

.countermodalwapper .countPersonsection .cutbtn:hover,
.countermodalwapper .countPersonsection .cutbtn:active {
  background: #ffe277;
  color: #ffba00;
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
          box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
}

.modalwapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}

.modalwapper .modal__header {
  text-align: center;
  border-bottom: 0.3rem dashed #1a1f33;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 9rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modalwapper .modal__header h1 {
  font-size: 3rem;
  padding: 1rem;
  letter-spacing: 0.4rem;
}

.modalwapper .modal__header h1::before {
  content: '\f00c';
  color: #f3b4d8;
  font-family: 'Font Awesome 6 free';
  font-weight: 900;
  padding-right: 1rem;
}

.modalwapper .modal__header i {
  cursor: pointer;
  color: #f3b4d8;
  font-size: 3rem;
  line-height: 10rem;
  -webkit-transform: translate(10rem);
          transform: translate(10rem);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modalwapper .modal__header i:hover {
  color: #655777;
}

.modalwapper .modal_body {
  width: 60rem;
  height: 50rem;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #1a1f33;
  background: #fff;
  border-radius: 1.5rem;
  text-align: center;
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #16142b;
          box-shadow: 0.2rem 0.8rem 3rem #16142b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modalwapper .modal_body button {
  font-family: 'GmarketSansMedium';
  font-weight: 900;
  border: none;
  width: 15rem;
  outline: none;
  padding: 1rem;
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #15192432;
          box-shadow: 0.2rem 0.8rem 3rem #15192432;
  font-size: 2.5rem;
  background: #465fa4;
  color: #f3b4d8;
  border-radius: 3rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.modalwapper .modal_body .modalinfo {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalwapper .modal_body .modalinfo h2 {
  font-size: 2rem;
  padding: 1rem;
}

.modalwapper .modal_body .modalinfo h2::before {
  content: '\f00c';
  color: #f3b4d8;
  font-family: 'Font Awesome 6 free';
  font-weight: 900;
  padding-right: 1rem;
}

.modalwapper .modal_body .modalinfo p {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}

.moviewapper {
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  width: 72rem;
  height: 100rem;
  margin: auto;
  background: #1a1f33;
  background: linear-gradient(220deg, #3d3a54 0%, #1a1f33e3 20%, #655777 100%);
}

.moviewapper #playerarea {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.moviewapper #playerarea .head__infor {
  -webkit-box-shadow: 0rem 3rem 8rem #2e2f4873;
          box-shadow: 0rem 3rem 8rem #2e2f4873;
  background: #1a1f33;
  z-index: 1;
  height: 10rem;
  border-radius: 0rem 0rem 3rem 3rem;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.moviewapper #playerarea .head__infor span {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 9.8rem;
  text-shadow: 0rem 2rem 3rem #16142b62;
  color: #f3b4d8;
}

.moviewapper .mainBox::-webkit-scrollbar {
  width: none;
  display: none;
}

.moviewapper .mainBox {
  width: 100%;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 80rem;
}

.moviewapper .mainBox .main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.moviewapper .mainBox .main__body h1 {
  color: #655777;
  font-size: 3rem;
  margin: auto;
}

.moviewapper .moviefooter {
  background: #1a1f33;
  width: 100%;
  height: 12rem;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  display: inline-block;
  text-align: center;
  text-align: center;
  border-radius: 3rem 3rem 0rem 0rem;
  -webkit-box-shadow: 0rem -3rem 8rem #2e2f4873;
          box-shadow: 0rem -3rem 8rem #2e2f4873;
}

.moviewapper .moviefooter a {
  text-decoration: none;
}

.moviewapper .moviefooter i {
  color: #655777;
  line-height: 11.8rem;
  font-size: 4rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.moviewapper .moviefooter i:hover {
  color: #ffe277;
  text-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
}

.moviewapper .moviefooter i:nth-child(1) {
  -webkit-transform: translate(-28rem);
          transform: translate(-28rem);
}

.moviewapper .moviefooter i:nth-child(2) {
  -webkit-transform: translate(28rem);
          transform: translate(28rem);
}

.opacityscroll {
  visibility: hidden;
  opacity: 0;
}

.check {
  background: #ffe277;
  color: #ffba00;
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
          box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
}

.reCeiptBody {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 40%;
  width: 70%;
  height: 100%;
  overflow: hidden;
  background: #f3b4d8;
  background-image: url("../img/blob-haikei.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0rem 5rem 8rem #2e2f48;
          box-shadow: 0rem 5rem 8rem #2e2f48;
  border-bottom: 0.4rem dashed #383751;
}

.reCeiptBody .reCeipheader {
  height: 40%;
  width: 100%;
  border-bottom: 0.3rem dashed #1a1f33;
}

.reCeiptBody .reCeipheader .receipinfoheader {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  height: 25%;
  text-align: center;
}

.reCeiptBody .reCeipheader .receipinfoheader .receipinfointro {
  font-size: 2rem;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.reCeiptBody .reCeipheader .receipinfoheader .forceLogo {
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 0.5rem;
}

.reCeiptBody .reCeipheader .receipinfoheader .receipinfoheadertitle {
  font-size: 5rem;
  word-break: keep-all;
  letter-spacing: 0.2rem;
  color: #3d3a54;
  padding: 2rem;
}

.reCeiptBody .reCeipheader .holesleft,
.reCeiptBody .reCeipheader .holesright {
  width: 5rem;
  height: 5rem;
  background-color: #383751;
  border-radius: 50%;
  -webkit-transform: translate(-3rem, 30rem);
          transform: translate(-3rem, 30rem);
}

.reCeiptBody .reCeipheader .holesright {
  -webkit-transform: translate(48rem, 24.5rem);
          transform: translate(48rem, 24.5rem);
  background: #2e2f48;
}

.reCeiptBody .reCeipinfo {
  height: 45%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reCeiptBody .reCeipinfo .rcifo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 78%;
  height: 12%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  border-bottom: 0.1rem #1a1f33;
}

.reCeiptBody .reCeipinfo .rcifotitle,
.reCeiptBody .reCeipinfo .rcifomation {
  letter-spacing: 0.3rem;
  color: #1a1f33;
}

.reCeiptBody .reCeipinfo .rcifotitle {
  font-size: 2rem;
}

.reCeiptBody .reCeipinfo .rcifomation {
  font-size: 1.5rem;
}

.reCeiptBody .rcifo:nth-child(5) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.reCeiptBody .rcifo:nth-child(5) > h3 {
  font-size: 3rem;
}

.reCeiptBody .reCeipfooter {
  height: 15%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 0.3rem dashed #1a1f33;
}

.reCeiptBody .receiptBtn {
  border: none;
  font-size: 3rem;
  cursor: pointer;
  background: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  letter-spacing: 0.3rem;
  width: 20rem;
  height: 10rem;
  color: #3d3a54;
}

.receiptBtn:hover {
  color: #fff;
}
/*# sourceMappingURL=receipt.css.map */