@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

html, body {
  font-family: 'Orbitron', sans-serif;
  background-color: #313C4D;
}

.btnBox {
  background-color: #e9eaee;
  -webkit-box-shadow: -0.2rem -0.2rem 0.3rem #5b6679, 0.5rem 0.5rem 1.3rem #0c2034;
          box-shadow: -0.2rem -0.2rem 0.3rem #5b6679, 0.5rem 0.5rem 1.3rem #0c2034;
  width: 25rem;
  height: 7rem;
  border-radius: 2rem;
  position: fixed;
  top: 80%;
  left: 50%;
  margin-left: -15rem;
  text-align: center;
}

.btnBox [class*="Btn"] {
  background-color: #e9eaee;
  -webkit-box-shadow: -0.1rem -0.1rem 0.3rem #fff, 0.3rem 0.3rem 0.3rem #aeaec0;
          box-shadow: -0.1rem -0.1rem 0.3rem #fff, 0.3rem 0.3rem 0.3rem #aeaec0;
  color: #E89123;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 50%;
}

.btnBox [class*="Btn"]:hover {
  -webkit-box-shadow: inset 0.3rem 0.3rem 0.3rem #aeaec0, 0.3rem 0.3rem 0.3rem #fff;
          box-shadow: inset 0.3rem 0.3rem 0.3rem #aeaec0, 0.3rem 0.3rem 0.3rem #fff;
  cursor: pointer;
}

.arrABox {
  width: 35rem;
  text-align: center;
  position: absolute;
  top: 7%;
  left: 10%;
}

.arrAInputBox {
  background-color: #e9eaee;
  -webkit-box-shadow: -0.2rem -0.2rem 0.3rem #5b6679, 0.5rem 0.5rem 1.3rem #0c2034;
          box-shadow: -0.2rem -0.2rem 0.3rem #5b6679, 0.5rem 0.5rem 1.3rem #0c2034;
  text-align: center;
  width: 20rem;
  height: 7rem;
  border-radius: 1rem;
}

.arrAInputBox div {
  background-color: #e9eaee;
  -webkit-box-shadow: -0.1rem -0.1rem 0.3rem #fff, 0.3rem 0.3rem 0.3rem #aeaec0;
          box-shadow: -0.1rem -0.1rem 0.3rem #fff, 0.3rem 0.3rem 0.3rem #aeaec0;
  display: inline-block;
  width: 6rem;
  height: 4rem;
  font-size: 1.5rem;
  margin: 1.5rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  line-height: 4rem;
}

.arrAInputBox div:hover {
  -webkit-box-shadow: inset 0.3rem 0.3rem 0.3rem #aeaec0, 0.3rem 0.3rem 0.3rem #fff;
          box-shadow: inset 0.3rem 0.3rem 0.3rem #aeaec0, 0.3rem 0.3rem 0.3rem #fff;
  cursor: pointer;
  color: #aeaec0;
}

.matirxArr {
  display: none;
  background-color: #e9eaee;
  -webkit-box-shadow: -0.2rem -0.2rem 0.3rem #5b6679, 0.5rem 0.5rem 1.3rem #0c2034;
          box-shadow: -0.2rem -0.2rem 0.3rem #5b6679, 0.5rem 0.5rem 1.3rem #0c2034;
  text-align: center;
  width: 35rem;
  border-radius: 1rem;
  margin-top: 2rem;
}

.matirxArr fieldset {
  border: none;
  width: 35rem;
}

.matirxArr .arrA {
  background-color: #e9eaee;
  -webkit-box-shadow: -0.1rem -0.1rem 0.3rem #fff, 0.3rem 0.3rem 0.3rem #aeaec0;
          box-shadow: -0.1rem -0.1rem 0.3rem #fff, 0.3rem 0.3rem 0.3rem #aeaec0;
  display: inline-block;
  width: 4rem;
  height: 3rem;
  font-size: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

.matirxArr input::-webkit-outer-spin-button,
.matirxArr input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.matirxArr input[type=number] {
  -moz-appearance: textfield;
}
/*# sourceMappingURL=matrix_calculator.css.map */