@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

html, body {
  font-family: 'Orbitron', sans-serif;
  background-color: #313C4D;
  text-align: center;
}

.mainBox {
  display: inline-block;
  width: 120rem;
}

.btnBox {
  background-color: #e9eaee;
  -webkit-box-shadow: -0.2rem -0.2rem 0.2rem #5b6679, 0.5rem 0.5rem 1.3rem #0c2034;
          box-shadow: -0.2rem -0.2rem 0.2rem #5b6679, 0.5rem 0.5rem 1.3rem #0c2034;
  width: 7rem;
  height: 25rem;
  border-radius: 2rem;
  position: fixed;
  top: 50%;
  right: 3%;
  margin-top: -12.5rem;
  text-align: center;
}

.btnBox [class*="Btn"] {
  background-color: #e9eaee;
  -webkit-box-shadow: -0.1rem -0.1rem 0.3rem #fff, 0.3rem 0.3rem 0.3rem #aeaec0;
          box-shadow: -0.1rem -0.1rem 0.3rem #fff, 0.3rem 0.3rem 0.3rem #aeaec0;
  color: #E89123;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 50%;
}

.btnBox [class*="Btn"]:first-child {
  margin-top: 3rem;
}

.btnBox [class*="Btn"]:hover {
  -webkit-box-shadow: inset 0.3rem 0.3rem 0.3rem #aeaec0, 0.3rem 0.3rem 0.3rem #fff;
          box-shadow: inset 0.3rem 0.3rem 0.3rem #aeaec0, 0.3rem 0.3rem 0.3rem #fff;
  cursor: pointer;
}

.arrBoxA {
  display: inline-block;
  width: 50%;
  float: left;
  text-align: center;
  margin-top: 10%;
}

.arrBoxA .arrABtnBox {
  display: inline-block;
  background-color: #e9eaee;
  -webkit-box-shadow: -0.2rem -0.2rem 0.2rem #5b6679, 0.5rem 0.5rem 1.3rem #0c2034;
          box-shadow: -0.2rem -0.2rem 0.2rem #5b6679, 0.5rem 0.5rem 1.3rem #0c2034;
  width: 45rem;
  height: 7rem;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 5%;
}

.arrBoxA .arrABtnBox input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  text-align: right;
  padding-right: 0.5rem;
  font-size: 2rem;
  font-family: 'Orbitron', sans-serif;
}

.arrBoxA .arrABtnBox div {
  background-color: #e9eaee;
  -webkit-box-shadow: -0.1rem -0.1rem 0.3rem #fff, 0.3rem 0.3rem 0.3rem #aeaec0;
          box-shadow: -0.1rem -0.1rem 0.3rem #fff, 0.3rem 0.3rem 0.3rem #aeaec0;
  display: inline-block;
  width: 6rem;
  height: 4rem;
  font-size: 1rem;
  margin: 1.5rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  line-height: 4rem;
  overflow: hidden;
}

.arrBoxA .arrABtnBox div i {
  font-size: 1.5rem;
  line-height: 4rem;
}

.arrBoxA .arrABtnBox div:hover {
  -webkit-box-shadow: inset 0.3rem 0.3rem 0.3rem #aeaec0, 0.3rem 0.3rem 0.3rem #fff;
          box-shadow: inset 0.3rem 0.3rem 0.3rem #aeaec0, 0.3rem 0.3rem 0.3rem #fff;
  cursor: pointer;
  color: #aeaec0;
}

.arrBoxA .arrABox {
  width: 50rem;
  display: inline-block;
}

.arrBoxA .arrABox input:first-child {
  margin-top: 2rem;
}

.arrBoxB {
  display: inline-block;
  width: 50%;
  float: left;
  text-align: center;
  margin-top: 10%;
}

.arrBoxB .arrBBtnBox {
  display: inline-block;
  background-color: #e9eaee;
  -webkit-box-shadow: -0.2rem -0.2rem 0.2rem #5b6679, 0.5rem 0.5rem 1.3rem #0c2034;
          box-shadow: -0.2rem -0.2rem 0.2rem #5b6679, 0.5rem 0.5rem 1.3rem #0c2034;
  width: 45rem;
  height: 7rem;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 5%;
  text-align: center;
}

.arrBoxB .arrBBtnBox .iIcon {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.arrBoxB .arrBBtnBox input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  text-align: right;
  padding-right: 0.5rem;
  font-size: 2rem;
  font-family: 'Orbitron', sans-serif;
}

.arrBoxB .arrBBtnBox button {
  float: right;
}

.arrBoxB .arrBBtnBox div, .arrBoxB .arrBBtnBox button {
  background-color: #e9eaee;
  -webkit-box-shadow: -0.1rem -0.1rem 0.3rem #fff, 0.3rem 0.3rem 0.3rem #aeaec0;
          box-shadow: -0.1rem -0.1rem 0.3rem #fff, 0.3rem 0.3rem 0.3rem #aeaec0;
  display: inline-block;
  width: 6rem;
  height: 4rem;
  font-size: 1rem;
  margin: 1.5rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  line-height: 4rem;
  overflow: hidden;
}

.arrBoxB .arrBBtnBox div i, .arrBoxB .arrBBtnBox button i {
  font-size: 1.5rem;
  line-height: 4rem;
}

.arrBoxB .arrBBtnBox div:hover {
  -webkit-box-shadow: inset 0.3rem 0.3rem 0.3rem #aeaec0, 0.3rem 0.3rem 0.3rem #fff;
          box-shadow: inset 0.3rem 0.3rem 0.3rem #aeaec0, 0.3rem 0.3rem 0.3rem #fff;
  cursor: pointer;
  color: #aeaec0;
}

.arrBoxB .arrBBox {
  width: 50rem;
  display: inline-block;
}

.arrBoxB .arrBBox input:first-child {
  margin-top: 2rem;
}

.matirxArrA, .matirxArrB {
  background-color: #e9eaee;
  -webkit-box-shadow: -0.2rem -0.2rem 0.2rem #5b6679, 0.5rem 0.5rem 1.3rem #0c2034;
          box-shadow: -0.2rem -0.2rem 0.2rem #5b6679, 0.5rem 0.5rem 1.3rem #0c2034;
  text-align: center;
  width: 50rem;
  border-radius: 1rem;
  margin-top: 2rem;
}

.matirxArrA .arrA, .matirxArrA .arrB, .matirxArrB .arrA, .matirxArrB .arrB {
  background-color: #e9eaee;
  -webkit-box-shadow: -0.1rem -0.1rem 0.3rem #fff, 0.3rem 0.3rem 0.3rem #aeaec0;
          box-shadow: -0.1rem -0.1rem 0.3rem #fff, 0.3rem 0.3rem 0.3rem #aeaec0;
  display: inline-block;
  width: 7rem;
  height: 3rem;
  font-size: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  margin-bottom: 2rem;
}

.matirxArrA input::-webkit-outer-spin-button,
.matirxArrA input::-webkit-inner-spin-button, .matirxArrB input::-webkit-outer-spin-button,
.matirxArrB input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.matirxArrA input[type=number], .matirxArrB input[type=number] {
  -moz-appearance: textfield;
}

.matirxArrR {
  display: none;
  background-color: #e9eaee;
  -webkit-box-shadow: -0.2rem -0.2rem 0.2rem #5b6679, 0.5rem 0.5rem 1.3rem #0c2034;
          box-shadow: -0.2rem -0.2rem 0.2rem #5b6679, 0.5rem 0.5rem 1.3rem #0c2034;
  text-align: center;
  width: 120rem;
  border-radius: 1rem;
  margin-top: 5%;
  margin-bottom: 2rem;
}

.matirxArrR input:first-child {
  margin-top: 2rem;
}

.matirxArrR .arrRS {
  background-color: #e9eaee;
  -webkit-box-shadow: -0.1rem -0.1rem 0.3rem #fff, 0.3rem 0.3rem 0.3rem #aeaec0;
          box-shadow: -0.1rem -0.1rem 0.3rem #fff, 0.3rem 0.3rem 0.3rem #aeaec0;
  display: inline-block;
  width: 22rem;
  height: 4rem;
  margin: 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.matirxArrR .arrRS .arrRinput {
  width: 20rem;
  height: 100%;
  outline: none;
  border: none;
  font-size: 1.3rem;
  text-align: right;
  margin-top: 0;
  margin-left: -1rem;
  font-family: 'Orbitron', sans-serif;
  background-color: rgba(0, 0, 0, 0);
}

.blackBox {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50rem;
  height: 7rem;
  margin-top: -3.5rem;
  margin-left: -25rem;
}

.blackBox p {
  font-size: 2rem;
  line-height: 7rem;
  font-family: 'Noto Sans KR', sans-serif;
}
/*# sourceMappingURL=matrix_calculator.css.map */