@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@mixin itemShadow {
  background-color: $backColor;
  box-shadow: -0.1rem -0.1rem 0.3rem #fff, 0.3rem 0.3rem 0.3rem #aeaec0; 
}
@mixin boxShadow {
  background-color: $backColor;
  box-shadow: -0.2rem -0.2rem 0.2rem #5b6679, 0.5rem 0.5rem 1.3rem #0c2034; 
}
@mixin itemClickShadow {
  box-shadow:inset 0.3rem 0.3rem 0.3rem #aeaec0, 0.3rem 0.3rem 0.3rem #fff;
  cursor: pointer;
}

$backColor: #e9eaee;

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

html, body{
  font-family: 'Orbitron', sans-serif;
  background-color: #313C4D;
  text-align: center;
}
.mainBox{
  display: inline-block;
  width: 120rem;
}
//사이드 버튼 css
.btnBox{
  @include boxShadow();
  width: 7rem;
  height: 25rem;
  border-radius: 2rem;
  position: fixed;
  top: 50%;
  right: 3%;
  margin-top: -12.5rem;
  text-align: center;

  [class*="Btn"]{
    @include itemShadow();
    color: #E89123;
    width: 5rem;
    height: 5rem;
    margin: 1rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 50%;
  }
  [class*="Btn"]:first-child{
    margin-top: 3rem;
  }
  [class*="Btn"]:hover{
    @include itemClickShadow();
  }
}

.arrBoxA{
  display: inline-block;
  width: 50%;
  float: left;
  text-align: center;
  margin-top: 10%;
  .arrABtnBox{
    display: inline-block;
    @include boxShadow();
    width: 45rem;
    height: 7rem;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 5%;

    
    input{
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      text-align: right;
      padding-right: 0.5rem;
      font-size: 2rem;
      font-family: 'Orbitron', sans-serif;
    }

    div{
      @include itemShadow();
      display: inline-block;
      width: 6rem;
      height: 4rem; 
      font-size: 1rem;
      margin: 1.5rem;
      border-radius: 1rem;
      outline: none;
      border: none;
      font-family: 'Orbitron', sans-serif;
      text-align: center;
      line-height: 4rem;
      overflow: hidden;
      i{
        font-size: 1.5rem;
        line-height: 4rem;
      }
    }
    div:hover{
      @include itemClickShadow();
      color: #aeaec0;
    }

  }
  .arrABox{
    width: 40rem;
    display: inline-block;
    input:first-child{
      margin-top: 2rem;
    }
  }
}

.arrBoxB{
  display: inline-block;
  width: 50%;
  float: left;
  text-align: center;
  margin-top: 10%;
  .arrBBtnBox{
    display: inline-block;
    @include boxShadow();
    width: 45rem;
    height: 7rem;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 5%;
    .iIcon{
      font-size: 2rem;
      margin-bottom: 3rem;
    }
    input{
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      text-align: right;
      padding-right: 0.5rem;
      font-size: 2rem;
      font-family: 'Orbitron', sans-serif;
    }
    div{
      @include itemShadow();
      display: inline-block;
      width: 6rem;
      height: 4rem; 
      font-size: 1rem;
      margin: 1.5rem;
      border-radius: 1rem;
      outline: none;
      border: none;
      font-family: 'Orbitron', sans-serif;
      text-align: center;
      line-height: 4rem;
      overflow: hidden;
      i{
        font-size: 1.5rem;
        line-height: 4rem;
      }
    }
    div:hover{
      @include itemClickShadow();
      color: #aeaec0;
    }
  }
  .arrBBox{
    width: 40rem;
    display: inline-block;
    input:first-child{
      margin-top: 2rem;
    }
  }
}


.matirxArrA, .matirxArrB {
  @include boxShadow();
  text-align: center;
  width: 40rem;
  border-radius: 1rem;
  margin-top: 2rem;

  .arrA, .arrB {
    @include itemShadow();
    display: inline-block;
    width: 4rem;
    height: 3rem; 
    font-size: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin-bottom: 2rem;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {//input:number 화살표 없애기 크롬,사파리 등등
  -webkit-appearance: none;}
  input[type=number] { //input:number 화살표 없애기 파이어폭스
    -moz-appearance: textfield;}
}

.matirxArrR{
  display: none;
  @include boxShadow();
  text-align: center;
  width: 100rem;
  border-radius: 1rem;
  margin-top: 5%;
  margin-bottom: 2rem;
  input:first-child{
    margin-top: 2rem;
  }



  .arrRS{
    @include itemShadow();
    display: inline-block;
    width: 17rem;
    height: 4rem;    
    margin: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem; 
    overflow: hidden;
    .arrRinput{
      width: 15rem;
      height: 100%;
      outline: none;
      border: none;
      font-size: 1.3rem;
      text-align: right;
      margin-top: 0;
      margin-left: -1rem;
      font-family: 'Orbitron', sans-serif;
      background-color: rgba($color: #000000, $alpha: 0);

    }
  }
}

.blackBox{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50rem;
  height: 7rem;
  margin-top: -3.5rem;
  margin-left: -25rem;
  p{
    font-size: 2rem;
    line-height: 7rem;

  }
}
