doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 알프스 얼음 축제
    link(rel="shortcut icon", href="./IMG/snowIcon.ico", type="image/x-icon")
    link(rel="stylesheet", href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css")
    link(rel="stylesheet", href="./iceFestival.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="./iceFestival.js")


  body
    .snowBox#snowBox
    .introBox#introBox
      .snowBox2#snowBox2
      img(src="./IMG/mainimg/main_1.png", alt="얼음분수")
      button.moreBtn#moreBtn 자세히 보기
    .mainBox#mainBox 
      button.notiBtn
      .penguinBox#penguinBox
        .penguinTextBox
          h3 그림을 클릭해 보세요~
      .mapBox
        .sleighBtn#sleighBtn
        .iceFountainBtn#iceFountainBtn
        .caveBtn#caveBtn
        .iglooBtn#iglooBtn
        .foodBtn#foodBtn
        .palaceBtn#palaceBtn
        .snowmenBtn#snowmenBtn


      .displayBox#displayBox
        .popUpBox
          button.closeBtn#closeBtn
            i.xi-angle-left
          .imgBox
            img#imgBox(src="", alt="")
          .textBox
       




    


    
  