doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 알프스 얼음 축제
    link(rel="shortcut icon", href="./IMG/snowIcon.ico", type="image/x-icon")
    link(rel="stylesheet", href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css")
    link(rel="stylesheet", href="./iceFestival.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="./iceFestival.js")


  body
    .snowBox#snowBox
    .introBox#introBox
      .snowBox2#snowBox2
      .introBoxText
        h1#introBoxText 알프스 겨울왕국의<br>크고 아름다운 <p>얼음분수</p>
      img(src="./IMG/mainimg/main_1.png", alt="얼음분수")
      button.moreBtn#moreBtn 자세히 보기
    
    button.notiBtn#notiBtn
    .sideBox#sideBox
      .snowBox
        .mapBtn#mapBtn
        .anneBtn#anneBtn
        .priceBtn#priceBtn
        
      .contentBox
        .contentImgBox#contentImgBox
          img#contentImg(src="./IMG/anne.png")
          iframe.mapTag(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25687.768745589576!2d126.89635896135094!3d36.40989467194926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357a9835a795013b%3A0xc1c6746411eaac7e!2z7LKt7JaR6rWwIOyVjO2UhOyKpOuniOydhA!5e0!3m2!1sko!2skr!4v1645367957869!5m2!1sko!2skr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy")    
        .contentTextBox#contentTextBox
          ul
            h1 주의사항
            li 개인 썰매 반입금지(썰매 이용권 구매 후 썰매 이용 가능)
            li 음식물 반입 금지, 애완동물 반입 금지
            li 눈 으로만 구경 가능 (얼음 조각, 눈조각, 얼음 분수등)
            li 바닥이 미끄러우니 조심하시고, 놀이시설 이용시 안전에 유의 바랍니다.
            li 주간개장을 이용 할 시 오후 5시에 일괄 퇴장 합니다.
            li 주말 버스 출입금지

    
    .mainBox#mainBox 
      .penguinBox#penguinBox
        .penguinTextBox
          h3 그림을 클릭해 보세요~
      .mapBox
        .sleighBtn#sleighBtn
        .iceFountainBtn#iceFountainBtn
        .caveBtn#caveBtn
        .iglooBtn#iglooBtn
        .foodBtn#foodBtn
        .palaceBtn#palaceBtn
        .snowmenBtn#snowmenBtn
        .ziptrackBtn#ziptrackBtn
      p.potText 본 홈페이지는 포트폴리오용 입니다. 

      .displayBox#displayBox
        .popUpBox
          button.closeBtn#closeBtn
            i.xi-angle-left
          .imgBox
            img#imgBox(src="", alt="")
            .imgRBtn#imgRBtn
              i.xi-angle-right
            .imgLBtn#imgLBtn
              i.xi-angle-left
          .textBox#textBox
