doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 알프스 얼음 축제
    link(rel="stylesheet", href="./iceFestival.css")
    script(src="./iceFestival.js") 
  body
    .introBox
      img(src="./IMG/main_1.png", alt="얼음분수")
      button.moreBtn MORE
    .mainBox
      .mapBox
        img(src="./IMG/map.png", alt="지도")
    


    
  