@charset "utf-8";
// maincolor1

$subcolor_1: #fff;

// maincolor2
$main2_black: #08030a;
$main2_black2: #3d3a54;
$main2_green: #1a1f33;
$main2_pink: #ffba00;
$main2_fff2: #f3b4d8;
$main2_white: #655777;

//maincolor3
$main_1: #1a1f33;
$main_4: #465fa4;
$main_2: #f3b4d8;
$main_3: #ea85b4;

@mixin center() {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@mixin modal {
}
@font-face {
	font-family: 'S-CoreDream-4Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'LeferiPoint-WhiteA';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GmarketSansLight';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'YUniverse-L';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-L.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@keyframes colorchangepaytitle {
	100% {
		opacity: 1;
	}
}
@keyframes colorchange {
	0% {
		text-shadow: 0;
	}
	50% {
		text-shadow: 0rem 0rem 0.8rem $main2_pink;
	}
	100% {
		text-shadow: 0;
	}
}

* {
	margin: 0;
	padding: 0;
}
*::before,
*::after {
	box-sizing: border-box;
}

body,
html {
	font-family: 'GmarketSansMedium';
	// scroll-behavior: auto;
	background: url('../../../img/film-strip-svgrepo-com.svg');
	width: 100%;
	font-size: 10px;
	background: whitesmoke;
	height: 100vh;
	color: $main2_black2;
	background: $main_1;
	background: linear-gradient(200deg, $main_4 10%, #657bb8 30%, $main_2 100%);

	button {
		appearance: none;
		font-family: 'GmarketSansMedium';
	}
}
//포인트적립모달//
.receiptModal {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 20;
	text-align: center;
	transition: 1s;
	background: #16142b85;
	backdrop-filter: blur(1rem);
	

	h2 {
		font-size:3rem;
		width: 30%;
		transform: translate(8rem);
		margin:1rem;
		padding:2rem;
		float: left;
		border:.2rem solid $main2_fff2;
		border-radius: 7rem;
		color:$subcolor_1;
		letter-spacing: .2rem;
		transition: .6s;
	}
	h2:hover {
		cursor: pointer;
		color:$main2_fff2;
		background: $subcolor_1;
	}
	h1 {
		width: 75%;
		transform: translate(12%);
		font-size:3rem;
		letter-spacing: .2rem;
		color: $subcolor_1;
		padding:2rem;
		border: .2rem solid $main2_fff2;
		border-radius: 6rem;
	}
	.reciptmodalbody {
		@include center();
		width: 100%;
		height: 60%;
		perspective: 20rem;
		perspective-origin: 20%;

		.scanPhone {
			box-shadow: 2rem 2rem 4rem $main2_fff2;
			width: 40%;
			height: 30%;
			background:rgb(255, 255, 255);
			transform: translate(7rem,12rem) rotateY(10deg);
			border-radius: 2rem;
			
			.readbacod {
				width: 80%;
				height: 70%;
				transform: translate(3rem,2.5rem);
				background: linear-gradient(190deg,$main2_fff2 40%, #fff);
				border-radius: 1rem;
				overflow: hidden;
				perspective: 10rem;
				.readbacodscreen {
					width: 100%;
					height: 100%;
					background:linear-gradient(20deg,$main2_fff2, rgba(255, 255, 255, 0.664));
					box-shadow: inset 3rem 4rem 3rem #ffe2f29f;
					transform: translate(-6rem, 0.5rem) rotateX(-50deg);


				}	.readbacodbottm {
						width: 100%;
						height: 70%;	
						transform: translate(-5.5rem,-6rem) rotateX(100deg);
						background: linear-gradient(30deg,#fff, $main2_fff2);
					}
				
					
			}
		}
	}
	
	.pointphone {
		width: 12rem;
		height: 20rem;
		border-radius: .5rem;
		transform: translate(-4rem);
		backdrop-filter: blur(.4rem);
		box-shadow: 2rem 0rem 6rem $main2_fff2;
		background: #fff;
		img {
			width: 16rem;
			transform:rotate(90deg) translate(5rem,3rem);
			
		}
	}
	.phone {
	
		width: 10rem;
		height: 25rem;
		background: linear-gradient(-50deg, $main_4 10%, #657bb8 30%, $main_2 100%);
		box-shadow: 0rem 2rem 8rem #16142b85;
		padding:2rem;
		border-radius: 1rem;
		margin-left:5rem;
		transform: rotateY(-5deg) translate(35rem,-10rem);
		
	}
	.barcode_line {
	  width: 100%;
	  height: 1rem;
	  box-shadow: -3rem 2rem 5rem $main2_fff2;
	  position: absolute;
	  transition: 2s;
	  transform: translateY (15rem);
	  background: #ffd7ee;
	  animation: translatebox 6s linear infinite reverse;
	 	img{

			margin-top: 2rem;
		}
	}
}
@keyframes translatebox {
	0% {
		transform: translateY(0rem);
	}
	50% {
		transform: translateY(19rem);
	}
	100% {
		transform: translateY(0rem);
	}
}
.moviewapper {
	backdrop-filter: blur(0.5rem);
	width: 72rem;
	height: 100rem;
	margin: auto;
	background: $main2_green;
	background: linear-gradient(220deg, #3d3a54 0%, #1a1f33e3 20%, rgba(101, 87, 119, 1) 100%);

	// 헤더
	#playerarea {
		width: 100%;
		display: flex;
		text-align: center;
		flex-direction: column;

		.head__infor {
			box-shadow: 0rem 3rem 8rem #2e2f4873;
			background: $main2_green;
			z-index: 1;
			height: 10rem;
			border-radius: 0rem 0rem 3rem 3rem;
			width: 100%;
			text-align: center;
			display: flex;
			justify-content: space-around;

			.timewapper {
				font-size: 2rem;
				letter-spacing: 0.2rem;
				display: inline-block;
				line-height: 9.8rem;
				text-shadow: 0rem 2rem 3rem #16142b62;
				color: $main2_fff2;
				
			}
			
			.timewapper:first-child {
				position: absolute;
				transform: translate(-25rem);
			}
			
			.timewapper:last-child {
				transform: translate(25rem);
				position: absolute;
			}
		
		}
	}
	// 헤더다음에 나오는 몸통박스 //
	.mainBox::-webkit-scrollbar {
		width: none;
		display: none;
	}
	.mainBox {
		width: 100%;
		overflow-y: auto;
		box-sizing: border-box;
		height: 80rem;

		.main__body {
			display: flex;
			flex-direction: column;
			height: 100%;

			h1 {
				color: $main2_white;
				font-size: 3rem;
				margin: auto;
			}
		}
	}
	// footer
	.moviefooter {
		background: $main_1;
		width: 100%;
		height: 12rem;
		transform: translateY(-2rem);
		display: inline-block;
		text-align: center;
		text-align: center;
		border-radius: 3rem 3rem 0rem 0rem;
		box-shadow: 0rem -3rem 8rem #2e2f4873;

		a {
			text-decoration: none;
		}

		i {
			color: $main2_white;
			line-height: 11.8rem;
			font-size: 4rem;
			cursor: pointer;
			transition: 0.3s;
		}
		i:hover {
			color: #ffe277;
			text-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
		}
		i:nth-child(1) {
			transform: translate(-28rem);
		}
		i:nth-child(2) {
			transform: translate(28rem);
		}
	}
}
.opacityscroll {
	visibility: hidden;
	opacity: 0;
}
.check {
	background: #ffe277;
	color: $main2_pink;
	box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
}

//receipt

.reCeiptBody {
	@include center;
	top: 30%;
	transition: 2s;
	width: 70%;
	height: 100%;
	opacity: 0;
	overflow: hidden;
	background: $main2_fff2;

	background-size: 100%;
	background-repeat: no-repeat;
	box-shadow: 0rem 5rem 8rem #2e2f48;
	border-bottom: 0.4rem dashed rgb(56, 55, 81);
	.backIcon{
		font-size: 30rem;
		position: absolute;
		z-index: -1;
		top: 35%;
		left: 50%;
		margin-left: -15rem;
		color: rgba($color: #BA7FA1 , $alpha: 0.5);
	}
	.reCeipheader {
		height: 45%;
		width: 100%;
		border-bottom: 0.3rem dashed $main2_green;
		.receipinfoheader {
			position: absolute;
			box-sizing: border-box;
			width: 100%;
			transform: translateY(50%);
			height: 30%;
			text-align: center;
			.receipinfointro {
				font-size: 1.5rem;
				transform: translateY(1rem);
			}

			.forceLogo {
				font-size: 1.5rem;
				color: #fff;
				letter-spacing: 0.5rem;
			}

			.receipinfoheadertitle {
				font-size: 5rem;
				word-break: keep-all;
				letter-spacing: 0.2rem;
				color: $main2_black2;
				padding: 2rem;
			}
		}

		.holesleft,
		.holesright {
			width: 5rem;
			height: 5rem;
			background-color: #383751;
			border-radius: 50%;
			transform: translate(-3rem, 33.5rem);
		}
		.holesright {
			transform: translate(48rem, 28.5rem);
			background: #2e2f48;
		}
	}
	.reCeipinfo {
		height: 40%;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;

		.rcifo {
			display: flex;
			width: 78%;
			height: 12%;
			align-items: center;
			justify-content: space-between;
			text-align: center;
		}

		.rcifotitle,
		.rcifomation {
			letter-spacing: 0.3rem;
			color: $main2_green;
		}
		.rcifotitle {
			font-size: 2rem;
		}
		.rcifomation {
			font-size: 1.5rem;
		}
	}
	.rcifo:nth-child(1) {
		margin-top: 1rem;
	}
	.rcifo:nth-child(5) {
		justify-content: flex-end;
		padding: 1rem;
	}
	.rcifo:nth-child(5) > h3 {
		font-size: 3rem;
	}
	.reCeipfooter {
		height: 15%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		border-top: 0.3rem dashed $main2_green;
	}

	.receiptBtn {
		border: none;
		font-size: 2.5rem;
		background: transparent;
		transition: 0.4s;
		letter-spacing: 0.3rem;
		line-height: 10rem;
		text-align: center;
		width: 100%;
		height: 10rem;

		animation: fontcolchange 2s linear infinite reverse;
	}

	@keyframes fontcolchange {
		0% { 
			color:$main2_black2;
		}
		50% {
			color: $main_3;
		}
		100% {
			color: $main2_black2;
		}
	}
}


.receipt2modal {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 20;
	text-align: center;
	transition: 1s;
	background: #16142b85;
	backdrop-filter: blur(1rem);
	.priningreceipt {
		@include center;
		width: 100%;
		height: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h1 {
			width: 75%;
			font-size: 3rem;
			letter-spacing: 0.2rem;
			color: $subcolor_1;
			padding: 2rem;
			border: 0.2rem solid $main2_fff2;
			border-radius: 7rem;
			transform: translateY(-8rem);
			opacity: 0;
			animation: colorchangepaytitle 3s linear infinite reverse;
		}
		.printinghead {
			border-radius: 2rem 2rem 0rem 0rem;
			width: 60%;
			height: 50%;
			background: linear-gradient($main2_green 50%, transparent);

			header {
				border-radius: 2rem 2rem 2rem 2rem;
				width: 100%;
				height: 20%;
				background: $main2_green;
				line-height: 8.5rem;
				font-size: 2.5rem;
				letter-spacing: 0.2rem;
				color: $main2_fff2;
			}
			footer {
				width: 100%;
				height: 20%;

				background: $main2_green;
				bottom: 0%;
			}
		}
		.printingbody {
			width: 45%;
			height: 30%;
			transition: 0.5s;
			background: $main2_fff2;
			transform: translate(5.5rem);
			position: absolute;
			animation: receipting 4s linear infinite;
			.line {
				bottom: 8rem;
				width: 100%;
				height: 7rem;
				position: absolute;
				border-bottom: 0.5rem dashed $main2_green;
			}
		}
		@keyframes receipting {
			0% {
				height: 10%;
			}
			100% {
				height: 30%;
			}
		}
	}
}