@font-face {
  font-family: 'GmarketSansMedium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeferiPoint-WhiteA';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YUniverse-L';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-L.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes colorchange {
  0% {
    text-shadow: 0;
  }
  50% {
    text-shadow: 0rem 0rem 0.8rem #ffba00;
  }
  100% {
    text-shadow: 0;
  }
}

@keyframes colorchange {
  0% {
    text-shadow: 0;
  }
  50% {
    text-shadow: 0rem 0rem 0.8rem #ffba00;
  }
  100% {
    text-shadow: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-family: 'GmarketSansMedium';
  font-size: 10px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(200deg, #465fa4 10%, #657bb8 30%, #f3b4d8 100%);
  color: #3d3a54;
}

body button,
html button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.windowloadimg {
  width: 72rem;
  height: 100rem;
  position: fixed;
  z-index: 10;
  -webkit-transition: all ease-in-out 2s;
  transition: all ease-in-out 2s;
  background: #1a1f33;
  background: linear-gradient(220deg, #1a1f33e3 20%, #3e3051 100%);
}

.windowloadimg .logoimg {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-size: 50%;
  width: 50rem;
  height: 50rem;
  background: url("../IMG/FORCE-logo.png");
}

.moviewapper {
  width: 72rem;
  height: 100rem;
  margin: auto;
  background: linear-gradient(220deg, #1a1f33e3 20%, #3e3051 100%);
}

.moviewapper #playerarea {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.moviewapper #playerarea .head__infor {
  z-index: 1;
  height: 10rem;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.moviewapper #playerarea .head__infor span {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 9.8rem;
  text-shadow: 0rem 2rem 3rem #16142b62;
  color: #f3b4d8;
}

.moviewapper .mainBox::-webkit-scrollbar {
  width: none;
  display: none;
}

.moviewapper .mainBox {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 90rem;
}

.moviewapper .mainBox .main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.moviewapper .mainBox .main__body .timeBox {
  width: 100%;
  height: 15rem;
  margin-bottom: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.moviewapper .mainBox .main__body .timeBox .time {
  display: block;
  font-size: 7rem;
  letter-spacing: 0.5rem;
  color: white;
  text-align: center;
}

.moviewapper .mainBox .main__body .timeBox .dayTime {
  letter-spacing: 0.5rem;
  display: block;
  font-size: 4rem;
  color: white;
  text-align: center;
}

.moviewapper .btnsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.moviewapper .btnBigBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 18rem;
}

.moviewapper .btnBigBox .btnBox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
  position: relative;
}

.moviewapper .btnBigBox .btnBox .printTicketimg {
  width: 85%;
  height: 90%;
  opacity: 0.7;
  -webkit-transition: 1s;
  transition: 1s;
  display: inline-block;
  -webkit-box-shadow: 0rem 2rem 5rem #675fc085;
          box-shadow: 0rem 2rem 5rem #675fc085;
  background: linear-gradient(220deg, #465fa4 0%, #7190e4 30%, #f3b4d8 100%);
}

.moviewapper .btnBigBox .btnBox .printTicketimg .line {
  border-right: 0.2rem dashed #fff;
  width: 20%;
  height: 100%;
}

.moviewapper .btnBigBox .btnBox .ticketintroduce {
  width: 83%;
  height: 100%;
  -webkit-transform: translate(2rem, -19rem);
          transform: translate(2rem, -19rem);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  border-radius: 1.5rem;
  -webkit-box-shadow: 0rem 1rem 9rem #1a1f33;
          box-shadow: 0rem 1rem 9rem #1a1f33;
  padding: 1rem;
  background: linear-gradient(120deg, #ffffff7e, #b8b0f468);
}

.moviewapper .btnBigBox .btnBox .ticketintroduce:hover {
  -webkit-box-shadow: 0rem 0.5rem 3rem #675fc085;
          box-shadow: 0rem 0.5rem 3rem #675fc085;
}

.moviewapper .btnBigBox .btnBox h1 {
  display: block;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  color: #fff;
}

.moviewapper .btnBigBox .btnBox h2 {
  display: block;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  color: #fff;
}

.moviewapper .btnBigBox .btnBox h1,
.moviewapper .btnBigBox .btnBox h2 {
  -webkit-transform: translateY(6rem);
          transform: translateY(6rem);
}

.moviewapper .btnBigBox .btnBox:hover {
  cursor: pointer;
}

.moviewapper footer {
  background: #1a1f33;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.moviewapper footer a {
  text-decoration: none;
}

.moviewapper footer i {
  color: #655777;
  line-height: 9.8rem;
  font-size: 4rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.moviewapper footer i:hover {
  color: #ffe277;
  text-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
}

.moviewapper footer i:nth-child(1) {
  -webkit-transform: translate(-28rem);
          transform: translate(-28rem);
}

.moviewapper footer i:nth-child(2) {
  -webkit-transform: translate(28rem);
          transform: translate(28rem);
}

.opacityscroll {
  visibility: hidden;
  opacity: 0;
}

.cwrningwapper {
  height: 100rem;
  width: 72rem;
  position: fixed;
  z-index: 100;
  background: #16142b71;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.coutnWrningModal {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
  width: 35rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 100;
  height: 30rem;
  -webkit-box-shadow: 2rem 0rem 16rem #f3b4d863;
          box-shadow: 2rem 0rem 16rem #f3b4d863;
  background: #1a1f33;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0rem 0rem 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coutnWrningModal .modalhat {
  border-radius: 1rem 1rem 0rem 0rem;
  width: 96%;
  height: 18%;
  padding: 2%;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #1a1f33;
  -webkit-box-shadow: 2rem 0rem 16rem #23222db2;
          box-shadow: 2rem 0rem 16rem #23222db2;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(-3rem, -12rem) rotate(-15deg);
          transform: translate(-3rem, -12rem) rotate(-15deg);
}

.coutnWrningModal .modalhat .strip {
  width: 10%;
  height: 100%;
  background: #fff;
}

.coutnWrningModal .coutnWrningModalheader {
  height: 40%;
  width: 100%;
  text-align: center;
  border-radius: 1rem;
}

.coutnWrningModal .coutnWrningModalheader .coutnWrningModalheadertitle {
  font-size: 3rem;
  color: #fff;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  letter-spacing: 0.3rem;
  line-height: 6rem;
}

.coutnWrningModal .coutnWrningModalheader .coutnWrningModalheadertitle .fa-triangle-exclamation {
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  font-size: 6rem;
  color: #ffe277;
}

.coutnWrningModal .modalinfomation {
  height: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.coutnWrningModal .modalinfomation #modal_point {
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 14rem;
  color: #ffba00;
  -webkit-animation: identifier 4s infinite;
          animation: identifier 4s infinite;
}

@-webkit-keyframes identifier {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes identifier {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.coutnWrningModal .modalinfomation .modalinfomation_inner {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  color: #fff;
}

.coutnWrningModal .modalinfomation .modalinfomation_inner .cunnum {
  font-size: 2rem;
  text-align: center;
}

.poteText {
  text-align: center;
  width: 70rem;
  position: absolute;
  top: 54rem;
  left: 50%;
  margin-left: -35rem;
  color: #fff;
  font-size: 2rem;
}

.poteText span {
  display: block;
  font-size: 1rem;
}

video {
  margin-top: 9rem;
}
