@charset "utf-8";
// maincolor1

$subcolor_1: #fff;

// maincolor2
$main2_black: #08030a;
$main2_black2: #3d3a54;
$main2_green: #1a1f33;
$main2_pink: #ffba00;
$main2_fff2: #f3b4d8;
$main2_white: #655777;

//maincolor3
$main_1: #1a1f33;
$main_4: #465fa4;
$main_2: #f3b4d8;
$main_3: #ea85b4;

@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@mixin center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@font-face {
	font-family: 'LeferiPoint-WhiteA';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GmarketSansLight';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'YUniverse-L';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-L.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@keyframes colorchange {
	0% {
		text-shadow: 0;
	}
	50% {
		text-shadow: 0rem 0rem 0.8rem $main2_pink;
	}
	100% {
		text-shadow: 0;
	}
}

* {
	margin: 0;
	padding: 0;
}
*::before,
*::after {
	box-sizing: border-box;
}

body,
html {
	font-family: 'GmarketSansMedium';
	// scroll-behavior: auto;
	font-size: 10px;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background: linear-gradient(200deg, $main_4 10%, #657bb8 30%, $main_2 100%);
	color: $main2_black2;
	button {
		appearance: none;
	}
}
.windowloadimg {
	width: 72rem;
	height: 100rem;
	position: fixed;
	z-index: 10;
	transition: all ease-in-out 2s;
	background: $main2_green;
	background: linear-gradient(220deg, #1a1f33e3 20%, rgb(62, 48, 81) 100%);
	.logoimg {
		@include center();
		background-size: 50%;
		width: 50rem;
		height: 50rem;
		background: url('../IMG/FORCE-logo.png');
	}
}
.moviewapper {
	width: 72rem;
	height: 100rem;
	margin: auto;
	background: linear-gradient(220deg, #1a1f33e3 20%, rgb(62, 48, 81) 100%);

	// 헤더
	#playerarea {
		width: 100%;
		display: flex;
		text-align: center;
		flex-direction: column;
		.head__infor {
			// background: $main2_green;
			z-index: 1;
			height: 10rem;
			width: 100%;
			text-align: center;
			display: flex;
			// border-radius: 0rem 0rem 3rem 3rem;
			justify-content: space-around;

			span {
				font-size: 2rem;
				letter-spacing: 0.2rem;
				line-height: 9.8rem;
				text-shadow: 0rem 2rem 3rem #16142b62;
				color: $main2_fff2;
			}
		}
	}
	// 헤더다음에 나오는 몸통박스 //
	.mainBox::-webkit-scrollbar {
		width: none;
		display: none;
	}
	.mainBox {
		width: 100%;
		box-sizing: border-box;
		height: 90rem;
		.main__body {
			display: flex;
			flex-direction: column;
			height: 100%;
			.timeBox {
				width: 100%;
				height: 15rem;
				margin-bottom: 8rem;
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: center;

				.time {
					display: block;
					font-size: 7rem;
					letter-spacing: 0.5rem;
					color: white;
					text-align: center;
				}
				.dayTime {
					letter-spacing: 0.5rem;
					display: block;
					font-size: 4rem;
					color: white;
					text-align: center;
				}
			}
		}
	}
	.btnsection {
		display: flex;
	}
	.btnBigBox {
		box-sizing: border-box;
		width: 100%;
		height: 18rem;

		.btnBox {
			align-items: center;
			width: 100%;
			height: 100%;
			transition: 1s;
			text-align: center;
			position: relative;
			.printTicketimg {
				width: 85%;
				height: 90%;
				opacity: 0.7;
				transition: 1s;
				display: inline-block;
				box-shadow: 0rem 2rem 5rem #675fc085;
				background: linear-gradient(220deg, $main_4 0%, #7190e4 30%, $main_2 100%);
				.line {
					border-right: 0.2rem dashed #fff;
					width: 20%;
					height: 100%;
				}
			}

			.ticketintroduce {
				width: 83%;
				height: 100%;
				transform: translate(2rem, -19rem);
				transition: 1s;
				backdrop-filter: blur(0.5rem);
				border-radius: 1.5rem;
				box-shadow: 0rem 1rem 9rem $main2_green;
				padding: 1rem;
				background: linear-gradient(120deg, #ffffff7e, #b8b0f468);
			}

			.ticketintroduce:hover {
				box-shadow: 0rem 0.5rem 3rem #675fc085;
			}

			h1 {
				display: block;
				font-size: 3rem;
				letter-spacing: 0.3rem;
				color: #fff;
			}
			h2 {
				display: block;
				letter-spacing: 0.2rem;
				font-size: 2rem;
				color: #fff;
			}
			h1,
			h2 {
				transform: translateY(6rem);
			}
		}
		.btnBox:hover {
			cursor: pointer;
		}

		// .btnBox:hover{
		// 	box-shadow: 0.5rem 0.5rem 0.1rem rgba($color: #000000, $alpha: 0.6);
		// 	cursor: pointer;
		// 	transition: all;
		// 	transform: rotate(-3deg);
		// }
	}

	// footer
	footer {
		background: $main_1;
		width: 100%;

		display: inline-block;
		text-align: center;

		a {
			text-decoration: none;
		}

		i {
			color: $main2_white;
			line-height: 9.8rem;
			font-size: 4rem;
			cursor: pointer;
			transition: 0.3s;
		}
		i:hover {
			color: #ffe277;
			text-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
		}
		i:nth-child(1) {
			transform: translate(-28rem);
		}
		i:nth-child(2) {
			transform: translate(28rem);
		}
	}
}
.opacityscroll {
	visibility: hidden;
	opacity: 0;
}
.cwrningwapper {
	height: 100rem;
	width: 72rem;
	position: fixed;
	z-index: 100;
	background: #16142b71;
	backdrop-filter: blur(1rem);
	transition: 0.5s;
}
.coutnWrningModal {
	@include center;
	position: fixed;
	width: 35rem;
	transition: 0.5s;
	z-index: 100;
	height: 30rem;
	box-shadow: 2rem 0rem 16rem #f3b4d863;
	background: $main2_green;
	padding: 2rem;
	flex-direction: column;
	border-radius: 0rem 0rem 1rem 1rem;
	display: flex;
	.modalhat {
		border-radius: 1rem 1rem 0rem 0rem;
		width: 96%;
		height: 18%;
		padding: 2%;
		position: absolute;
		transition: 0.5s;
		background: $main2_green;
		box-shadow: 2rem 0rem 16rem #23222db2;
		justify-content: space-evenly;
		display: flex;
		transform: translate(-3rem, -12rem) rotate(-15deg);
		.strip {
			width: 10%;
			height: 100%;
			background: #fff;
		}
	}
	.coutnWrningModalheader {
		height: 40%;
		width: 100%;
		text-align: center;

		border-radius: 1rem;
		.coutnWrningModalheadertitle {
			font-size: 3rem;
			color: $subcolor_1;
			transform: translateY(1rem);
			letter-spacing: 0.3rem;
			line-height: 6rem;

			.fa-triangle-exclamation {
				transform: translateY(1rem);
				font-size: 6rem;
				color: #ffe277;
			}
		}
	}
	.modalinfomation {
		height: 50%;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		#modal_point {
			display: inline-block;
			transition: 0.5s;
			font-size: 14rem;
			color: $main2_pink;
			animation: identifier 4s infinite;
		}
		@keyframes identifier {
			100% {
				transform: rotate(360deg);
			}
		}
		.modalinfomation_inner {
			font-size: 2rem;
			text-align: center;
			padding: 2rem;
			transform: translateY(5rem);
			color: $subcolor_1;
			.cunnum {
				font-size: 2rem;
				text-align: center;
			}
		}
	}
}
.poteText {
	text-align: center;
	width: 70rem;
	position: absolute;
	top: 54rem;
	left: 50%;
	margin-left: -35rem;
	color: #fff;
	font-size: 2rem;
	span {
		display: block;
		font-size: 1rem;
	}
}
video {
	margin-top: 9rem;
}
