@charset "utf-8";
// maincolor1

$subcolor_1: #fff;

// maincolor2
$main2_black: #08030a;
$main2_black2: #3d3a54;
$main2_green: #1a1f33;
$main2_pink: #ffba00;
$main2_fff2: #f3b4d8;
$main2_white: #655777;

//maincolor3
$main_1: #1a1f33;
$main_4: #465fa4;
$main_2: #f3b4d8;
$main_3: #ea85b4;

@mixin center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@mixin modal {
}
@font-face {
	font-family: 'S-CoreDream-4Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GmarketSansBold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'LeferiPoint-WhiteA';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GmarketSansLight';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'YUniverse-L';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-L.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@keyframes colorchange {
	0% {
		text-shadow: 0;
	}
	50% {
		text-shadow: 0rem 0rem 0.8rem $main2_pink;
	}
	100% {
		text-shadow: 0;
	}
}

* {
	margin: 0;
	padding: 0;
}
*::before,
*::after {
	box-sizing: border-box;
}

body,
html {
	font-family: 'GmarketSansMedium';
	scroll-behavior: auto;
	background: url('../../../img/film-strip-svgrepo-com.svg');

	font-size: 10px;
	height: 100vh;
	width: 100%;
	background-size: cover;
	color: $main2_black2;
	background: $main_1;
	background: linear-gradient(200deg, $main_4 10%, #657bb8 30%, $main_2 100%);

	button {
		appearance: none;
		font-family: 'GmarketSansMedium';
	}
}
// 인원수 입력하는 모달 //
.countermodalwapper {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 20;
	transition: 1s;
	backdrop-filter: blur(1rem);

	.count_title {
		font-size: 2.5rem;
		letter-spacing: 0.4rem;
		transform: translate(1rem);
		color: #fff1bc;
		transition: 0.5s;
		animation: colorchange 4s linear infinite reverse;
		transform: translateY(2rem);
	}

	.countPersonsection {
		width: 62rem;
		height: 60rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
		background: $main2_black2;
		text-align: center;
		box-shadow: 0.2rem 0.8rem 3rem #16142b;
		transition: 0.5s;
		display: flex;
		border-radius: 1rem;
		position: relative;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		.counterresult {
			width: 62rem;
			height: 20%;

			#submitperson {
				font-family: 'GmarketSansMedium';
				font-weight: 900;
				border: none;
				width: 15rem;
				outline: none;
				padding: 1rem;
				transform: translateY(2rem);
				box-shadow: 0.2rem 0.8rem 3rem #15192432;
				font-size: 2.5rem;
				background: #16142b89;
				color: #f3b4d8;
				border-radius: 3rem;
				transition: 0.4s;
				cursor: pointer;
			}
			#submitperson:active,
			#submitperson:hover,
			#submitperson:focus {
				background: #ffe277;
				color: $main2_pink;
				box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
			}

			h1,
			i {
				font-size: 3rem;
				transition: 0.4s;
			}
			i {
				cursor: pointer;
			}
			i:hover {
				color: $main_3;
			}
		}

		.countprice {
			height: 15rem;
			width: 100%;
			background: #16142b;
		}
		.Adult,
		.junior,
		.disabled,
		.old {
			transform: translate(6rem);
			letter-spacing: 0.2rem;
			margin: 0.5rem;
			color: $main_2;
			text-align: center;
			text-shadow: 0rem 0rem 0.8rem $main2_green;
			i {
				cursor: pointer;
				transition: 0.4s;
			}
			i:hover {
				color: #ea85b4;
			}
			h2 {
				font-size: 2rem;
				margin-bottom: 1rem;
				background: transparent;
				transform: translate(-11rem, 1rem);
				width: 10rem;
				text-align: center;
				position: absolute;
				height: 4rem;
				line-height: 4rem;
				border-radius: 2rem;
			}
		}

		.countmodalheader {
			align-items: center;
			justify-content: space-around;
			width: 62rem;
			display: flex;
			height: 7rem;
		}
		button {
			cursor: pointer;
		}

		.cutbtn {
			border: none;
			font-family: 'GmarketSansMedium';
			margin: 0.4rem;
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
			padding: 1rem;
			font-size: 2rem;
			transition: 0.4s;
			color: $main_2;
			border-radius: 1rem;
			cursor: pointer;
			background-color: transparent;
		}

		.cutbtn:hover,
		.cutbtn:active {
			background: #ffe277;
			color: $main2_pink;
			box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
		}
	}
}

.modalwapper {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 20;
	transition: 1s;
	backdrop-filter: blur(1rem);

	.modal__header {
		text-align: center;
		border-bottom: 0.3rem dashed $main_1;
		height: 10rem;
		display: flex;
		line-height: 9rem;
		justify-content: center;

		h1 {
			font-size: 3rem;
			padding: 1rem;
			letter-spacing: 0.4rem;
		}
		h1::before {
			content: '\f00c';
			color: $main2_fff2;
			font-family: 'Font Awesome 6 free';
			font-weight: 900;
			padding-right: 1rem;
		}
		i {
			cursor: pointer;
			color: $main2_fff2;
			font-size: 3rem;
			line-height: 10rem;
			transform: translate(10rem);
			transition: 0.5s;
		}
		i:hover {
			color: $main2_white;
		}
	}
	.modal_body {
		width: 60rem;
		height: 50rem;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $main_1;
		background: #fff;
		border-radius: 1.5rem;
		text-align: center;
		box-shadow: 0.2rem 0.8rem 3rem #16142b;
		transition: 0.5s;

		button {
			font-family: 'GmarketSansMedium';
			font-weight: 900;
			border: none;
			width: 15rem;
			outline: none;
			padding: 1rem;
			box-shadow: 0.2rem 0.8rem 3rem #15192432;
			font-size: 2.5rem;
			background: $main_4;
			color: #f3b4d8;
			border-radius: 3rem;
			transition: 0.4s;
			cursor: pointer;
		}

		.modalinfo {
			padding-top: 1rem;
			display: flex;
			height: 30rem;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;

			h2 {
				font-size: 2rem;
				padding: 1rem;
			}
			h2::before {
				content: '\f00c';
				color: $main2_fff2;
				font-family: 'Font Awesome 6 free';
				font-weight: 900;
				padding-right: 1rem;
			}
			p {
				font-size: 1.5rem;

				letter-spacing: 0.2rem;
				line-height: 2rem;
			}
		}
	}
}

.moviewapper {
	backdrop-filter: blur(0.5rem);
	width: 72rem;
	height: 100rem;
	margin: auto;
	background: $main2_green;
	background: linear-gradient(220deg, rgba(61, 58, 84, 1) 0%, #1a1f33e3 20%, rgba(101, 87, 119, 1) 100%);

	// 헤더
	#playerarea {
		width: 100%;
		display: flex;
		text-align: center;
		flex-direction: column;

		.head__infor {
			box-shadow: 0rem 3rem 8rem #2e2f4873;
			background: $main2_green;
			z-index: 1;
			height: 10rem;
			border-radius: 0rem 0rem 3rem 3rem;
			width: 100%;
			text-align: center;
			display: flex;
			justify-content: space-around;

			.timewapper {
				font-size: 2rem;
				letter-spacing: 0.2rem;
				display: inline-block;
				line-height: 9.8rem;
				text-shadow: 0rem 2rem 3rem #16142b62;
				color: $main2_fff2;
				
			}
			
			.timewapper:first-child {
				position: absolute;
				transform: translate(-25rem);
			}
			
			.timewapper:last-child {
				transform: translate(25rem);
				position: absolute;
			}
		}	
	}
	// 헤더다음에 나오는 몸통박스 //
	.mainBox::-webkit-scrollbar {
		width: none;
		display: none;
	}
	.mainBox {
		width: 100%;
		overflow-y: auto;
		box-sizing: border-box;
		height: 80rem;

		.main__body {
			display: flex;
			flex-direction: column;
			height: 100%;
		}
	}
	// footer
	.moviefooter {
		background: $main_1;
		width: 100%;
		height: 12rem;

		display: inline-block;
		text-align: center;
		text-align: center;
		border-radius: 3rem 3rem 0rem 0rem;
		box-shadow: 0rem -3rem 8rem #2e2f4873;

		a {
			text-decoration: none;
		}

		i {
			color: $main2_white;
			line-height: 11.8rem;
			font-size: 4rem;
			cursor: pointer;
			transition: 0.3s;
		}
		i:hover {
			color: #ffe277;
			text-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
		}
		i:nth-child(1) {
			transform: translate(-28rem);
		}
		i:nth-child(2) {
			transform: translate(28rem);
		}
	}
}
.opacityscroll {
	visibility: hidden;
	opacity: 0;
}
.check {
	background: #ffe277;
	color: $main2_pink;
	box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
}

//payment
.Paymentbody {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.paymentheader {
	font-size: 3rem;
	text-align: center;
	background: #fff;
	align-items: center;
	width: 85%;
	height: 8%;
	display: flex;
	justify-content: space-between;
	color: $main2_green;
	padding: 3rem;
	box-shadow: 0.2rem 0.8rem 3rem #7e87d859;
	border-radius: 0rem 0rem 3rem 3rem;
	letter-spacing: 0.5rem;
	.totalpaymenttitle {
		font-size: 3rem;
		letter-spacing: 0.5rem;
	}
	.totalpayment {
		font-size: 3rem;
		letter-spacing: 0.5rem;
	}
}
.paymentinfo {
	display: flex;
	height: 60%;
	width: 100%;
	transform: translateY(2rem);
	justify-content: space-evenly;
	.paymentsystem {
		width: 47%;
		height: 80%;
		cursor: pointer;
		border-radius: 5rem;
		display: flex;
		flex-direction: column;
		align-content: center;
		text-align: center;
		background: linear-gradient(transparent, $main2_green);
	}
}
.paymentfooter {
	font-size: 3rem;
	text-align: center;
	background: #fff;
	width: 85%;
	align-items: center;
	height: 10%;
	display: flex;
	justify-content: center;
	color: $main2_green;
	padding: 3rem;
	box-shadow: 0.2rem -0.8rem 3rem #7e87d859;
	border-radius: 3rem 3rem 0rem 0rem;
	letter-spacing: 0.5rem;
	.payfootertitle {
		font-size: 3rem;
		line-height: 13rem;
		letter-spacing: 0.5rem;
	}
}
.cardment {
	width: 90%;
	height: 50%;
	box-shadow: 0rem 2rem 5rem #675fc085;

	background: linear-gradient(220deg, $main_4 10%, #657bb8 30%, $main_2 100%);
	transform: translate(2rem, 8rem) rotate(5deg);
	.dashline {
		height: 100%;
		width: 6rem;
		border-right: 0.2rem dashed #fff;
	}
}
.realcard {
	width: 85%;
	height: 55%;
	box-shadow: 0rem 2rem 6rem $main2_green;
	backdrop-filter: blur(0.5rem);
	border-radius: 1.5rem;
	background: linear-gradient(180deg, #ffffff7e, #b8b0f468);
	background-repeat: no-repeat;
	transform: translate(2rem, -9.5rem) rotate(-8deg);
	transition: 0.5s;
	text-align: center;
	img {
		position: absolute;
		width: 10rem;
		transform: translate(0rem, 5rem);
	}
	.cardline {
		width: 100%;
		height: 20%;
		transform: translate(0rem, 3rem);
		background: rgba(255, 255, 255, 0.71);
	}
}
.realcard:hover {
	transform: translate(2rem, -10.5rem) rotate(-8deg);
	box-shadow: 0rem 0.5rem 3rem #675fc085;
}
.cardtitle {
	color: #fff;
	transform: translate(1rem, -4rem);
	letter-spacing: 1rem;
	font-size: 3rem;
}

//paymodal
.paymodal {
	text-align: center;
	width: 72rem;
	@include center;
	z-index: 10;
	height: 102rem;
	display: flex;
	flex-direction: column;
	position: fixed;
	align-content: center;
	align-items: center;
	background: #1a1f33be;
	backdrop-filter: blur(0.5rem);
	.realcard {
		transform: translate(4.4em, 27rem) rotate(90deg);
		background: linear-gradient(220deg, $main_4 0%, #7894de 30%, $main_2 100%);
		width: 35rem;
		height: 24rem;
		transition: 0.5s;
		animation: movecard linear 3s infinite reverse;
		box-shadow: none;
		.cardline {
			height: 5rem;
			transform: translate(0rem, 5rem);
		}
	}
	@keyframes cardstyle {
		0% {
			box-shadow: 0rem 0rem 10rem #675fc09b;
		}
		50% {
			box-shadow: none;
		}
		100% {
			box-shadow: 0rem 0rem 10rem #675fc09b;
		}
	}
}
@keyframes movecard {
	0% {
		transform: translate(4.4rem, 27rem) rotate(90deg);
	}
	50% {
		transform: translate(4.4rem, 37rem) rotate(90deg);
	}
}
.pointment {
	width: 80%;
	height: 80%;
	box-shadow: 0rem 2rem 4rem #675fc09b;
	background: linear-gradient(220deg, $main_4 0%, #7190e4 30%, $main_2 100%);
	transform: translate(2rem, 5rem) rotate(-5deg);
}
.dashline {
	height: 100%;
	width: 6rem;
	border-right: 0.2rem dashed #fff;
}
.realpoint {
	width: 80%;
	height: 80%;
	backdrop-filter: blur(0.5rem);
	transform: translate(4rem, -10rem);
	border-radius: 2rem;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	display: flex;
	box-shadow: 0rem 2rem 6rem $main2_green;
	text-align: center;
	transition: 0.4s;
	background: linear-gradient(120deg, #f3b4d8b2, #b8b0f468);
	.pointInnertext {
		font-size: 4rem;
		letter-spacing: 0.2rem;
		color: #fff;
		font-family: 'GmarketSansBold';
	}
}
.pointInnertext:nth-child(2) {
	font-size: 2rem;
	letter-spacing: 3rem;
	margin-left: 3rem;
}
.realpoint:hover {
	transform: translate(4rem, -12rem);
	box-shadow: 0rem 0.5rem 3rem #675fc085;
}
.paymentcardmtitle {
	font-size: 4rem;
	opacity: 0;
	transform: translateY(12rem);
	font-size: 3rem;
	letter-spacing: 0.2rem;
	color: $subcolor_1;
	padding: 2rem;
	border: 0.2rem solid $main2_fff2;
	border-radius: 6rem;
	animation: colorchangepaytitle 3s linear infinite;
}

@keyframes colorchangepaytitle {
	100% {
		opacity: 1;
	}
}

//payment_point modal

.receiptModal {
	position: fixed;
	width: 72rem;
	height: 102rem;
	z-index: 20;
	text-align: center;
	transition: 1s;
	background: #16142b85;
	backdrop-filter: blur(1rem);

	h2 {
		font-size: 3rem;
		width: 30%;
		transform: translate(8rem);
		margin: 1rem;
		padding: 2rem;
		float: left;
		border: 0.2rem solid $main2_fff2;
		border-radius: 7rem;
		color: $subcolor_1;
		letter-spacing: 0.2rem;
		transition: 0.6s;
	}
	h2:hover {
		cursor: pointer;
		color: $main2_fff2;
		background: $subcolor_1;
	}
	h1 {
		width: 75%;
		transform: translate(12%);
		font-size: 3rem;
		letter-spacing: 0.2rem;
		opacity: 0;
		color: $subcolor_1;
		padding: 2rem;
		border: 0.2rem solid $main2_fff2;
		border-radius: 6rem;
		animation: colorchangepaytitle 3s linear infinite;
	}
	@keyframes colorchangepaytitle {
		100% {
			opacity: 1;
		}
	}
	.reciptmodalbody {
		@include center();
		width: 100%;
		height: 60%;
		perspective: 20rem;
		perspective-origin: 20%;

		.scanPhone {
			box-shadow: 2rem 2rem 4rem $main2_fff2;
			width: 40%;
			height: 30%;
			background: rgb(255, 255, 255);
			transform: translate(7rem, 12rem) rotateY(10deg);
			border-radius: 2rem;

			.readbacod {
				width: 80%;
				height: 70%;
				transform: translate(3rem, 2.5rem);
				background: linear-gradient(190deg, $main2_fff2 40%, #fff);
				border-radius: 1rem;
				overflow: hidden;
				perspective: 10rem;
				.readbacodscreen {
					width: 100%;
					height: 100%;
					background: linear-gradient(20deg, $main2_fff2, rgba(255, 255, 255, 0.664));
					box-shadow: inset 3rem 4rem 3rem #ffe2f29f;
					transform: translate(-6rem, 0.5rem) rotateX(-50deg);
				}
				.readbacodbottm {
					width: 100%;
					height: 70%;
					transform: translate(-5.5rem, -6rem) rotateX(100deg);
					background: linear-gradient(30deg, #fff, $main2_fff2);
				}
			}
		}
	}

	.pointphone {
		width: 12rem;
		height: 20rem;
		border-radius: 0.5rem;
		transform: translate(-4rem);
		backdrop-filter: blur(0.4rem);
		box-shadow: 2rem 0rem 6rem $main2_fff2;
		background: #fff;
		img {
			width: 16rem;
			transform: rotate(90deg) translate(5.5rem, 3rem);
		}
	}
	.phone {
		width: 10rem;
		height: 25rem;
		background: linear-gradient(-50deg, $main_4 10%, #657bb8 30%, $main_2 100%);
		box-shadow: 0rem 2rem 8rem #16142b85;
		padding: 2rem;
		border-radius: 1rem;
		margin-left: 5rem;
		transform: rotateY(-5deg) translate(35rem, -10rem);
	}
	.barcode_line {
		width: 100%;
		height: 1rem;
		box-shadow: -3rem 2rem 5rem $main2_fff2;
		position: absolute;
		transition: 2s;
		transform: translateY (15rem);
		background: #ffd7ee;
		animation: translatebox 6s linear infinite reverse;
	}
}
@keyframes translatebox {
	0% {
		transform: translateY(0rem);
	}
	50% {
		transform: translateY(19rem);
	}
	100% {
		transform: translateY(0rem);
	}
}
//인원 wrning modal //

.cwrningwapper {
	height: 102rem;
	width: 72rem;
	position: fixed;
	z-index: 100;
	background: #16142b71;
	backdrop-filter: blur(1rem);
	transition: 0.5s;
}
.coutnWrningModal {
	@include center;
	position: fixed;
	width: 35rem;
	transition: 0.5s;
	z-index: 100;
	height: 30rem;
	box-shadow: 2rem 0rem 16rem #f3b4d863;
	background: $main2_green;
	padding: 2rem;
	flex-direction: column;
	border-radius: 0rem 0rem 1rem 1rem;
	display: flex;
	.modalhat {
		border-radius: 1rem 1rem 0rem 0rem;
		width: 96%;
		height: 18%;
		padding: 2%;
		position: absolute;
		transition: 0.5s;
		background: $main2_green;
		box-shadow: 2rem 0rem 16rem #23222db2;
		justify-content: space-evenly;
		display: flex;
		transform: translate(-3rem, -12rem) rotate(-15deg);
		.strip {
			width: 10%;
			height: 100%;
			background: #fff;
		}
	}
	.coutnWrningModalheader {
		height: 40%;
		width: 100%;
		text-align: center;

		border-radius: 1rem;
		.coutnWrningModalheadertitle {
			font-size: 3rem;
			color: $subcolor_1;
			transform: translateY(1rem);
			letter-spacing: 0.3rem;
			line-height: 6rem;

			.fa-triangle-exclamation {
				transform: translateY(1rem);
				font-size: 6rem;
				color: #ffe277;
			}
		}
	}
	.modalinfomation {
		height: 50%;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		#modal_point {
			display: inline-block;
			transition: 0.5s;
			font-size: 14rem;
			color: $main2_pink;
			animation: identifier 4s infinite;
		}
		@keyframes identifier {
			100% {
				transform: rotate(360deg);
			}
		}
		.modalinfomation_inner {
			font-size: 2rem;
			text-align: center;
			padding: 2rem;
			transform: translateY(5rem);
			color: $subcolor_1;
			.cunnum {
				font-size: 2rem;
				text-align: center;
			}
		}
	}
}
