@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeferiPoint-WhiteA';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YUniverse-L';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-L.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes colorchange {
  0% {
    text-shadow: 0;
  }
  50% {
    text-shadow: 0rem 0rem 0.8rem #ffba00;
  }
  100% {
    text-shadow: 0;
  }
}

@keyframes colorchange {
  0% {
    text-shadow: 0;
  }
  50% {
    text-shadow: 0rem 0rem 0.8rem #ffba00;
  }
  100% {
    text-shadow: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-family: 'GmarketSansMedium';
  scroll-behavior: auto;
  background: url("../../../img/film-strip-svgrepo-com.svg");
  font-size: 10px;
  height: 100vh;
  width: 100%;
  background-size: cover;
  color: #3d3a54;
  background: #1a1f33;
  background: linear-gradient(200deg, #465fa4 10%, #657bb8 30%, #f3b4d8 100%);
}

body button,
html button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: 'GmarketSansMedium';
}

.countermodalwapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}

.countermodalwapper .count_title {
  font-size: 2.5rem;
  letter-spacing: 0.4rem;
  -webkit-transform: translate(1rem);
          transform: translate(1rem);
  color: #fff1bc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  animation: colorchange 4s linear infinite reverse;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
}

.countermodalwapper .countPersonsection {
  width: 62rem;
  height: 60rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  background: #3d3a54;
  text-align: center;
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #16142b;
          box-shadow: 0.2rem 0.8rem 3rem #16142b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1rem;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.countermodalwapper .countPersonsection .counterresult {
  width: 62rem;
  height: 20%;
}

.countermodalwapper .countPersonsection .counterresult #submitperson {
  font-family: 'GmarketSansMedium';
  font-weight: 900;
  border: none;
  width: 15rem;
  outline: none;
  padding: 1rem;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #15192432;
          box-shadow: 0.2rem 0.8rem 3rem #15192432;
  font-size: 2.5rem;
  background: #16142b89;
  color: #f3b4d8;
  border-radius: 3rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.countermodalwapper .countPersonsection .counterresult #submitperson:active,
.countermodalwapper .countPersonsection .counterresult #submitperson:hover,
.countermodalwapper .countPersonsection .counterresult #submitperson:focus {
  background: #ffe277;
  color: #ffba00;
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
          box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
}

.countermodalwapper .countPersonsection .counterresult h1,
.countermodalwapper .countPersonsection .counterresult i {
  font-size: 3rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.countermodalwapper .countPersonsection .counterresult i {
  cursor: pointer;
}

.countermodalwapper .countPersonsection .counterresult i:hover {
  color: #ea85b4;
}

.countermodalwapper .countPersonsection .countprice {
  height: 15rem;
  width: 100%;
  background: #16142b;
}

.countermodalwapper .countPersonsection .Adult,
.countermodalwapper .countPersonsection .junior,
.countermodalwapper .countPersonsection .disabled,
.countermodalwapper .countPersonsection .old {
  -webkit-transform: translate(6rem);
          transform: translate(6rem);
  letter-spacing: 0.2rem;
  margin: 0.5rem;
  color: #f3b4d8;
  text-align: center;
  text-shadow: 0rem 0rem 0.8rem #1a1f33;
}

.countermodalwapper .countPersonsection .Adult i,
.countermodalwapper .countPersonsection .junior i,
.countermodalwapper .countPersonsection .disabled i,
.countermodalwapper .countPersonsection .old i {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.countermodalwapper .countPersonsection .Adult i:hover,
.countermodalwapper .countPersonsection .junior i:hover,
.countermodalwapper .countPersonsection .disabled i:hover,
.countermodalwapper .countPersonsection .old i:hover {
  color: #ea85b4;
}

.countermodalwapper .countPersonsection .Adult h2,
.countermodalwapper .countPersonsection .junior h2,
.countermodalwapper .countPersonsection .disabled h2,
.countermodalwapper .countPersonsection .old h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  background: transparent;
  -webkit-transform: translate(-11rem, 1rem);
          transform: translate(-11rem, 1rem);
  width: 10rem;
  text-align: center;
  position: absolute;
  height: 4rem;
  line-height: 4rem;
  border-radius: 2rem;
}

.countermodalwapper .countPersonsection .countmodalheader {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 62rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 7rem;
}

.countermodalwapper .countPersonsection button {
  cursor: pointer;
}

.countermodalwapper .countPersonsection .cutbtn {
  border: none;
  font-family: 'GmarketSansMedium';
  margin: 0.4rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding: 1rem;
  font-size: 2rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #f3b4d8;
  border-radius: 1rem;
  cursor: pointer;
  background-color: transparent;
}

.countermodalwapper .countPersonsection .cutbtn:hover,
.countermodalwapper .countPersonsection .cutbtn:active {
  background: #ffe277;
  color: #ffba00;
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
          box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
}

.modalwapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}

.modalwapper .modal__header {
  text-align: center;
  border-bottom: 0.3rem dashed #1a1f33;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 9rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modalwapper .modal__header h1 {
  font-size: 3rem;
  padding: 1rem;
  letter-spacing: 0.4rem;
}

.modalwapper .modal__header h1::before {
  content: '\f00c';
  color: #f3b4d8;
  font-family: 'Font Awesome 6 free';
  font-weight: 900;
  padding-right: 1rem;
}

.modalwapper .modal__header i {
  cursor: pointer;
  color: #f3b4d8;
  font-size: 3rem;
  line-height: 10rem;
  -webkit-transform: translate(10rem);
          transform: translate(10rem);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modalwapper .modal__header i:hover {
  color: #655777;
}

.modalwapper .modal_body {
  width: 60rem;
  height: 50rem;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #1a1f33;
  background: #fff;
  border-radius: 1.5rem;
  text-align: center;
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #16142b;
          box-shadow: 0.2rem 0.8rem 3rem #16142b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modalwapper .modal_body button {
  font-family: 'GmarketSansMedium';
  font-weight: 900;
  border: none;
  width: 15rem;
  outline: none;
  padding: 1rem;
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #15192432;
          box-shadow: 0.2rem 0.8rem 3rem #15192432;
  font-size: 2.5rem;
  background: #465fa4;
  color: #f3b4d8;
  border-radius: 3rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.modalwapper .modal_body .modalinfo {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalwapper .modal_body .modalinfo h2 {
  font-size: 2rem;
  padding: 1rem;
}

.modalwapper .modal_body .modalinfo h2::before {
  content: '\f00c';
  color: #f3b4d8;
  font-family: 'Font Awesome 6 free';
  font-weight: 900;
  padding-right: 1rem;
}

.modalwapper .modal_body .modalinfo p {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}

.moviewapper {
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  width: 72rem;
  height: 100rem;
  margin: auto;
  background: #1a1f33;
  background: linear-gradient(220deg, #3d3a54 0%, #1a1f33e3 20%, #655777 100%);
}

.moviewapper #playerarea {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.moviewapper #playerarea .head__infor {
  -webkit-box-shadow: 0rem 3rem 8rem #2e2f4873;
          box-shadow: 0rem 3rem 8rem #2e2f4873;
  background: #1a1f33;
  z-index: 1;
  height: 10rem;
  border-radius: 0rem 0rem 3rem 3rem;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.moviewapper #playerarea .head__infor .timewapper {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  display: inline-block;
  line-height: 9.8rem;
  text-shadow: 0rem 2rem 3rem #16142b62;
  color: #f3b4d8;
}

.moviewapper #playerarea .head__infor .timewapper:first-child {
  position: absolute;
  -webkit-transform: translate(-25rem);
          transform: translate(-25rem);
}

.moviewapper #playerarea .head__infor .timewapper:last-child {
  -webkit-transform: translate(25rem);
          transform: translate(25rem);
  position: absolute;
}

.moviewapper .mainBox::-webkit-scrollbar {
  width: none;
  display: none;
}

.moviewapper .mainBox {
  width: 100%;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 80rem;
}

.moviewapper .mainBox .main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.moviewapper .moviefooter {
  background: #1a1f33;
  width: 100%;
  height: 12rem;
  display: inline-block;
  text-align: center;
  text-align: center;
  border-radius: 3rem 3rem 0rem 0rem;
  -webkit-box-shadow: 0rem -3rem 8rem #2e2f4873;
          box-shadow: 0rem -3rem 8rem #2e2f4873;
}

.moviewapper .moviefooter a {
  text-decoration: none;
}

.moviewapper .moviefooter i {
  color: #655777;
  line-height: 11.8rem;
  font-size: 4rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.moviewapper .moviefooter i:hover {
  color: #ffe277;
  text-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
}

.moviewapper .moviefooter i:nth-child(1) {
  -webkit-transform: translate(-28rem);
          transform: translate(-28rem);
}

.moviewapper .moviefooter i:nth-child(2) {
  -webkit-transform: translate(28rem);
          transform: translate(28rem);
}

.opacityscroll {
  visibility: hidden;
  opacity: 0;
}

.check {
  background: #ffe277;
  color: #ffba00;
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
          box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
}

.Paymentbody {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paymentheader {
  font-size: 3rem;
  text-align: center;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  height: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #1a1f33;
  padding: 3rem;
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #7e87d859;
          box-shadow: 0.2rem 0.8rem 3rem #7e87d859;
  border-radius: 0rem 0rem 3rem 3rem;
  letter-spacing: 0.5rem;
}

.paymentheader .totalpaymenttitle {
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

.paymentheader .totalpayment {
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

.paymentinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60%;
  width: 100%;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.paymentinfo .paymentsystem {
  width: 47%;
  height: 80%;
  cursor: pointer;
  border-radius: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#1a1f33));
  background: linear-gradient(transparent, #1a1f33);
}

.paymentfooter {
  font-size: 3rem;
  text-align: center;
  background: #fff;
  width: 85%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1a1f33;
  padding: 3rem;
  -webkit-box-shadow: 0.2rem -0.8rem 3rem #7e87d859;
          box-shadow: 0.2rem -0.8rem 3rem #7e87d859;
  border-radius: 3rem 3rem 0rem 0rem;
  letter-spacing: 0.5rem;
}

.paymentfooter .payfootertitle {
  font-size: 3rem;
  line-height: 13rem;
  letter-spacing: 0.5rem;
}

.cardment {
  width: 90%;
  height: 50%;
  -webkit-box-shadow: 0rem 2rem 5rem #675fc085;
          box-shadow: 0rem 2rem 5rem #675fc085;
  background: linear-gradient(220deg, #465fa4 10%, #657bb8 30%, #f3b4d8 100%);
  -webkit-transform: translate(2rem, 8rem) rotate(5deg);
          transform: translate(2rem, 8rem) rotate(5deg);
}

.cardment .dashline {
  height: 100%;
  width: 6rem;
  border-right: 0.2rem dashed #fff;
}

.realcard {
  width: 85%;
  height: 55%;
  -webkit-box-shadow: 0rem 2rem 6rem #1a1f33;
          box-shadow: 0rem 2rem 6rem #1a1f33;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  border-radius: 1.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff7e), to(#b8b0f468));
  background: linear-gradient(180deg, #ffffff7e, #b8b0f468);
  background-repeat: no-repeat;
  -webkit-transform: translate(2rem, -9.5rem) rotate(-8deg);
          transform: translate(2rem, -9.5rem) rotate(-8deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}

.realcard img {
  position: absolute;
  width: 10rem;
  -webkit-transform: translate(0rem, 5rem);
          transform: translate(0rem, 5rem);
}

.realcard .cardline {
  width: 100%;
  height: 20%;
  -webkit-transform: translate(0rem, 3rem);
          transform: translate(0rem, 3rem);
  background: rgba(255, 255, 255, 0.71);
}

.realcard:hover {
  -webkit-transform: translate(2rem, -10.5rem) rotate(-8deg);
          transform: translate(2rem, -10.5rem) rotate(-8deg);
  -webkit-box-shadow: 0rem 0.5rem 3rem #675fc085;
          box-shadow: 0rem 0.5rem 3rem #675fc085;
}

.cardtitle {
  color: #fff;
  -webkit-transform: translate(1rem, -4rem);
          transform: translate(1rem, -4rem);
  letter-spacing: 1rem;
  font-size: 3rem;
}

.paymodal {
  text-align: center;
  width: 72rem;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  height: 102rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1a1f33be;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
}

.paymodal .realcard {
  -webkit-transform: translate(4.4em, 27rem) rotate(90deg);
          transform: translate(4.4em, 27rem) rotate(90deg);
  background: linear-gradient(220deg, #465fa4 0%, #7894de 30%, #f3b4d8 100%);
  width: 35rem;
  height: 24rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  animation: movecard linear 3s infinite reverse;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.paymodal .realcard .cardline {
  height: 5rem;
  -webkit-transform: translate(0rem, 5rem);
          transform: translate(0rem, 5rem);
}

@-webkit-keyframes cardstyle {
  0% {
    -webkit-box-shadow: 0rem 0rem 10rem #675fc09b;
            box-shadow: 0rem 0rem 10rem #675fc09b;
  }
  50% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    -webkit-box-shadow: 0rem 0rem 10rem #675fc09b;
            box-shadow: 0rem 0rem 10rem #675fc09b;
  }
}

@keyframes cardstyle {
  0% {
    -webkit-box-shadow: 0rem 0rem 10rem #675fc09b;
            box-shadow: 0rem 0rem 10rem #675fc09b;
  }
  50% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    -webkit-box-shadow: 0rem 0rem 10rem #675fc09b;
            box-shadow: 0rem 0rem 10rem #675fc09b;
  }
}

@-webkit-keyframes movecard {
  0% {
    -webkit-transform: translate(4.4rem, 27rem) rotate(90deg);
            transform: translate(4.4rem, 27rem) rotate(90deg);
  }
  50% {
    -webkit-transform: translate(4.4rem, 37rem) rotate(90deg);
            transform: translate(4.4rem, 37rem) rotate(90deg);
  }
}

@keyframes movecard {
  0% {
    -webkit-transform: translate(4.4rem, 27rem) rotate(90deg);
            transform: translate(4.4rem, 27rem) rotate(90deg);
  }
  50% {
    -webkit-transform: translate(4.4rem, 37rem) rotate(90deg);
            transform: translate(4.4rem, 37rem) rotate(90deg);
  }
}

.pointment {
  width: 80%;
  height: 80%;
  -webkit-box-shadow: 0rem 2rem 4rem #675fc09b;
          box-shadow: 0rem 2rem 4rem #675fc09b;
  background: linear-gradient(220deg, #465fa4 0%, #7190e4 30%, #f3b4d8 100%);
  -webkit-transform: translate(2rem, 5rem) rotate(-5deg);
          transform: translate(2rem, 5rem) rotate(-5deg);
}

.dashline {
  height: 100%;
  width: 6rem;
  border-right: 0.2rem dashed #fff;
}

.realpoint {
  width: 80%;
  height: 80%;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  -webkit-transform: translate(4rem, -10rem);
          transform: translate(4rem, -10rem);
  border-radius: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0rem 2rem 6rem #1a1f33;
          box-shadow: 0rem 2rem 6rem #1a1f33;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: linear-gradient(120deg, #f3b4d8b2, #b8b0f468);
}

.realpoint .pointInnertext {
  font-size: 4rem;
  letter-spacing: 0.2rem;
  color: #fff;
  font-family: 'GmarketSansBold';
}

.pointInnertext:nth-child(2) {
  font-size: 2rem;
  letter-spacing: 3rem;
  margin-left: 3rem;
}

.realpoint:hover {
  -webkit-transform: translate(4rem, -12rem);
          transform: translate(4rem, -12rem);
  -webkit-box-shadow: 0rem 0.5rem 3rem #675fc085;
          box-shadow: 0rem 0.5rem 3rem #675fc085;
}

.paymentcardmtitle {
  font-size: 4rem;
  opacity: 0;
  -webkit-transform: translateY(12rem);
          transform: translateY(12rem);
  font-size: 3rem;
  letter-spacing: 0.2rem;
  color: #fff;
  padding: 2rem;
  border: 0.2rem solid #f3b4d8;
  border-radius: 6rem;
  -webkit-animation: colorchangepaytitle 3s linear infinite;
          animation: colorchangepaytitle 3s linear infinite;
}

@-webkit-keyframes colorchangepaytitle {
  100% {
    opacity: 1;
  }
}

@keyframes colorchangepaytitle {
  100% {
    opacity: 1;
  }
}

.receiptModal {
  position: fixed;
  width: 72rem;
  height: 102rem;
  z-index: 20;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
  background: #16142b85;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}

.receiptModal h2 {
  font-size: 3rem;
  width: 30%;
  -webkit-transform: translate(8rem);
          transform: translate(8rem);
  margin: 1rem;
  padding: 2rem;
  float: left;
  border: 0.2rem solid #f3b4d8;
  border-radius: 7rem;
  color: #fff;
  letter-spacing: 0.2rem;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.receiptModal h2:hover {
  cursor: pointer;
  color: #f3b4d8;
  background: #fff;
}

.receiptModal h1 {
  width: 75%;
  -webkit-transform: translate(12%);
          transform: translate(12%);
  font-size: 3rem;
  letter-spacing: 0.2rem;
  opacity: 0;
  color: #fff;
  padding: 2rem;
  border: 0.2rem solid #f3b4d8;
  border-radius: 6rem;
  -webkit-animation: colorchangepaytitle 3s linear infinite;
          animation: colorchangepaytitle 3s linear infinite;
}

@keyframes colorchangepaytitle {
  100% {
    opacity: 1;
  }
}

.receiptModal .reciptmodalbody {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 60%;
  -webkit-perspective: 20rem;
          perspective: 20rem;
  -webkit-perspective-origin: 20%;
          perspective-origin: 20%;
}

.receiptModal .reciptmodalbody .scanPhone {
  -webkit-box-shadow: 2rem 2rem 4rem #f3b4d8;
          box-shadow: 2rem 2rem 4rem #f3b4d8;
  width: 40%;
  height: 30%;
  background: white;
  -webkit-transform: translate(7rem, 12rem) rotateY(10deg);
          transform: translate(7rem, 12rem) rotateY(10deg);
  border-radius: 2rem;
}

.receiptModal .reciptmodalbody .scanPhone .readbacod {
  width: 80%;
  height: 70%;
  -webkit-transform: translate(3rem, 2.5rem);
          transform: translate(3rem, 2.5rem);
  background: linear-gradient(190deg, #f3b4d8 40%, #fff);
  border-radius: 1rem;
  overflow: hidden;
  -webkit-perspective: 10rem;
          perspective: 10rem;
}

.receiptModal .reciptmodalbody .scanPhone .readbacod .readbacodscreen {
  width: 100%;
  height: 100%;
  background: linear-gradient(20deg, #f3b4d8, rgba(255, 255, 255, 0.664));
  -webkit-box-shadow: inset 3rem 4rem 3rem #ffe2f29f;
          box-shadow: inset 3rem 4rem 3rem #ffe2f29f;
  -webkit-transform: translate(-6rem, 0.5rem) rotateX(-50deg);
          transform: translate(-6rem, 0.5rem) rotateX(-50deg);
}

.receiptModal .reciptmodalbody .scanPhone .readbacod .readbacodbottm {
  width: 100%;
  height: 70%;
  -webkit-transform: translate(-5.5rem, -6rem) rotateX(100deg);
          transform: translate(-5.5rem, -6rem) rotateX(100deg);
  background: linear-gradient(30deg, #fff, #f3b4d8);
}

.receiptModal .pointphone {
  width: 12rem;
  height: 20rem;
  border-radius: 0.5rem;
  -webkit-transform: translate(-4rem);
          transform: translate(-4rem);
  -webkit-backdrop-filter: blur(0.4rem);
          backdrop-filter: blur(0.4rem);
  -webkit-box-shadow: 2rem 0rem 6rem #f3b4d8;
          box-shadow: 2rem 0rem 6rem #f3b4d8;
  background: #fff;
}

.receiptModal .pointphone img {
  width: 16rem;
  -webkit-transform: rotate(90deg) translate(5.5rem, 3rem);
          transform: rotate(90deg) translate(5.5rem, 3rem);
}

.receiptModal .phone {
  width: 10rem;
  height: 25rem;
  background: linear-gradient(-50deg, #465fa4 10%, #657bb8 30%, #f3b4d8 100%);
  -webkit-box-shadow: 0rem 2rem 8rem #16142b85;
          box-shadow: 0rem 2rem 8rem #16142b85;
  padding: 2rem;
  border-radius: 1rem;
  margin-left: 5rem;
  -webkit-transform: rotateY(-5deg) translate(35rem, -10rem);
          transform: rotateY(-5deg) translate(35rem, -10rem);
}

.receiptModal .barcode_line {
  width: 100%;
  height: 1rem;
  -webkit-box-shadow: -3rem 2rem 5rem #f3b4d8;
          box-shadow: -3rem 2rem 5rem #f3b4d8;
  position: absolute;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: translateY 15rem;
          transform: translateY 15rem;
  background: #ffd7ee;
  animation: translatebox 6s linear infinite reverse;
}

@-webkit-keyframes translatebox {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(19rem);
            transform: translateY(19rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes translatebox {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(19rem);
            transform: translateY(19rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

.cwrningwapper {
  height: 102rem;
  width: 72rem;
  position: fixed;
  z-index: 100;
  background: #16142b71;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.coutnWrningModal {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
  width: 35rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 100;
  height: 30rem;
  -webkit-box-shadow: 2rem 0rem 16rem #f3b4d863;
          box-shadow: 2rem 0rem 16rem #f3b4d863;
  background: #1a1f33;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0rem 0rem 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coutnWrningModal .modalhat {
  border-radius: 1rem 1rem 0rem 0rem;
  width: 96%;
  height: 18%;
  padding: 2%;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #1a1f33;
  -webkit-box-shadow: 2rem 0rem 16rem #23222db2;
          box-shadow: 2rem 0rem 16rem #23222db2;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(-3rem, -12rem) rotate(-15deg);
          transform: translate(-3rem, -12rem) rotate(-15deg);
}

.coutnWrningModal .modalhat .strip {
  width: 10%;
  height: 100%;
  background: #fff;
}

.coutnWrningModal .coutnWrningModalheader {
  height: 40%;
  width: 100%;
  text-align: center;
  border-radius: 1rem;
}

.coutnWrningModal .coutnWrningModalheader .coutnWrningModalheadertitle {
  font-size: 3rem;
  color: #fff;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  letter-spacing: 0.3rem;
  line-height: 6rem;
}

.coutnWrningModal .coutnWrningModalheader .coutnWrningModalheadertitle .fa-triangle-exclamation {
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  font-size: 6rem;
  color: #ffe277;
}

.coutnWrningModal .modalinfomation {
  height: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.coutnWrningModal .modalinfomation #modal_point {
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 14rem;
  color: #ffba00;
  -webkit-animation: identifier 4s infinite;
          animation: identifier 4s infinite;
}

@-webkit-keyframes identifier {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes identifier {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.coutnWrningModal .modalinfomation .modalinfomation_inner {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  color: #fff;
}

.coutnWrningModal .modalinfomation .modalinfomation_inner .cunnum {
  font-size: 2rem;
  text-align: center;
}
