@charset "UTF-8";
@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeferiPoint-WhiteA';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YUniverse-L';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-L.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes colorchange {
  0% {
    text-shadow: 0;
  }
  50% {
    text-shadow: 0rem 0rem 0.8rem #ffba00;
  }
  100% {
    text-shadow: 0;
  }
}

@keyframes colorchange {
  0% {
    text-shadow: 0;
  }
  50% {
    text-shadow: 0rem 0rem 0.8rem #ffba00;
  }
  100% {
    text-shadow: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-family: 'GmarketSansMedium';
  background: url("../../../img/film-strip-svgrepo-com.svg");
  width: 100%;
  font-size: 10px;
  background: whitesmoke;
  height: 100vh;
  color: #3d3a54;
  background: #1a1f33;
  background: linear-gradient(200deg, #465fa4 10%, #657bb8 30%, #f3b4d8 100%);
}

body button,
html button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: 'GmarketSansMedium';
}

.countermodalwapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}

.countermodalwapper .count_title {
  font-size: 2.5rem;
  letter-spacing: 0.4rem;
  -webkit-transform: translate(1rem);
          transform: translate(1rem);
  color: #fff1bc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  animation: colorchange 4s linear infinite reverse;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
}

.countermodalwapper .countPersonsection {
  width: 62rem;
  height: 60rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  background: #3d3a54;
  text-align: center;
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #16142b;
          box-shadow: 0.2rem 0.8rem 3rem #16142b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1rem;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.countermodalwapper .countPersonsection .counterresult {
  width: 62rem;
  height: 20%;
}

.countermodalwapper .countPersonsection .counterresult #submitperson {
  font-family: 'GmarketSansMedium';
  font-weight: 900;
  border: none;
  width: 15rem;
  outline: none;
  padding: 1rem;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #15192432;
          box-shadow: 0.2rem 0.8rem 3rem #15192432;
  font-size: 2.5rem;
  background: #16142b89;
  color: #f3b4d8;
  border-radius: 3rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.countermodalwapper .countPersonsection .counterresult #submitperson:active,
.countermodalwapper .countPersonsection .counterresult #submitperson:hover,
.countermodalwapper .countPersonsection .counterresult #submitperson:focus {
  background: #ffe277;
  color: #ffba00;
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
          box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
}

.countermodalwapper .countPersonsection .counterresult h1,
.countermodalwapper .countPersonsection .counterresult i {
  font-size: 3rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.countermodalwapper .countPersonsection .counterresult i {
  cursor: pointer;
}

.countermodalwapper .countPersonsection .counterresult i:hover {
  color: #ea85b4;
}

.countermodalwapper .countPersonsection .countprice {
  height: 15rem;
  width: 100%;
  background: #16142b;
}

.countermodalwapper .countPersonsection .Adult,
.countermodalwapper .countPersonsection .junior,
.countermodalwapper .countPersonsection .disabled,
.countermodalwapper .countPersonsection .old {
  -webkit-transform: translate(6rem);
          transform: translate(6rem);
  letter-spacing: 0.2rem;
  margin: 0.5rem;
  color: #f3b4d8;
  text-align: center;
  text-shadow: 0rem 0rem 0.8rem #1a1f33;
}

.countermodalwapper .countPersonsection .Adult i,
.countermodalwapper .countPersonsection .junior i,
.countermodalwapper .countPersonsection .disabled i,
.countermodalwapper .countPersonsection .old i {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.countermodalwapper .countPersonsection .Adult i:hover,
.countermodalwapper .countPersonsection .junior i:hover,
.countermodalwapper .countPersonsection .disabled i:hover,
.countermodalwapper .countPersonsection .old i:hover {
  color: #ea85b4;
}

.countermodalwapper .countPersonsection .Adult h2,
.countermodalwapper .countPersonsection .junior h2,
.countermodalwapper .countPersonsection .disabled h2,
.countermodalwapper .countPersonsection .old h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  background: transparent;
  -webkit-transform: translate(-11rem, 1rem);
          transform: translate(-11rem, 1rem);
  width: 10rem;
  text-align: center;
  position: absolute;
  height: 4rem;
  line-height: 4rem;
  border-radius: 2rem;
}

.countermodalwapper .countPersonsection .countmodalheader {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 62rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 7rem;
}

.countermodalwapper .countPersonsection button {
  cursor: pointer;
}

.countermodalwapper .countPersonsection .cutbtn {
  border: none;
  font-family: 'GmarketSansMedium';
  margin: 0.4rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding: 1rem;
  font-size: 2rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #f3b4d8;
  border-radius: 1rem;
  cursor: pointer;
  background-color: transparent;
}

.countermodalwapper .countPersonsection .cutbtn:hover,
.countermodalwapper .countPersonsection .cutbtn:active {
  background: #ffe277;
  color: #ffba00;
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
          box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
}

.modalwapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}

.modalwapper .modal__header {
  text-align: center;
  border-bottom: 0.3rem dashed #1a1f33;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 9rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modalwapper .modal__header h1 {
  font-size: 3rem;
  padding: 1rem;
  letter-spacing: 0.4rem;
}

.modalwapper .modal__header h1::before {
  content: '\f00c';
  color: #f3b4d8;
  font-family: 'Font Awesome 6 free';
  font-weight: 900;
  padding-right: 1rem;
}

.modalwapper .modal__header i {
  cursor: pointer;
  color: #f3b4d8;
  font-size: 3rem;
  line-height: 10rem;
  -webkit-transform: translate(10rem);
          transform: translate(10rem);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modalwapper .modal__header i:hover {
  color: #655777;
}

.modalwapper .modal_body {
  width: 60rem;
  height: 50rem;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #1a1f33;
  background: #fff;
  border-radius: 1.5rem;
  text-align: center;
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #16142b;
          box-shadow: 0.2rem 0.8rem 3rem #16142b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modalwapper .modal_body button {
  font-family: 'GmarketSansMedium';
  font-weight: 900;
  border: none;
  width: 15rem;
  outline: none;
  padding: 1rem;
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #15192432;
          box-shadow: 0.2rem 0.8rem 3rem #15192432;
  font-size: 2.5rem;
  background: #465fa4;
  color: #f3b4d8;
  border-radius: 3rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.modalwapper .modal_body .modalinfo {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalwapper .modal_body .modalinfo h2 {
  font-size: 2rem;
  padding: 1rem;
}

.modalwapper .modal_body .modalinfo h2::before {
  content: '\f00c';
  color: #f3b4d8;
  font-family: 'Font Awesome 6 free';
  font-weight: 900;
  padding-right: 1rem;
}

.modalwapper .modal_body .modalinfo p {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}

.moviewapper {
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  width: 72rem;
  height: 100rem;
  margin: auto;
  background: linear-gradient(220deg, #3d3a54 0%, #1a1f33e3 20%, #655777 100%);
}

.moviewapper #playerarea {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.moviewapper #playerarea .head__infor {
  background: #1a1f33;
  z-index: 1;
  height: 10rem;
  border-radius: 0rem 0rem 3rem 3rem;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.moviewapper #playerarea .head__infor .timewapper {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  display: inline-block;
  line-height: 9.8rem;
  text-shadow: 0rem 2rem 3rem #16142b62;
  color: #f3b4d8;
}

.moviewapper #playerarea .head__infor .timewapper:first-child {
  position: absolute;
  -webkit-transform: translate(-25rem);
          transform: translate(-25rem);
}

.moviewapper #playerarea .head__infor .timewapper:last-child {
  -webkit-transform: translate(25rem);
          transform: translate(25rem);
  position: absolute;
}

.moviewapper .mainBox::-webkit-scrollbar {
  width: none;
  display: none;
}

.moviewapper .mainBox {
  width: 100%;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 80rem;
}

.moviewapper .mainBox .main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.moviewapper .mainBox .main__body h1 {
  color: #655777;
  font-size: 3rem;
  margin: auto;
}

.moviewapper .mainBox .main__body .timeSection {
  width: 100%;
  height: 70%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.moviewapper .mainBox .slide__info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 98%;
  -webkit-transition: 1s;
  transition: 1s;
  padding: 1rem;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

.moviewapper .mainBox .slide__info .movietimebox::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}

.moviewapper .mainBox .slide__info .movietimebox::-webkit-scrollbar-thumb {
  background-color: #f3b4d8;
  border-radius: 1rem;
}

.moviewapper .mainBox .slide__info .movietimebox::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: #3d3a54;
}

.moviewapper .mainBox .slide__info .movietimebox {
  scrollbar-width: thin;
  border-radius: 0.5rem;
  background: whitesmoke;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 7.5rem;
  width: 35rem;
  overflow-x: scroll;
  -webkit-transform: translate(1rem) translateY(-2rem);
          transform: translate(1rem) translateY(-2rem);
}

.moviewapper .mainBox .slide__info .movietimebox .movieUlLicontainer {
  font-size: 'GmarketSansLight';
  padding: 0.8rem;
  font-size: 1.4rem;
  text-align: left;
  color: #1a1f33;
  border: none;
  border-right: 0.3rem solid white;
  cursor: pointer;
  letter-spacing: 0.03rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  line-height: 2.3rem;
  background: transparent;
}

.moviewapper .mainBox .slide__info .movietimebox .movieUlLicontainer .movieUlLicontainer:hover {
  color: #f3b4d8;
}

.moviewapper .mainBox .slide__info .sliderimgs {
  height: 23rem;
  -webkit-box-shadow: 0rem 0rem 0.8rem #16142b;
          box-shadow: 0rem 0rem 0.8rem #16142b;
  z-index: 1;
}

.moviewapper .mainBox .slide__info .infor__container {
  overflow: hidden;
  -webkit-box-shadow: 0rem 0rem 0.8rem #16142b3e;
          box-shadow: 0rem 0rem 0.8rem #16142b3e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 40rem;
  height: 23rem;
  background: #fff;
  z-index: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  border-right: 0.2rem dashed #3d3a54;
}

.moviewapper .mainBox .slide__info .infor__container h3 {
  font-size: 3rem;
  margin-top: 1.5rem;
  color: #1a1f33;
  display: inline-block;
}

.moviewapper .mainBox .slide__info .infor__container ㄹ h3::before {
  content: '';
  color: #655777;
  padding-right: 1rem;
  font-size: 3rem;
}

.moviewapper .mainBox .slide__info .infor__tail {
  overflow: hidden;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  width: 10rem;
  background: #fff;
  -webkit-box-shadow: 1rem 0rem 0.8rem #16142b3e;
          box-shadow: 1rem 0rem 0.8rem #16142b3e;
  height: 23rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 0.2rem dashed #3d3a54;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.moviewapper .mainBox .slide__info .infor__tail ul,
.moviewapper .mainBox .slide__info .infor__tail li {
  list-style: none;
  font-weight: bold;
}

.moviewapper .mainBox .slide__info .infor__tail ul {
  font-size: 2rem;
}

.moviewapper .mainBox .slide__info .infor__tail li {
  color: #686481;
  font-size: 1.5rem;
}

.moviewapper .mainBox .slide__info .infor__tail .wathingage {
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background: transparent;
  border-radius: 50%;
  border: 0.1rem solid #f3b4d8;
}

.moviewapper .mainBox .slide__info .infor__tail .wathingage p {
  font-size: 2rem;
  line-height: 4.9rem;
  color: #f3b4d8;
}

.moviewapper footer {
  background: #1a1f33;
  width: 100%;
  height: 12rem;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  display: inline-block;
  text-align: center;
  text-align: center;
  border-radius: 3rem 3rem 0rem 0rem;
}

.moviewapper footer a {
  text-decoration: none;
}

.moviewapper footer i {
  color: #655777;
  line-height: 11.8rem;
  font-size: 4rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.moviewapper footer i:hover {
  color: #ffe277;
  text-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
}

.moviewapper footer i:nth-child(1) {
  -webkit-transform: translate(-28rem);
          transform: translate(-28rem);
}

.moviewapper footer i:nth-child(2) {
  -webkit-transform: translate(28rem);
          transform: translate(28rem);
}

.opacityscroll {
  visibility: hidden;
  opacity: 0;
}

.check {
  background: #ffe277;
  color: #ffba00;
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
          box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
}

.membershipBox {
  width: 95%;
  height: 80%;
  outline: none;
  border-radius: 1rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.membershipBox .membershipkeybord {
  z-index: 1;
  padding: 1rem;
  border-radius: 8rem 8rem 1rem 1rem;
  height: 50%;
  margin: auto;
  width: 95%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: linear-gradient(200deg, #1a1f33, transparent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.membershipBox .membershipkeybord .mkeybord {
  background: transparent;
  border: none;
  font-family: 'GmarketSansMedium';
  margin: 0.5rem;
  width: 8rem;
  line-height: 5.5rem;
  height: 8rem;
  padding: 1.5rem;
  text-shadow: 0rem 1rem 3rem #1a1f33;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  font-size: 4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #f3b4d8;
  border-radius: 1rem;
  cursor: pointer;
}

.membershipBox .membershipkeybord .mkeybord:hover {
  border-radius: 50%;
  background: #ffe277;
  color: #ffba00;
  text-shadow: none;
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
          box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
}

.membershipBox .membershipnumberviewer {
  background: transparent;
  margin: auto;
  width: 95%;
  height: 100%;
}

.membershipBox .membershipnumberviewer .Num010 {
  font-size: 3rem;
}

.buttonBox {
  text-align: center;
  width: 95%;
  margin: auto;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.buttonBox .Mbtn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 0;
  background: #3d3a54;
  font-family: 'GmarketSansMedium';
  font-weight: bold;
  border: none;
  width: 21rem;
  height: 9rem;
  outline: none;
  padding: 1rem;
  -webkit-box-shadow: 0rem 2rem 5rem #181b3650;
          box-shadow: 0rem 2rem 5rem #181b3650;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 3rem;
  color: #f3b4d8;
  letter-spacing: 0.5rem;
  cursor: pointer;
  border-radius: 2rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.buttonBox .Mbtn:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0rem 0rem 3rem #6069bd8f;
          box-shadow: 0rem 0rem 3rem #6069bd8f;
}

.buttonBox .Mbtn:active {
  -webkit-transform: scale(90%);
          transform: scale(90%);
}

.Mbtn:nth-child(1) {
  background: white;
  color: #465fa4;
}

.Mbtn:nth-child(2) {
  background: #f3b4d8;
  color: #3d3a54;
}

.Mbtn:nth-child(3) {
  background: #1a1f33;
}

.intromembership {
  font-size: 3rem;
  text-align: center;
  background: #fff;
  color: #1a1f33;
  padding: 3rem;
  -webkit-box-shadow: 0.2rem 0.8rem 3rem #7e87d859;
          box-shadow: 0.2rem 0.8rem 3rem #7e87d859;
  border-radius: 0rem 0rem 3rem 3rem;
  letter-spacing: 0.5rem;
}

.numberviewr {
  text-align: left;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  width: 80%;
  margin: auto;
}

.numberviewr .NumNum {
  font-size: 4rem;
  letter-spacing: 1rem;
  color: #655777;
  text-shadow: 0.2rem 0.8rem 3rem #16142b88;
}

.numberviewr .Numresult {
  font-size: 5rem;
  letter-spacing: 1rem;
  color: #fff;
  text-shadow: 0.2rem 0.8rem 3rem #16142b88;
  -webkit-transform: translate(9rem);
          transform: translate(9rem);
}

.membershipModal {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
  width: 40rem;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 100;
  height: 60rem;
  -webkit-box-shadow: 2rem 0rem 10rem #23222db2;
          box-shadow: 2rem 0rem 10rem #23222db2;
  border-radius: 3rem;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.membershipModal .membershipmodalheader {
  height: 20%;
  border-bottom: 0.1rem dashed #3d3a54;
  width: 100%;
  text-align: center;
}

.membershipModal .membershipmodalheader .enterkey::after {
  content: '\f005';
  color: #ffba00;
  font-family: 'Font Awesome 6 Free';
  margin-left: 1rem;
}

.membershipModal .membershipmodalheader .membershipmodalheadertitle {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  line-height: 5rem;
}

.membershipModal .modalinfomation {
  height: 70%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.membershipModal .modalinfomation #modal_point {
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 14rem;
  color: #ffba00;
  -webkit-animation: identifier 4s infinite;
          animation: identifier 4s infinite;
}

@-webkit-keyframes identifier {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes identifier {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.membershipModal .modalinfomation .modalinfomation_inner {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  border-radius: 5rem;
  border: 0.15rem solid #f3b4d8;
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
}

.membershipModal .modalinfomation .modalinfomation_inner .cunnum {
  font-size: 2rem;
  text-align: center;
}

.coutnWrningModal {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
  width: 35rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 100;
  height: 30rem;
  -webkit-box-shadow: 2rem 0rem 16rem #23222db2;
          box-shadow: 2rem 0rem 16rem #23222db2;
  background: #1a1f33;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0rem 0rem 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coutnWrningModal .modalhat {
  border-radius: 1rem 1rem 0rem 0rem;
  width: 96%;
  height: 18%;
  padding: 2%;
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
  background: #1a1f33;
  -webkit-box-shadow: 2rem 0rem 16rem #23222db2;
          box-shadow: 2rem 0rem 16rem #23222db2;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(-3rem, -12rem) rotate(-15deg);
          transform: translate(-3rem, -12rem) rotate(-15deg);
}

.coutnWrningModal .modalhat .strip {
  width: 10%;
  height: 100%;
  background: #fff;
}

.coutnWrningModal .coutnWrningModalheader {
  height: 40%;
  width: 100%;
  text-align: center;
  border-radius: 1rem;
}

.coutnWrningModal .coutnWrningModalheader .coutnWrningModalheadertitle {
  font-size: 3rem;
  color: #fff;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  letter-spacing: 0.3rem;
  line-height: 6rem;
}

.coutnWrningModal .coutnWrningModalheader .coutnWrningModalheadertitle .fa-triangle-exclamation {
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  font-size: 6rem;
  color: #ffe277;
}

.coutnWrningModal .modalinfomation {
  height: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.coutnWrningModal .modalinfomation #modal_point {
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 14rem;
  color: #ffba00;
  -webkit-animation: identifier 4s infinite;
          animation: identifier 4s infinite;
}

@keyframes identifier {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.coutnWrningModal .modalinfomation .modalinfomation_inner {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  color: #fff;
}

.coutnWrningModal .modalinfomation .modalinfomation_inner .cunnum {
  font-size: 2rem;
  text-align: center;
}
