@charset "utf-8";
// maincolor1

$subcolor_1: #fff;

// maincolor2
$main2_black: #08030a;
$main2_black2: #3d3a54;
$main2_green: #1a1f33;
$main2_pink: #ffba00;
$main2_fff2: #f3b4d8;
$main2_white: #655777;

//maincolor3
$main_1: #1a1f33;
$main_4: #465fa4;
$main_2: #f3b4d8;
$main_3: #ea85b4;

@mixin center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'LeferiPoint-WhiteA';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GmarketSansLight';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'YUniverse-L';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-L.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@keyframes colorchange {
	0% {
		text-shadow: 0;
	}
	50% {
		text-shadow: 0rem 0rem 0.8rem $main2_pink;
	}
	100% {
		text-shadow: 0;
	}
}

* {
	margin: 0;
	padding: 0;
}
*::before,
*::after {
	box-sizing: border-box;
}

body,
html {
	ul,
	li {
		list-style-type: none;
	}
	font-family: 'GmarketSansMedium';
	// scroll-behavior: auto;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 10px;
	height: 100vh;
	background: linear-gradient(200deg, $main_4 10%, #657bb8 30%, $main_2 100%);

	color: $main2_black2;
	button {
		appearance: none;
	}
}
// 인원수 입력하는 모달 //
.countermodalwapper {
	width: 100%;
	height: 100%;
	position: fixed;

	z-index: 20;
	transition: 1s;
	backdrop-filter: blur(1rem);

	.count_title {
		font-size: 2.5rem;
		letter-spacing: 0.4rem;
		transform: translate(1rem);
		color: #fff1bc;
		transition: 0.5s;
		animation: colorchange 4s linear infinite reverse;
		transform: translateY(2rem);
	}

	.countPersonsection {
		width: 62rem;
		height: 60rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
		background: $main2_black2;
		text-align: center;
		box-shadow: 0.2rem 0.8rem 3rem #16142b;
		transition: 0.5s;
		display: flex;
		border-radius: 1rem;
		position: relative;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		.counterresult {
			width: 62rem;
			height: 20%;

			#submitperson {
				font-family: 'GmarketSansMedium';
				font-weight: 900;
				border: none;
				width: 15rem;
				outline: none;
				padding: 1rem;
				transform: translateY(2rem);
				box-shadow: 0.2rem 0.8rem 3rem #15192432;
				font-size: 2.5rem;
				background: #16142b89;
				color: #f3b4d8;
				border-radius: 3rem;
				transition: 0.4s;
				cursor: pointer;
			}
			#submitperson:active,
			#submitperson:hover,
			#submitperson:focus {
				background: #ffe277;
				color: $main2_pink;
				box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
			}

			h1,
			i {
				font-size: 3rem;
				transition: 0.4s;
			}
			fj i {
				cursor: pointer;
			}
			i:hover {
				color: $main_3;
			}
		}

		.countprice {
			height: 15rem;
			width: 100%;
			background: #16142b;
		}
		.Adult,
		.junior,
		.disabled,
		.old {
			transform: translate(6rem);
			letter-spacing: 0.2rem;
			margin: 0.5rem;
			color: $main_2;
			text-align: center;
			text-shadow: 0rem 0rem 0.8rem $main2_green;
			i {
				cursor: pointer;
				transition: 0.4s;
			}
			i:hover {
				color: #ea85b4;
			}
			h2 {
				font-size: 2rem;
				margin-bottom: 1rem;
				background: transparent;
				transform: translate(-11rem, 1rem);
				width: 10rem;
				text-align: center;
				position: absolute;
				height: 4rem;
				line-height: 4rem;
				border-radius: 2rem;
			}
		}

		.countmodalheader {
			align-items: center;
			justify-content: space-around;
			width: 62rem;
			display: flex;
			height: 7rem;
		}
		button {
			cursor: pointer;
		}

		.cutbtn {
			border: none;
			font-family: 'GmarketSansMedium';
			margin: 0.4rem;
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
			padding: 1rem;
			font-size: 2rem;
			transition: 0.4s;
			color: $main_2;
			border-radius: 1rem;
			cursor: pointer;
		}

		.cutbtn:visited,
		.cutbtn:hover,
		.cutbtn:active {
			background: #ffe277;
			color: $main2_pink;
			box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
		}
	}
}
// 경고 모달 //
.modalwapper {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 20;
	transition: 1s;
	backdrop-filter: blur(1rem);

	.modal__header {
		text-align: center;
		border-bottom: 0.3rem dashed $main_1;
		height: 10rem;
		display: flex;
		line-height: 9rem;
		justify-content: center;

		h1 {
			font-size: 3rem;
			padding: 1rem;
			letter-spacing: 0.4rem;
		}
		h1::before {
			content: '\f00c';
			color: $main2_fff2;
			font-family: 'Font Awesome 6 free';
			font-weight: 900;
			padding-right: 1rem;
		}
		i {
			cursor: pointer;
			color: $main2_fff2;
			font-size: 3rem;
			line-height: 10rem;
			transform: translate(10rem);
			transition: 0.5s;
		}
		i:hover {
			color: $main2_white;
		}
	}
	.modal_body {
		width: 60rem;
		height: 50rem;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $main_1;
		background: #fff;
		border-radius: 1.5rem;
		text-align: center;
		box-shadow: 0.2rem 0.8rem 3rem #16142b;
		transition: 0.5s;

		button {
			font-family: 'GmarketSansMedium';
			font-weight: 900;
			border: none;
			width: 15rem;
			outline: none;
			padding: 1rem;
			box-shadow: 0.2rem 0.8rem 3rem #15192432;
			font-size: 2.5rem;
			background: $main_4;
			color: #f3b4d8;
			border-radius: 3rem;
			transition: 0.4s;
			cursor: pointer;
		}

		.modalinfo {
			padding-top: 1rem;
			display: flex;
			height: 30rem;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;

			h2 {
				font-size: 2rem;
				padding: 1rem;
			}
			h2::before {
				content: '\f00c';
				color: $main2_fff2;
				font-family: 'Font Awesome 6 free';
				font-weight: 900;
				padding-right: 1rem;
			}
			p {
				font-size: 1.5rem;

				letter-spacing: 0.2rem;
				line-height: 2rem;
			}
		}
	}
}

.moviewapper {
	width: 72rem;
	height: 100rem;
	margin: auto;
	background: linear-gradient(220deg, rgba(61, 58, 84, 1) 0%, #1a1f33e3 20%, rgba(101, 87, 119, 1) 100%);

	// 헤더
	#playerarea {
		width: 100%;
		display: flex;
		text-align: center;
		flex-direction: column;

		.head__infor {
			background: $main2_green;
			z-index: 1;
			height: 10rem;
			width: 100%;
			text-align: center;
			display: flex;
			justify-content: space-around;

			.timewapper {
				font-size: 2rem;
				letter-spacing: 0.2rem;
				display: inline-block;
				line-height: 9.8rem;
				text-shadow: 0rem 2rem 3rem #16142b62;
				color: $main2_fff2;
				
			}
			
			.timewapper:first-child {
				position: absolute;
				transform: translate(-25rem);
			}
			
			.timewapper:last-child {
				transform: translate(25rem);
				position: absolute;
			}
		}	
	}
	// 헤더다음에 나오는 몸통박스 //
	.mainBox::-webkit-scrollbar {
		width: none;
		display: none;
	}
	.mainBox {
		width: 100%;
		// overflow-y: auto;
		box-sizing: border-box;
		height: 80rem;
		background-size: cover;

		.main__body {
			display: flex;
			flex-direction: column;
			height: 100%;

			h1 {
				color: $main2_white;
				font-size: 3rem;
				margin: auto;
			}
			.timeSection {
				width: 100%;
				height: 70%;
				flex-direction: row;
				align-items: center;
				transform: translateY(-3rem);
				display: flex;
				position: relative;
			}
			.head__infor {
				width: 100%;
				height: 10rem;
				background: $main2_pink;
			}
		}
		//좌석선택창
		.choseseat {
			width: 100%;
			height: 100%;
			backdrop-filter: blur(1rem);
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			margin: auto;
			display: flex;
			border-radius: 0.2rem;
			.seatcontainer::-webkit-scrollbar {
				width: none;
				display: none;
			}

			.seatcontainer {
				width: 98%;
				height: 60%;
				outline: none;
				border-radius: 1rem;

				.seatcon {
					background: radial-gradient(circle, $main2_white 0%, $main2_black2 10%, $main_1 70%, $main_1 100%);
					width: 72rem;
					height: 50rem;
					transform: translate(-0.75rem, -2rem);
					perspective: 50rem;
					border-radius: 0rem 0rem 3rem 3rem;

					.Screen {
						width: 50%;
						height: 15rem;
						margin: auto;
						background: #ffe277;
						box-shadow: 0rem 8rem 15rem #fde16362;
						border-radius: 0.2rem;
						transform: rotateX(-90deg) translate(1rem, -3rem);
					}
					.seatbox {
						transform: translateY(-1rem);
						display: flex;
						flex-direction: column;
						width: 100%;
						height: 50%;

						.row:nth-child(6) {
							margin-top: 2rem;
							p {
								color: $main_3;
							}
							.seat {
								width: 7%;
							}
						}
						.row {
							transform: translate(-1.5rem, -2rem);
							padding: 0.7rem;
							width: 70%;
							height: 10%;
							margin: auto;
							display: flex;
							justify-content: space-between;
							text-align: center;
							p {
								font-size: 2.5rem;
								transform: translate(-1rem, -0.5rem);
								color: #655777;
								font-weight: bold;
							}
							.seat {
								color: transparent;
								transition: 0.4s;
								width: 5%;
								height: 80%;

								background: $subcolor_1;
								cursor: pointer;
								border-radius: 0.4rem;
								box-shadow: 0rem 0.8rem 2rem $main2_green;
							}
							.seat:visited,
							.seat:hover,
							.seat:active {
								background: #ffe277;
								color: $main2_pink;
								box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
							}

							.backward {
								margin-top: 1rem;
							}
							.occupied {
								background: $main2_black2;
							}
							.selected {
								background: #ffe277;
								color: $main2_pink;
								box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
							}
							.check {
								background: #ffe277;
								color: $main2_pink;
								box-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
							}
						}
					}
				}
			}
		}
	}
	.resultprice {
		width: 95%;

		height: 36%;
		border-radius: 0.6rem;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		#movieinfo {
			position: relative;
			width: 17rem;
			height: 24.4rem;
			background-size: cover;
			border-radius: 0.5rem;
			box-shadow: 1rem 2rem 6rem #1a1f33ab;
			z-index: 1;
			overflow: hidden;

			#MovieInfo {
				position: absolute;
				top: 0;
				left: 0;
				padding: 1rem;
				box-sizing: border-box;
				height: 100%;
				width: 100%;
				margin: auto;
				word-break: keep-all;
				letter-spacing: 0.5rem;
				line-height: 3rem;
				background: #1a1f33c9;
				#Movieinfo_title {
					position: absolute;
					top: 1rem;
					left: 1rem;
					font-size: 2.5rem;
					color: #fff;
					float: right;
				}
			}
		}
		.personlist {
			padding: 1rem;
			width: 45rem;
			display: flex;
			height: 75%;
			border-radius: 2rem;
			flex-direction: column;
			transform: translateY(-2rem);
			li {
				color: #fff;
			}
			.totalprice {
				height: 30%;
				transform: translateY(2rem);
				display: flex;
				justify-content: space-between;
				flex-direction: row;
			}
			.ToTalprice {
				width: 50%;
				height: 80%;
				transform: translateY(1rem);
				border-radius: 5rem;
				text-align: center;
				line-height: 10rem;
				letter-spacing: 0.5rem;
			}

			.totalpersonList {
				height: 65%;
				width: 100%;
				flex-direction: row;
				border-radius: 1rem;
				display: flex;
				justify-content: space-evenly;

				.selectCart {
					width: 100%;
				}
				.cartText {
					margin: auto;
					border: 0.1rem solid $main2_fff2;
					border-radius: 3rem;
					margin-bottom: 1rem;
					width: 90%;
					height: 4rem;
					text-align: center;
					line-height: 4rem;
					padding: 1rem;
					span {
						margin-left: 1rem;
						color: #fff;
						font-size: 2.5rem;
						letter-spacing: 0.2rem;
					}
				}
				.cartList {
					margin: auto;
					margin-bottom: 1rem;
					width: 90%;
					height: 4rem;
					text-align: center;
					line-height: 4rem;
					padding: 1rem;
					span {
						margin-left: 1rem;
						color: #fff;
						font-size: 1.5rem;
						letter-spacing: 0.2rem;
					}
				}
			}

			.totalPricePreview {
				border-radius: 1rem;
				width: 20rem;
				transform: translateY(-1rem);
				height: 5rem;
				padding: 2rem;
				align-self: center;

				.Pricetitle {
					letter-spacing: 0.2rem;
					color: white;
					font-weight: bold;
					font-size: 2.5rem;
					float: right;
					line-height: 7.6rem;
				}
			}
			.geticket {
				align-self: center;
				border: 0;
				background: $main2_fff2;
				font-family: 'GmarketSansMedium';
				font-weight: bold;
				border: none;
				width: 20rem;
				height: 8rem;
				color: $main2_green;
				outline: none;
				padding: 1rem;
				box-shadow: 0.2rem 0.8rem 3rem #1d224e59;
				transition: 0.4s;
				font-size: 2.5rem;
				letter-spacing: 0.2rem;
				cursor: pointer;
				border-radius: 4rem;
				transition: 0.7s;
			}
			.geticket:hover {
				box-shadow: 0.2rem 0.8rem 3rem #7e87d859;
			}
		}
	}
	// footer
	.moviefooter {
		background: $main_1;
		width: 100%;
		height: 12rem;
		display: inline-block;
		text-align: center;
		text-align: center;
		border-radius: 3rem 3rem 0rem 0rem;

		a {
			text-decoration: none;
		}

		i {
			color: $main2_white;
			line-height: 11.8rem;
			font-size: 4rem;
			cursor: pointer;
			transition: 0.3s;
		}
		i:hover {
			color: #ffe277;
			text-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
		}
		i:nth-child(1) {
			transform: translate(-28rem);
		}
		i:nth-child(2) {
			transform: translate(28rem);
		}
	}
}
.opacityscroll {
	visibility: hidden;
	opacity: 0;
}
.visibiliySeat {
	visibility: hidden;
}
.aboutseat {
	transform: translate(2rem);
	width: 90%;
	height: 10%;
	bottom: 0;
	padding: 1rem;
	border-radius: 0.5rem;
	#Seatreset {
		float: right;
		font-size: 5rem;
		transition: 0.5s;
		cursor: pointer;
		color: $main2_white;
	}
	#Seatreset:hover {
		color: $main2_fff2;
		transform: rotate(-70deg);
	}
	.showcase {
		width: 50rem;

		p {
			margin-top: 1rem;

			letter-spacing: 0.1rem;
		}
	}

	li {
		margin-left: 1rem;
	}
	.NA {
		background: $main_4;
		width: 2rem;
		height: 2rem;
		border-radius: 10%;
	}
	.selected {
		width: 2rem;
		height: 2rem;
		border-radius: 10%;
		background: #fff;
	}
	.occupied {
		width: 2rem;
		height: 2rem;
		border-radius: 10%;
		background: #ffe277;
	}

	ul,
	li {
		display: inline-block;
		list-style-type: none;
		font-size: 1.3rem;
		color: #fff;
	}
	.wheel {
		font-size: 2rem;
		transform: translateY(0.5rem);
		color: $main_3;
	}
}

[class*='check'] {
	border-radius: 50%;
	background-color: #ffe277;
	color: $main2_pink;
	box-shadow: 0rem 0rem 1.5rem #ffbb0065;
}

.posterImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.cwrningwapper {
	height: 100rem;
	width: 72rem;
	position: fixed;
	z-index: 100;
	background: #16142b71;
	backdrop-filter: blur(1rem);
	transition: 0.5s;
}
.coutnWrningModal {
	@include center;
	position: fixed;
	width: 35rem;
	transition: 0.5s;
	z-index: 100;
	height: 30rem;
	box-shadow: 2rem 0rem 16rem #f3b4d863;
	background: $main2_green;
	padding: 2rem;
	flex-direction: column;
	border-radius: 0rem 0rem 1rem 1rem;
	display: flex;
	.modalhat {
		border-radius: 1rem 1rem 0rem 0rem;
		width: 96%;
		height: 18%;
		padding: 2%;
		position: absolute;
		transition: 0.5s;
		background: $main2_green;
		box-shadow: 2rem 0rem 16rem #23222db2;
		justify-content: space-evenly;
		display: flex;
		transform: translate(-3rem, -12rem) rotate(-15deg);
		.strip {
			width: 10%;
			height: 100%;
			background: #fff;
		}
	}
	.coutnWrningModalheader {
		height: 40%;
		width: 100%;
		text-align: center;

		border-radius: 1rem;
		.coutnWrningModalheadertitle {
			font-size: 3rem;
			color: $subcolor_1;
			transform: translateY(1rem);
			letter-spacing: 0.3rem;
			line-height: 6rem;

			.fa-triangle-exclamation {
				transform: translateY(1rem);
				font-size: 6rem;
				color: #ffe277;
			}
		}
	}
	.modalinfomation {
		height: 50%;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		#modal_point {
			display: inline-block;
			transition: 0.5s;
			font-size: 14rem;
			color: $main2_pink;
			animation: identifier 4s infinite;
		}
		@keyframes identifier {
			100% {
				transform: rotate(360deg);
			}
		}
		.modalinfomation_inner {
			font-size: 2rem;
			text-align: center;
			padding: 2rem;
			transform: translateY(5rem);
			color: $subcolor_1;
			.cunnum {
				font-size: 2rem;
				text-align: center;
			}
		}
	}
}
.rowTitle {
	width: 5%;
}