doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title xayah
    link(rel="stylesheet", href="./index.css")
    script(src="./index.js") 
  body 
    nav.navBar
      ul
        li.homeBtn
          a(href="./")
            img(src="./IMG/lollogo.svg", alt="라이엇로고")
        li.info
    .main
      .mainBox
        img.mainImg(src="./IMG/xa.jpeg", alt="자야")
        .imgBlur
        img.xayah(src="./IMG/mainxa.png", alt="자야")
        .blackBlur
        .xayahText 댄스파티에 내가 빠질 수 없지?<br>- 자야 -
      .xayahProfile
        .xayahImg
        