@import url("https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Brush+Script&family=Nanum+Gothic&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  width: 120rem;
  background: #2D466B;
  background-image: url(./Img/back_1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
  font-family: 'Jua', sans-serif;
}

::-moz-selection {
  background-color: #27324c;
}

::selection {
  background-color: #27324c;
}

.iceLeft {
  position: fixed;
  bottom: 0;
  left: -8rem;
  width: 35rem;
  height: 19rem;
  border-top-right-radius: 70%;
  background-size: 30rem;
  background-image: url("./Img/left.png");
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 1000;
}

.iceRigth {
  position: fixed;
  bottom: 0;
  right: -18rem;
  width: 35rem;
  height: 22rem;
  border-top-left-radius: 10rem;
  background-size: 35rem;
  background-image: url("./Img/rigth.png");
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 1000;
}

.titleText {
  width: 100%;
  height: 6rem;
  color: white;
  text-align: right;
  font-size: 2.5rem;
}

.sideVarStyle {
  background-color: #F5F5F5;
}

.sideVarStyle a {
  width: 10rem;
  height: 5rem;
  font-size: 2rem;
  display: block;
  text-decoration: none;
}

.sideVarStyle a:link {
  color: black;
}

.sideVarStyle a:visited {
  color: black;
}

.sideVarStyle a:hover {
  color: #c2c2c2;
}

.sideVarStyle a:active {
  color: #c2c2c2;
}

.sideVarStyle img {
  width: 10rem;
  height: 4rem;
}

.sideVarStyle strong {
  color: #b71c1c;
  position: absolute;
  bottom: 0;
  font-size: 3rem;
}

.headerBtn {
  width: 7rem;
  height: 7rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
  text-align: center;
  z-index: 1000;
  border-radius: 50%;
  background-image: url(./Img/side_logo.jpg);
  -webkit-animation: motion 0.3s linear 0s infinite alternate;
          animation: motion 0.3s linear 0s infinite alternate;
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes motion {
  0% {
    -webkit-transform: perspective(1rem) translateZ(0);
            transform: perspective(1rem) translateZ(0);
  }
  100% {
    -webkit-transform: perspective(1rem) translateZ(0.03rem);
            transform: perspective(1rem) translateZ(0.03rem);
  }
}

@keyframes motion {
  0% {
    -webkit-transform: perspective(1rem) translateZ(0);
            transform: perspective(1rem) translateZ(0);
  }
  100% {
    -webkit-transform: perspective(1rem) translateZ(0.03rem);
            transform: perspective(1rem) translateZ(0.03rem);
  }
}

.headerBtn:hover {
  cursor: pointer;
}

.mainImg {
  position: relative;
  width: 100%;
  height: 100vh;
}

.mainImg .mantBtn {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.mainImg .mainText {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 40rem;
  margin-top: -10rem;
  color: white;
  font-size: 5.5rem;
  text-align: center;
  word-spacing: 0.1rem;
  letter-spacing: 0.4rem;
  line-height: 6.5rem;
  font-family: 'Nanum Brush Script', cursive;
  text-shadow: 0.1rem 0.1rem 0.4rem black;
}

.mainImg .blackImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.mainImg .carousel-item {
  width: 100%;
  height: 100vh;
}

.topVarBackImg {
  width: 100%;
  height: 20rem;
  margin-top: 15rem;
  background-image: url("./Img/topImg.jpeg");
  background-repeat: no-repeat;
  background-size: 110%;
  position: relative;
}

.topVarBackImg .blackImg {
  width: 100%;
  height: 20rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.topVarBackImg .topTitle {
  width: 30%;
  position: absolute;
  top: 6rem;
  left: 10rem;
  font-size: 4rem;
  color: white;
}

.topVarBackImg .topText {
  width: 63%;
  position: absolute;
  top: 3rem;
  left: 35%;
}

.topVarBackImg .topText .topTextKo {
  color: white;
  font-size: 2rem;
}

.topVarBackImg .topText .topTextEn {
  top: 3rem;
  left: 35%;
  font-size: 1.3rem;
  color: lightgray;
}

.videoBox {
  width: 100%;
  margin-top: 8rem;
  position: relative;
}

.videoBox .videoPlay {
  margin-left: 20%;
  width: 60%;
  height: 40rem;
  text-align: center;
  border-radius: 3rem;
  overflow: hidden;
  -webkit-box-shadow: 0.1rem 0.1rem 1rem #001e40;
          box-shadow: 0.1rem 0.1rem 1rem #001e40;
}

.videoBox .videoPlay iframe {
  width: 100%;
  height: 100%;
}

.banner1 {
  margin-top: 10rem;
}

.banner1 img {
  position: absolute;
}

.inturodusBox {
  width: 100%;
  background-color: #EFEEEC;
}

.inturodusBox .banner2 {
  margin-top: 45rem;
  height: 30rem;
}

.inturodusFestivalBox {
  width: 100%;
  height: 80rem;
}

.inturodusFestivalBox .inturodusFestivalText {
  float: left;
  width: 40%;
  height: 100%;
}

.inturodusFestivalBox .inturodusFestivalText div {
  margin-top: 10rem;
  margin-left: 8rem;
}

.inturodusFestivalBox .inturodusFestivalText h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #040404;
}

.inturodusFestivalBox .inturodusFestivalText h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #040404;
}

.inturodusFestivalBox .inturodusFestivalText p {
  font-size: 1.5rem;
  color: #040404;
}

.inturodusFestivalBox .inturodusFestivalImgBox {
  width: 60%;
  height: 100%;
  float: left;
}

.inturodusFestivalBox .inturodusFestivalImgBox [class^=inturodusFestivalImg] {
  position: relative;
  width: 30rem;
  height: 25rem;
}

.inturodusFestivalBox .inturodusFestivalImgBox [class^=inturodusFestivalImg] img {
  width: 100%;
  height: 20rem;
  border-radius: 3rem;
  -webkit-box-shadow: 0.3rem 0.3rem 0.5rem gray;
          box-shadow: 0.3rem 0.3rem 0.5rem gray;
}

.inturodusFestivalBox .inturodusFestivalImgBox [class^=inturodusFestivalImg] .imgIce {
  position: absolute;
  top: 16rem;
  left: 20rem;
  width: 15rem;
  height: 10rem;
  background-image: url("./Img/5.png");
  background-repeat: no-repeat;
  background-size: 15rem;
}

.inturodusFestivalBox .inturodusFestivalImgBox [class^=inturodusFestivalImg] .imgIce p {
  display: none;
}

.inturodusFestivalBox .inturodusFestivalImgBox .inturodusFestivalImg1 {
  margin-left: 15rem;
}

.inturodusFestivalBox .inturodusFestivalImgBox .inturodusFestivalImg1:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: perspective(50rem) translateZ(13rem);
          transform: perspective(50rem) translateZ(13rem);
}

.inturodusFestivalBox .inturodusFestivalImgBox .inturodusFestivalImg1:hover p {
  line-height: 4rem;
  text-align: center;
  display: block;
}

.inturodusFestivalBox .inturodusFestivalImgBox .inturodusFestivalImg2 {
  margin-left: 30rem;
}

.inturodusFestivalBox .inturodusFestivalImgBox .inturodusFestivalImg2:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: perspective(50rem) translateZ(13rem);
          transform: perspective(50rem) translateZ(13rem);
}

.inturodusFestivalBox .inturodusFestivalImgBox .inturodusFestivalImg2:hover p {
  line-height: 4rem;
  text-align: center;
  display: block;
}

.inturodusFestivalBox .inturodusFestivalImgBox .inturodusFestivalImg3 {
  margin-left: 5rem;
}

.inturodusFestivalBox .inturodusFestivalImgBox .inturodusFestivalImg3:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: perspective(50rem) translateZ(13rem);
          transform: perspective(50rem) translateZ(13rem);
}

.inturodusFestivalBox .inturodusFestivalImgBox .inturodusFestivalImg3:hover p {
  line-height: 4rem;
  text-align: center;
  display: block;
}

.inturodusPlayBox {
  width: 100%;
  height: 80rem;
  margin-top: 5rem;
}

.inturodusPlayBox .inturodusPlayText {
  float: left;
  width: 40%;
  height: 100%;
}

.inturodusPlayBox .inturodusPlayText h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #040404;
}

.inturodusPlayBox .inturodusPlayText p {
  font-size: 1.7rem;
  color: #040404;
}

.inturodusPlayBox .inturodusPlayImgBox {
  float: left;
  width: 60%;
  height: 100%;
}

.inturodusPlayBox .inturodusPlayImgBox [class^=inturodusPlayImg] {
  position: relative;
  width: 30rem;
  height: 25rem;
}

.inturodusPlayBox .inturodusPlayImgBox [class^=inturodusPlayImg] img {
  width: 100%;
  height: 20rem;
  border-radius: 3rem;
  -webkit-box-shadow: 0.3rem 0.3rem 0.5rem gray;
          box-shadow: 0.3rem 0.3rem 0.5rem gray;
}

.inturodusPlayBox .inturodusPlayImgBox [class^=inturodusPlayImg] .imgIce {
  position: absolute;
  top: 16rem;
  left: 20rem;
  width: 15rem;
  height: 10rem;
  background-image: url("./Img/5.png");
  background-repeat: no-repeat;
  background-size: 15rem;
}

.inturodusPlayBox .inturodusPlayImgBox [class^=inturodusPlayImg] .imgIce p {
  display: none;
}

.inturodusPlayBox .inturodusPlayImgBox .inturodusPlayImg1 {
  margin-left: 27rem;
}

.inturodusPlayBox .inturodusPlayImgBox .inturodusPlayImg1:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: perspective(50rem) translateZ(13rem);
          transform: perspective(50rem) translateZ(13rem);
}

.inturodusPlayBox .inturodusPlayImgBox .inturodusPlayImg1:hover p {
  line-height: 4rem;
  text-align: center;
  display: block;
}

.inturodusPlayBox .inturodusPlayImgBox .inturodusPlayImg2 {
  margin-left: 7rem;
}

.inturodusPlayBox .inturodusPlayImgBox .inturodusPlayImg2:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: perspective(50rem) translateZ(13rem);
          transform: perspective(50rem) translateZ(13rem);
}

.inturodusPlayBox .inturodusPlayImgBox .inturodusPlayImg2:hover p {
  line-height: 4rem;
  text-align: center;
  display: block;
}

.inturodusPlayBox .inturodusPlayImgBox .inturodusPlayImg3 {
  margin-left: 25rem;
}

.inturodusPlayBox .inturodusPlayImgBox .inturodusPlayImg3:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: perspective(50rem) translateZ(13rem);
          transform: perspective(50rem) translateZ(13rem);
}

.inturodusPlayBox .inturodusPlayImgBox .inturodusPlayImg3:hover p {
  line-height: 4rem;
  text-align: center;
  display: block;
}

.inturodusFoodBox {
  width: 100%;
  height: 70rem;
  margin-top: 10rem;
}

.inturodusFoodBox .inturodusFoodText {
  width: 100%;
  height: 30%;
}

.inturodusFoodBox .inturodusFoodText h1 {
  display: inline-block;
  height: 100%;
  color: #040404;
  font-size: 5rem;
  text-align: center;
  line-height: 20rem;
  margin-left: 27rem;
}

.inturodusFoodBox .inturodusFoodText p {
  display: inline-block;
  height: 100%;
  color: #040404;
  font-size: 3rem;
  line-height: 20rem;
  margin-left: 2rem;
}

.inturodusFoodBox [class^=foodBox] {
  float: left;
  display: inline-block;
  width: 23%;
  height: 70%;
  margin-left: 2rem;
}

.inturodusFoodBox .foodImg {
  width: 100%;
  height: 45%;
  background-size: 40rem;
  background-repeat: no-repeat;
}

.inturodusFoodBox .foodBox1:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: perspective(50rem) translateZ(13rem) translate(5rem, 5rem);
          transform: perspective(50rem) translateZ(13rem) translate(5rem, 5rem);
}

.inturodusFoodBox .foodBox2 {
  margin-top: 13%;
}

.inturodusFoodBox .foodBox2:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: perspective(50rem) translateZ(13rem) translate(0, 5rem);
          transform: perspective(50rem) translateZ(13rem) translate(0, 5rem);
}

.inturodusFoodBox .foodBox3:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: perspective(50rem) translateZ(13rem) translate(0, 5rem);
          transform: perspective(50rem) translateZ(13rem) translate(0, 5rem);
}

.inturodusFoodBox .foodBox4 {
  margin-top: 7%;
}

.inturodusFoodBox .foodBox4:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: perspective(50rem) translateZ(13rem) translate(-5rem, 5rem);
          transform: perspective(50rem) translateZ(13rem) translate(-5rem, 5rem);
}

.inturodusFoodBox .foodText {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
}

.inturodusFoodBox .foodText p {
  color: #040404;
  width: 100;
  font-size: 2rem;
}

.inturodusFoodBox img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
}

.inturodusPriceBox {
  width: 100%;
  height: 70rem;
  margin-top: 10rem;
}

.inturodusPriceBox .inturodusPriceTitle {
  width: 100%;
}

.inturodusPriceBox .inturodusPriceTitle h1 {
  font-size: 2rem;
  line-height: 4rem;
  margin-left: 30%;
}

.inturodusPriceBox .inturodusPriceImg {
  width: 50%;
  height: 50%;
  display: inline-block;
  background-color: red;
}

.inturodusPriceBox .inturodusPriceImg img {
  width: 100%;
}

.inturodusPriceBox .inturodusMap {
  width: 50%;
  height: 70%;
  float: left;
  display: inline-block;
  margin-top: 2rem;
  text-align: center;
  background-color: violet;
}

.footer {
  width: 100%;
  height: 25rem;
  background-color: white;
  text-align: center;
}

.footer img {
  text-decoration: none;
}
/*# sourceMappingURL=wabsite_festival.css.map */