@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Gothic&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Nanum Gothic', sans-serif;
}

body {
  width: 120rem;
  background: #2D466B;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: #27324c;
}

::selection {
  background-color: #27324c;
}

.iceLeft {
  position: fixed;
  bottom: 0;
  left: -8rem;
  width: 40rem;
  height: 30rem;
  background-size: 30rem;
  background-image: url("./Img/left.png");
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 1000;
}

.iceRigth {
  position: fixed;
  bottom: 0;
  right: -18rem;
  width: 40rem;
  height: 30rem;
  background-size: 35rem;
  background-image: url("./Img/rigth.png");
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 1000;
}

.titleText {
  width: 100%;
  height: 6rem;
  color: white;
  text-align: right;
  font-size: 2.5rem;
}

.sideVarStyle {
  background-color: #e3f2fd;
}

.sideVarStyle a {
  width: 10rem;
  height: 5rem;
  font-size: 2rem;
  display: block;
  text-decoration: none;
}

.sideVarStyle a:link {
  color: black;
}

.sideVarStyle a:visited {
  color: black;
}

.sideVarStyle a:hover {
  color: black;
}

.sideVarStyle a:active {
  color: black;
}

.headerBtn {
  width: 4rem;
  height: 4rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
  text-align: center;
  z-index: 1000;
  border-radius: 50%;
  background-image: url(./Img/side_logo.jpg);
}

.headerBtn:hover {
  cursor: pointer;
}

.mainImg {
  position: relative;
  width: 100%;
  height: 65rem;
}

.mainImg .mantBtn {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.mainImg h1 {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 40rem;
  margin-top: -10rem;
  color: white;
  font-size: 5.5rem;
  text-align: center;
  word-spacing: 0.1rem;
  letter-spacing: 0.4rem;
  line-height: 6.5rem;
  font-family: 'Nanum Brush Script', cursive;
}

.mainImg .blackImg {
  width: 100%;
  height: 65rem;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.mainImg .carousel-item {
  width: 100%;
  height: 65rem;
}

.topVarBackImg {
  width: 100%;
  height: 20rem;
  margin-top: 15rem;
  background-image: url("./Img/topImg.jpeg");
  background-repeat: no-repeat;
  background-size: 110%;
  position: relative;
}

.topVarBackImg .blackImg {
  width: 100%;
  height: 20rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.topVarBackImg .topTitle {
  width: 30%;
  position: absolute;
  top: 6rem;
  left: 10rem;
  font-size: 4rem;
  color: white;
}

.topVarBackImg .topText {
  width: 63%;
  position: absolute;
  top: 3rem;
  left: 35%;
}

.topVarBackImg .topText .topTextKo {
  color: white;
  font-size: 2rem;
}

.topVarBackImg .topText .topTextEn {
  top: 3rem;
  left: 35%;
  font-size: 1.3rem;
  color: lightgray;
}

.videoBox {
  width: 100%;
  margin-top: 8rem;
  position: relative;
}

.videoBox .videoPlay {
  margin-left: 20%;
  width: 60%;
  height: 40rem;
  background-color: cornsilk;
  text-align: center;
}

.banner1 {
  margin-top: 10rem;
}

.banner1 img {
  position: absolute;
}

.inturodusBox {
  width: 100%;
  background-color: #EFEEEC;
}

.inturodusBox .banner2 {
  margin-top: 45rem;
  height: 30rem;
}

.inturodusFestivalBox {
  width: 100%;
  height: 80rem;
}

.inturodusFestivalBox .inturodusFestivalText {
  float: left;
  width: 40%;
  height: 100%;
}

.inturodusFestivalBox .inturodusFestivalText div {
  margin-top: 10rem;
  margin-left: 8rem;
}

.inturodusFestivalBox .inturodusFestivalText h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #040404;
}

.inturodusFestivalBox .inturodusFestivalText h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #040404;
}

.inturodusFestivalBox .inturodusFestivalText p {
  font-size: 1.5rem;
  color: #040404;
}

.inturodusFestivalBox .inturodusFestivalImgBox {
  width: 60%;
  height: 100%;
  float: left;
}

.inturodusFestivalBox .inturodusFestivalImgBox [class^=inturodusFestivalImg] {
  position: relative;
  width: 30rem;
  height: 25rem;
}

.inturodusFestivalBox .inturodusFestivalImgBox [class^=inturodusFestivalImg] img {
  width: 100%;
  height: 20rem;
}

.inturodusFestivalBox .inturodusFestivalImgBox [class^=inturodusFestivalImg] .imgIce {
  position: absolute;
  top: 16rem;
  left: 20rem;
  width: 15rem;
  height: 10rem;
  background-image: url("./Img/5.png");
  background-repeat: no-repeat;
  background-size: 15rem;
}

.inturodusFestivalBox .inturodusFestivalImgBox .inturodusFestivalImg1 {
  margin-left: 15rem;
}

.inturodusFestivalBox .inturodusFestivalImgBox .inturodusFestivalImg2 {
  margin-left: 30rem;
}

.inturodusFestivalBox .inturodusFestivalImgBox .inturodusFestivalImg3 {
  margin-left: 5rem;
}

.inturodusPlayBox {
  width: 100%;
  height: 80rem;
  margin-top: 5rem;
}

.inturodusPlayBox .inturodusPlayText {
  float: left;
  width: 40%;
  height: 100%;
}

.inturodusPlayBox .inturodusPlayText h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #040404;
}

.inturodusPlayBox .inturodusPlayText p {
  font-size: 1.7rem;
  color: #040404;
}

.inturodusPlayBox .inturodusPlayImgBox {
  float: left;
  width: 60%;
  height: 100%;
}

.inturodusPlayBox .inturodusPlayImgBox [class^=inturodusPlayImg] {
  position: relative;
  width: 30rem;
  height: 25rem;
}

.inturodusPlayBox .inturodusPlayImgBox [class^=inturodusPlayImg] img {
  width: 100%;
  height: 20rem;
}

.inturodusPlayBox .inturodusPlayImgBox [class^=inturodusPlayImg] .imgIce {
  position: absolute;
  top: 16rem;
  left: 20rem;
  width: 15rem;
  height: 10rem;
  background-image: url("./Img/5.png");
  background-repeat: no-repeat;
  background-size: 15rem;
}

.inturodusPlayBox .inturodusPlayImgBox .inturodusPlayImg1 {
  margin-left: 27rem;
}

.inturodusPlayBox .inturodusPlayImgBox .inturodusPlayImg2 {
  margin-left: 5rem;
}

.inturodusPlayBox .inturodusPlayImgBox .inturodusPlayImg3 {
  margin-left: 25rem;
}

.inturodusFoodBox {
  width: 100%;
  height: 70rem;
  margin-top: 10rem;
}

.inturodusFoodBox .inturodusFoodText {
  width: 100%;
  height: 30%;
}

.inturodusFoodBox .inturodusFoodText h1 {
  display: inline-block;
  height: 100%;
  color: #040404;
  font-size: 5rem;
  text-align: center;
  line-height: 20rem;
  margin-left: 27rem;
}

.inturodusFoodBox .inturodusFoodText p {
  display: inline-block;
  height: 100%;
  color: #040404;
  font-size: 3rem;
  line-height: 20rem;
  margin-left: 2rem;
}

.inturodusFoodBox [class^=foodBox] {
  float: left;
  display: inline-block;
  width: 23%;
  height: 70%;
  margin-left: 2rem;
}

.inturodusFoodBox .foodBox4 .carousel-item {
  width: 100%;
  height: 100%;
}

.inturodusFoodBox .foodImg {
  width: 100%;
  height: 45%;
  background-size: 40rem;
  background-repeat: no-repeat;
}

.inturodusFoodBox .foodText {
  width: 100%;
  height: 55%;
}

.inturodusFoodBox .foodText p {
  color: #040404;
  width: 100;
}

.inturodusFoodBox img {
  width: 100%;
  height: 100%;
}

.inturodusPriceBox {
  width: 100%;
  height: 70rem;
  margin-top: 10rem;
  background-color: red;
}

.inturodusNotice {
  width: 100%;
  height: 70rem;
  margin-top: 10rem;
  background-color: darkcyan;
}

.inturodusMap {
  width: 100%;
  height: 70rem;
  margin-top: 10rem;
  background-color: red;
}
/*# sourceMappingURL=wabsite_festival.css.map */