@charset "utf-8";

// @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Work+Sans:wght@300&display=swap');
@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@keyframes moving {
  0% {
    transform: perspective(50rem) translateY(1rem) translateZ(0) rotate(0.63turn);
  }
  50% {
    transform: perspective(50rem) translateY(0rem) translateZ(5rem) rotate(0.63turn);
  }
  100% {
    transform: perspective(50rem) translateY(1rem) translateZ(0rem) rotate(0.63turn);
  }
}
@keyframes arrow {
  0% {
    transform: translateY(-2rem);
  }
  50% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(-2rem);
  }
}
@keyframes fire {
  0% {
    transform: perspective(50rem) translateZ(0) rotate(0.63turn);
    box-shadow: 0 0 4rem rgba($color: #fff9d0, $alpha: 1);
  }
  50% {
    transform: perspective(50rem) translateZ(5rem) rotate(0.63turn);
    box-shadow: 0 0 2em rgba($color: #fff9d0, $alpha: 1);
  }
  100% {
    transform: perspective(50rem) translateZ(0) rotate(0.63turn);
    box-shadow: 0 0 4em rgba($color: #fff9d0, $alpha: 1);
  }
}
@keyframes twinkle {
  0% {
    // transform: perspective(50rem) translateZ(0) rotate(0.63turn);
    filter: drop-shadow( 0 0 2rem rgba(255, 253, 144, 0.7)); 
  }
  50% {
    // transform: perspective(50rem) translateZ(5rem) rotate(0.63turn);
    filter: drop-shadow( 0 0 1rem rgba(255, 253, 144, 0.7)); 
  }
  100% {
    // transform: perspective(50rem) translateZ(0) rotate(0.63turn);
    filter: drop-shadow( 0 0 2rem rgba(255, 253, 144, 0.7)); 
  }
}

$main_black: #1c1c1c;


*{
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Cafe24SsurroundAir';
}
html{
  scroll-behavior: smooth;
}
body{
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(200deg,#6994c3 10%,#952b41 20%,#19082d 40%, #0a0f20 85%, #4d3e76 90%, #cf8caa 95%, #f2f3e1 100%);
}
nav{
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
}

nav:hover{
  cursor: pointer;
}
nav::before{
  contain: "eb9e";

}


section{
  width: 100%;
  height: 400rem;
  // background-color: red;
}


//로켓
.userBox{
  position: fixed;
  top: 40%;
  left: 45%;
  animation: arrow 1.5s ease-in-out infinite; 
  // transform: rotate(5deg);
  .userBody{
    position: relative;
    width: 13rem;
    height: 22rem;
    background: linear-gradient(200deg, #d2d8f0 60%, #ebedfe 100%);
    border-top-left-radius: 30rem;
    border-top-right-radius: 30rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
  }
  .leg1{
    position: absolute;
    bottom: -5rem;
    left: -3rem;
    width: 4rem;
    height: 10rem;
    background: linear-gradient(200deg, #a2aade 60%, #e5e6f9 100%);
    border-top-left-radius: 3rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .leg2{
    position: absolute;
    bottom:-5rem;
    left: 50%;
    margin-left: -1.5rem;
    width: 3rem;
    height: 10rem;
    background: linear-gradient(200deg, #a2aade 60%, #e5e6f9 100%);
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .leg3{
    position: absolute;
    bottom: -5rem;
    right: -3rem;
    width: 4rem;
    height: 10rem;
    background: linear-gradient(200deg, #a2aade 60%, #e5e6f9 100%);
    border-top-left-radius: 1rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .userWindow{
    position: absolute;
    top: 2rem;
    left: 1.5rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 1rem solid #929ed5;
    background: linear-gradient(200deg, #a2aade 60%, #e5e6f9 100%);
  }
  .fire{
    position: absolute;
    bottom: -4.5rem;
    left: 50%;
    margin-left: -3.5rem;
    width: 7rem;
    height: 7rem;
    border-radius: 1rem;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    background: linear-gradient(140deg, #ca732e 20%, #fad90e 100%);
    animation: fire 2s ease-in-out infinite;
  } 
  .cloudBox{
    position: relative;
    top: 4rem;
    [class *= "cloud"]{
      border-radius: 50%;
      background-color: white;
      animation: moving 1s ease-in-out infinite;
    }
    .smoke{
      z-index: -1;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -3.5rem;
      width: 7rem;
      height: 10rem;
      border-radius: 50%;
      background: linear-gradient(10deg, #fff 60%, #ffffff83 100%);
    }
    .cloud1{
      position: absolute;
      top: 5rem;
      left: -3rem;
      width: 10rem;
      height: 10rem;
      animation: moving 2s ease-in-out infinite;
    }
    .cloud2{
      position: absolute;
      top: 6rem;
      right: -3rem;
      width: 11rem;
      height: 11rem;
      animation: moving 4s ease-in-out infinite;
    }
    .cloud3{
      position: absolute;
      top: 3rem;
      right: 0;
      width: 6rem;
      height: 6rem;
      animation: moving 3s ease-in-out infinite;
    }
    .cloud4{
      position: absolute;
      top: 3rem;
      right: 40%;
      width: 8rem;
      height: 8rem;
      animation: moving 2s ease-in-out infinite;
    }
    .cloud5{
      position: absolute;
      top: 8rem;
      right: 30%;
      width: 10rem;
      height: 10rem;
    }
    .cloud6{
      position: absolute;
      top: 4rem;
      right: 4rem;
      width: 5rem;
      height: 5rem;
    }
    .cloud7{
      position: absolute;
      top: 11rem;
      right: 70%;
      width: 7rem;
      height: 7rem;
    }
    .cloud8{
      position: absolute;
      top: 15rem;
      right: -3rem;
      width: 3rem;
      height: 3rem;
    }
    .cloud9{
      position: absolute;
      top: 4rem;
      left: -6rem;
      width: 2rem;
      height: 2rem;
    }
    .cloud10{
      position: absolute;
      top: 4rem;
      right: -6rem;
      width: 1.5rem;
      height: 1.5rem;
      animation: moving 0.5s ease-in-out infinite;
    }
  }
}
//우주인
.meBox{
  position: fixed;
  top: 0%;
  width: 20rem;
  height: 25rem;
  background-color: red;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow( 0 0 1rem rgba(0, 0, 0, .7));
  }
}

.endPage{
  width: 100%;
  height: 400rem;
  .ah_info{
    width: 100%;
    height: 30%;
    .endPlanet{
      width: 100%;
      background-color: red;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.stackPage{
  width: 100%;
  height: 400rem;
  .javascriptBox{
    width: 100%;
    height: 35%;
  }
  .cssBox{
    width: 100%;
    height: 35%;
  }
  .moonBox{
    width: 100%;
    height: 30%;
    position: relative;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      animation: twinkle 2s ease-in-out infinite; 
    }
    .moonPlanet{
      width: 80rem;
      height: 50rem;
      margin-left: -30%;
      background-image: url("./IMG/planet/moon.svg");
      background-size: cover;
      background-repeat: no-repeat;
      filter: drop-shadow( 0 0 0.3rem rgba(255, 255, 255, 0.7)); 
    }
  }
}

.introPage{
  width: 100%;
  height: 400rem;
  overflow: hidden;
  .cloudBox{
    position: relative;
    width: 100%;
    height: 30%;
    .backgroundStar{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      animation: twinkle 2s ease-in-out infinite; 
    }
    .cloudBack1{
      position: absolute;
      top: 10%;
      left: 10%;
      opacity: 0.8;
      width: 70rem;
      height: 40rem;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .c1{
        position: absolute;
        bottom: -4rem;
        right: 12rem;
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        background-color: white;
      }
      .c2{
        position: absolute;
        bottom: -8rem;
        left: 16rem;
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        background-color: white; 
      }
    }
    .cloudBack2{
      position: absolute;
      bottom: 10%;
      right: 10%;
      opacity: 0.8;
      width: 70rem;
      height: 40rem;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .c1{
        position: absolute;
        bottom: -4rem;
        right: 12rem;
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        background-color: white;

      }
      .c2{
        position: absolute;
        bottom: -8rem;
        left: 16rem;
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        background-color: white; 
      }
    }
  }

  .introBox{ //intro mainBox
    width: 100%;
    height: 50%;
    // background-color: rgba($color: #000000, $alpha: .7);
    .hi_ah{
      margin-left: 65%;
      .imgBox{
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .textBox{
        margin-top: 3rem;
        h1{
          font-size: 2rem;
          letter-spacing: 0.2rem;
          line-height: 3rem;

        }
        p{
          font-size: 1.7em;
          letter-spacing: 0.2rem;
          line-height: 2rem;
        }
      }
    }
  }
  .birdBox{
    position: relative;
    width: 18rem;
    height: 14rem;
    margin-left: -18rem;
    transform: rotate(20deg);
    .bird{
      position: absolute;
      top: 0;
      right: 0;
      width: 6rem;
      color: $main_black;
    }
    .bird2{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 4rem;
      color: $main_black;
    }
    .bird3{
      position: absolute;
      top: 0;
      left: 2rem;
      width: 4rem;
      color: $main_black;
    }
    .bird4{
      position: absolute;
      bottom: 0;
      right: 3rem;
      width: 3rem;
      color: $main_black;
      transform: rotate(-5deg);
    }
    .bird5{
      position: absolute;
      bottom: 1rem;
      right: 7rem;
      width: 4rem;
      color: $main_black;
    }
  }
  .mountainBox{
    position: relative;
    width: 100%;
    height: 20%;
    background-image: url("./IMG/mountain/mountain1.svg");
    background-size: cover;
    .introGuidance{
      transform: translateY(10rem);
      text-align: center;
      h1{
        font-size: 3rem;
        font-weight: 100;
        color: $main_black;
        // text-shadow: rgba($color: #000000, $alpha: .7);
        letter-spacing: 0.3rem;
        line-height: 3rem;
      }
      h2{
        font-size: 2rem;
        font-weight: 100;
        color: #a45d7b;
        text-shadow: rgba($color: #000000, $alpha: .7);
        letter-spacing: 0.3rem;
        line-height: 6rem; 
      }
      i{
        animation: arrow 2s ease-in-out infinite;
        font-size: 5rem;
        font-weight: lighter;
        color: $main_black;
      }
    }
    img{
      width: 100%;
      position: absolute;
      bottom: -17%;
      z-index: 100;
      filter: drop-shadow( 0 0 12rem rgba(0, 0, 0, .7));
    }

  }

}

.infoProjectPage{
  width: 100%;
  height: 400rem;
  .info{
    background-image: url('./IMG/back/starBack1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    animation: twinkle 2s ease-in-out infinite; 
  }
}

