@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes moving {
  0% {
    -webkit-transform: perspective(50rem) translateY(1rem) translateZ(0) rotate(0.63turn);
            transform: perspective(50rem) translateY(1rem) translateZ(0) rotate(0.63turn);
  }
  50% {
    -webkit-transform: perspective(50rem) translateY(0rem) translateZ(5rem) rotate(0.63turn);
            transform: perspective(50rem) translateY(0rem) translateZ(5rem) rotate(0.63turn);
  }
  100% {
    -webkit-transform: perspective(50rem) translateY(1rem) translateZ(0rem) rotate(0.63turn);
            transform: perspective(50rem) translateY(1rem) translateZ(0rem) rotate(0.63turn);
  }
}

@keyframes moving {
  0% {
    -webkit-transform: perspective(50rem) translateY(1rem) translateZ(0) rotate(0.63turn);
            transform: perspective(50rem) translateY(1rem) translateZ(0) rotate(0.63turn);
  }
  50% {
    -webkit-transform: perspective(50rem) translateY(0rem) translateZ(5rem) rotate(0.63turn);
            transform: perspective(50rem) translateY(0rem) translateZ(5rem) rotate(0.63turn);
  }
  100% {
    -webkit-transform: perspective(50rem) translateY(1rem) translateZ(0rem) rotate(0.63turn);
            transform: perspective(50rem) translateY(1rem) translateZ(0rem) rotate(0.63turn);
  }
}

@-webkit-keyframes movingPlanet {
  0% {
    -webkit-transform: translateX(-7rem) translateY(-5rem);
            transform: translateX(-7rem) translateY(-5rem);
  }
  50% {
    -webkit-transform: translateX(0rem) translateY(0rem);
            transform: translateX(0rem) translateY(0rem);
  }
  100% {
    -webkit-transform: translateX(-7rem) translateY(-5rem);
            transform: translateX(-7rem) translateY(-5rem);
  }
}

@keyframes movingPlanet {
  0% {
    -webkit-transform: translateX(-7rem) translateY(-5rem);
            transform: translateX(-7rem) translateY(-5rem);
  }
  50% {
    -webkit-transform: translateX(0rem) translateY(0rem);
            transform: translateX(0rem) translateY(0rem);
  }
  100% {
    -webkit-transform: translateX(-7rem) translateY(-5rem);
            transform: translateX(-7rem) translateY(-5rem);
  }
}

@-webkit-keyframes movingX {
  0% {
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
  }
  50% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  100% {
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
  }
}

@keyframes movingX {
  0% {
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
  }
  50% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  100% {
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
  }
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  50% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  100% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  50% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  100% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
}

@-webkit-keyframes satellite {
  0% {
    -webkit-transform: translateY(-2rem) rotate(180deg);
            transform: translateY(-2rem) rotate(180deg);
  }
  50% {
    -webkit-transform: translateY(0rem) rotate(180deg);
            transform: translateY(0rem) rotate(180deg);
  }
  100% {
    -webkit-transform: translateY(-2rem) rotate(180deg);
            transform: translateY(-2rem) rotate(180deg);
  }
}

@keyframes satellite {
  0% {
    -webkit-transform: translateY(-2rem) rotate(180deg);
            transform: translateY(-2rem) rotate(180deg);
  }
  50% {
    -webkit-transform: translateY(0rem) rotate(180deg);
            transform: translateY(0rem) rotate(180deg);
  }
  100% {
    -webkit-transform: translateY(-2rem) rotate(180deg);
            transform: translateY(-2rem) rotate(180deg);
  }
}

@-webkit-keyframes fire {
  0% {
    -webkit-transform: perspective(50rem) translateZ(0) rotate(0.63turn);
            transform: perspective(50rem) translateZ(0) rotate(0.63turn);
    -webkit-box-shadow: 0 0 4rem #fff9d0;
            box-shadow: 0 0 4rem #fff9d0;
  }
  50% {
    -webkit-transform: perspective(50rem) translateZ(5rem) rotate(0.63turn);
            transform: perspective(50rem) translateZ(5rem) rotate(0.63turn);
    -webkit-box-shadow: 0 0 2em #fff9d0;
            box-shadow: 0 0 2em #fff9d0;
  }
  100% {
    -webkit-transform: perspective(50rem) translateZ(0) rotate(0.63turn);
            transform: perspective(50rem) translateZ(0) rotate(0.63turn);
    -webkit-box-shadow: 0 0 4em #fff9d0;
            box-shadow: 0 0 4em #fff9d0;
  }
}

@keyframes fire {
  0% {
    -webkit-transform: perspective(50rem) translateZ(0) rotate(0.63turn);
            transform: perspective(50rem) translateZ(0) rotate(0.63turn);
    -webkit-box-shadow: 0 0 4rem #fff9d0;
            box-shadow: 0 0 4rem #fff9d0;
  }
  50% {
    -webkit-transform: perspective(50rem) translateZ(5rem) rotate(0.63turn);
            transform: perspective(50rem) translateZ(5rem) rotate(0.63turn);
    -webkit-box-shadow: 0 0 2em #fff9d0;
            box-shadow: 0 0 2em #fff9d0;
  }
  100% {
    -webkit-transform: perspective(50rem) translateZ(0) rotate(0.63turn);
            transform: perspective(50rem) translateZ(0) rotate(0.63turn);
    -webkit-box-shadow: 0 0 4em #fff9d0;
            box-shadow: 0 0 4em #fff9d0;
  }
}

@-webkit-keyframes twinkle {
  0% {
    -webkit-filter: drop-shadow(0 0 2rem rgba(255, 253, 144, 0.7));
            filter: drop-shadow(0 0 2rem rgba(255, 253, 144, 0.7));
  }
  50% {
    -webkit-filter: drop-shadow(0 0 1rem rgba(255, 253, 144, 0.7));
            filter: drop-shadow(0 0 1rem rgba(255, 253, 144, 0.7));
  }
  100% {
    -webkit-filter: drop-shadow(0 0 2rem rgba(255, 253, 144, 0.7));
            filter: drop-shadow(0 0 2rem rgba(255, 253, 144, 0.7));
  }
}

@keyframes twinkle {
  0% {
    -webkit-filter: drop-shadow(0 0 2rem rgba(255, 253, 144, 0.7));
            filter: drop-shadow(0 0 2rem rgba(255, 253, 144, 0.7));
  }
  50% {
    -webkit-filter: drop-shadow(0 0 1rem rgba(255, 253, 144, 0.7));
            filter: drop-shadow(0 0 1rem rgba(255, 253, 144, 0.7));
  }
  100% {
    -webkit-filter: drop-shadow(0 0 2rem rgba(255, 253, 144, 0.7));
            filter: drop-shadow(0 0 2rem rgba(255, 253, 144, 0.7));
  }
}

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Cafe24SsurroundAir';
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(200deg, #6994c3 10%, #952b41 20%, #19082d 40%, #0a0f20 85%, #4d3e76 90%, #cf8caa 95%, #f2f3e1 100%);
}

nav {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
}

nav:hover {
  cursor: pointer;
}

nav::before {
  contain: "eb9e";
}

section {
  width: 100%;
  height: 400rem;
}

.userBox {
  position: fixed;
  top: 40%;
  left: 46%;
  -webkit-animation: arrow 1.5s ease-in-out infinite;
          animation: arrow 1.5s ease-in-out infinite;
}

.userBox .userBody {
  position: relative;
  width: 10rem;
  height: 18rem;
  background: linear-gradient(200deg, #d2d8f0 60%, #ebedfe 100%);
  border-top-left-radius: 30rem;
  border-top-right-radius: 30rem;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.userBox .leg1 {
  position: absolute;
  bottom: -5rem;
  left: -2rem;
  width: 3rem;
  height: 8rem;
  background: linear-gradient(200deg, #a2aade 60%, #e5e6f9 100%);
  border-top-left-radius: 3rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.userBox .leg2 {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  margin-left: -1.5rem;
  width: 3rem;
  height: 8rem;
  background: linear-gradient(200deg, #a2aade 60%, #e5e6f9 100%);
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.userBox .leg3 {
  position: absolute;
  bottom: -5rem;
  right: -2rem;
  width: 3rem;
  height: 8rem;
  background: linear-gradient(200deg, #a2aade 60%, #e5e6f9 100%);
  border-top-left-radius: 1rem;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.userBox .userWindow {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1rem solid #929ed5;
  background: linear-gradient(200deg, #a2aade 60%, #e5e6f9 100%);
}

.userBox .fire {
  position: absolute;
  bottom: -4.5rem;
  left: 50%;
  margin-left: -3.5rem;
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  background: linear-gradient(140deg, #ca732e 20%, #fad90e 100%);
  -webkit-animation: fire 2s ease-in-out infinite;
          animation: fire 2s ease-in-out infinite;
}

.userBox .cloudBox {
  position: relative;
  top: 4rem;
}

.userBox .cloudBox [class*="cloud"] {
  border-radius: 50%;
  background-color: white;
  -webkit-animation: moving 1s ease-in-out infinite;
          animation: moving 1s ease-in-out infinite;
}

.userBox .cloudBox .smoke {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -3.5rem;
  width: 7rem;
  height: 10rem;
  border-radius: 50%;
  background: linear-gradient(10deg, #fff 60%, #ffffff83 100%);
}

.userBox .cloudBox .cloud1 {
  position: absolute;
  top: 5rem;
  left: -3rem;
  width: 10rem;
  height: 10rem;
  -webkit-animation: moving 2s ease-in-out infinite;
          animation: moving 2s ease-in-out infinite;
}

.userBox .cloudBox .cloud2 {
  position: absolute;
  top: 6rem;
  right: -3rem;
  width: 11rem;
  height: 11rem;
  -webkit-animation: moving 4s ease-in-out infinite;
          animation: moving 4s ease-in-out infinite;
}

.userBox .cloudBox .cloud3 {
  position: absolute;
  top: 3rem;
  right: 0;
  width: 6rem;
  height: 6rem;
  -webkit-animation: moving 3s ease-in-out infinite;
          animation: moving 3s ease-in-out infinite;
}

.userBox .cloudBox .cloud4 {
  position: absolute;
  top: 3rem;
  right: 40%;
  width: 8rem;
  height: 8rem;
  -webkit-animation: moving 2s ease-in-out infinite;
          animation: moving 2s ease-in-out infinite;
}

.userBox .cloudBox .cloud5 {
  position: absolute;
  top: 8rem;
  right: 30%;
  width: 10rem;
  height: 10rem;
}

.userBox .cloudBox .cloud6 {
  position: absolute;
  top: 4rem;
  right: 4rem;
  width: 5rem;
  height: 5rem;
}

.userBox .cloudBox .cloud7 {
  position: absolute;
  top: 11rem;
  right: 70%;
  width: 7rem;
  height: 7rem;
}

.userBox .cloudBox .cloud8 {
  position: absolute;
  top: 15rem;
  right: -3rem;
  width: 3rem;
  height: 3rem;
}

.userBox .cloudBox .cloud9 {
  position: absolute;
  top: 4rem;
  left: -6rem;
  width: 2rem;
  height: 2rem;
}

.userBox .cloudBox .cloud10 {
  position: absolute;
  top: 4rem;
  right: -6rem;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-animation: moving 0.5s ease-in-out infinite;
          animation: moving 0.5s ease-in-out infinite;
}

.meBox {
  position: fixed;
  top: 0%;
  width: 20rem;
  height: 25rem;
  background-color: red;
}

.meBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.7));
          filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.7));
}

.endPage {
  width: 100%;
  height: 400rem;
}

.endPage .ah_info {
  width: 100%;
  height: 30%;
}

.endPage .ah_info .endPlanet {
  width: 100%;
  background-color: red;
}

.endPage .ah_info .endPlanet img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.stackPage {
  width: 100%;
  height: 400rem;
}

.stackPage .planetBox {
  position: relative;
  width: 100%;
  height: 35%;
}

.stackPage .planetBox .planet {
  position: absolute;
  bottom: 30%;
  left: 10%;
  width: 12rem;
  height: 12rem;
  -webkit-animation: movingX 2s ease-in-out infinite;
          animation: movingX 2s ease-in-out infinite;
}

.stackPage .planetBox .starImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: twinkle 2s ease-in-out infinite;
          animation: twinkle 2s ease-in-out infinite;
}

.stackPage .planetBox .cssPlanet {
  position: relative;
  width: 80rem;
  height: 50rem;
  margin-left: -30%;
  background-image: url("./IMG/planet/css.svg");
}

.stackPage .planetBox .cssPlanet .cssBox {
  width: 100%;
  height: 100%;
}

.stackPage .planetBox .cssPlanet .cssBox .cssFlagImg {
  opacity: 0;
  position: absolute;
  top: -20rem;
  left: 50%;
  margin-left: -5rem;
  width: 10rem;
  height: 10rem;
}

.stackPage .planetBox .cssPlanet .cssBox svg {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -7.5rem;
  margin-left: -7.5rem;
  width: 15rem;
  height: 15rem;
}

.stackPage .planetBox .cssPlanet .cssBox h1 {
  position: absolute;
  top: 65%;
  left: 50%;
  margin-left: -10rem;
  text-align: center;
  display: inline-block;
  width: 20rem;
  font-size: 6rem;
  color: white;
}

.stackPage .planetBox .cssPlanet .scssBox {
  position: relative;
  margin-left: 50rem;
  width: 20rem;
  height: 20rem;
  -webkit-animation: movingPlanet 4s ease-in-out infinite;
          animation: movingPlanet 4s ease-in-out infinite;
}

.stackPage .planetBox .cssPlanet .scssBox .scssImg {
  width: 100%;
  height: 100%;
}

.stackPage .planetBox .cssPlanet .scssBox svg {
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -4rem;
  width: 8rem;
  height: 8rem;
}

.stackPage .planetBox .cssPlanet .scssBox h1 {
  position: absolute;
  bottom: 20%;
  left: 50%;
  margin-left: -7.5rem;
  text-align: center;
  display: inline-block;
  width: 15rem;
  font-size: 3rem;
  color: white;
}

.stackPage .planetBox .htmlPlanet {
  position: relative;
  width: 80rem;
  height: 50rem;
  margin-left: 80%;
  background-image: url("./IMG/planet/end.svg");
}

.stackPage .planetBox .htmlPlanet .htmlBox {
  width: 100%;
  height: 100%;
}

.stackPage .planetBox .htmlPlanet .htmlBox .htmlFlagImg {
  opacity: 0;
  position: absolute;
  top: -21rem;
  left: 50%;
  margin-left: -5rem;
  width: 10rem;
  height: 10rem;
}

.stackPage .planetBox .htmlPlanet .htmlBox svg {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -7.5rem;
  margin-left: -7.5rem;
  width: 15rem;
  height: 15rem;
}

.stackPage .planetBox .htmlPlanet .htmlBox h1 {
  position: absolute;
  top: 65%;
  left: 50%;
  margin-left: -9rem;
  text-align: center;
  display: inline-block;
  width: 20rem;
  font-size: 6rem;
  color: white;
}

.stackPage .planetBox .htmlPlanet .pugBox {
  width: 25rem;
  height: 25rem;
  position: relative;
  margin-left: 10rem;
  -webkit-animation: movingPlanet 2s ease-in-out infinite;
          animation: movingPlanet 2s ease-in-out infinite;
}

.stackPage .planetBox .htmlPlanet .pugBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.stackPage .planetBox .htmlPlanet .pugBox svg {
  position: absolute;
  top: 15%;
  left: 25%;
  width: 12rem;
  height: 12rem;
}

.stackPage .planetBox .htmlPlanet .pugBox h1 {
  position: absolute;
  top: 59%;
  left: 30%;
  text-align: center;
  display: inline-block;
  width: 10rem;
  font-size: 3rem;
  color: white;
}

.stackPage .planetBox2 {
  position: relative;
  width: 100%;
  height: 35%;
}

.stackPage .planetBox2 .planet {
  position: absolute;
  top: 30%;
  right: 10%;
  width: 12rem;
  height: 12rem;
  -webkit-animation: movingX 2s ease-in-out infinite;
          animation: movingX 2s ease-in-out infinite;
}

.stackPage .planetBox2 .starImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: twinkle 2s ease-in-out infinite;
          animation: twinkle 2s ease-in-out infinite;
}

.stackPage .planetBox2 .nodejsPlanet {
  position: relative;
  width: 80rem;
  height: 50rem;
  margin-top: 30%;
  margin-left: -30%;
  background-image: url("./IMG/planet/nodejs.svg");
}

.stackPage .planetBox2 .nodejsPlanet .nodejsFlagImg {
  opacity: 0;
  position: absolute;
  top: -20rem;
  left: 29rem;
  width: 10rem;
  height: 10rem;
}

.stackPage .planetBox2 .nodejsPlanet svg {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -7.5rem;
  margin-left: -7.5rem;
  width: 15rem;
  height: 15rem;
}

.stackPage .planetBox2 .nodejsPlanet h1 {
  position: absolute;
  top: 65%;
  left: 43%;
  text-align: center;
  display: inline-block;
  width: 20rem;
  font-size: 6rem;
  color: white;
}

.stackPage .planetBox2 .jsPlanet {
  position: relative;
  width: 80rem;
  height: 50rem;
  margin-top: 10%;
  margin-left: 80%;
  background-image: url("./IMG/planet/js.svg");
}

.stackPage .planetBox2 .jsPlanet .jsFlagImg {
  opacity: 0;
  position: absolute;
  top: -20rem;
  left: 29rem;
  width: 10rem;
  height: 10rem;
}

.stackPage .planetBox2 .jsPlanet svg {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -7.5rem;
  margin-left: -7.5rem;
  width: 15rem;
  height: 15rem;
}

.stackPage .planetBox2 .jsPlanet h1 {
  position: absolute;
  top: 65%;
  left: 43%;
  text-align: center;
  display: inline-block;
  width: 20rem;
  font-size: 6rem;
  color: white;
}

.stackPage .moonBox {
  position: relative;
  width: 100%;
  height: 30%;
}

.stackPage .moonBox .blockBox {
  width: 100%;
  height: 20%;
}

.stackPage .moonBox .satelliteImg {
  width: 10rem;
  height: 10rem;
  margin-left: 60%;
  -webkit-animation: satellite 2s ease-in-out infinite;
          animation: satellite 2s ease-in-out infinite;
}

.stackPage .moonBox .starImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: twinkle 2s ease-in-out infinite;
          animation: twinkle 2s ease-in-out infinite;
}

.stackPage .moonBox .moonPlanet {
  position: relative;
  width: 80rem;
  height: 50rem;
  margin-left: -30%;
  background-image: url("./IMG/planet/moon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(0 0 0.3rem rgba(255, 255, 255, 0.7));
          filter: drop-shadow(0 0 0.3rem rgba(255, 255, 255, 0.7));
}

.stackPage .moonBox .rabbitImg {
  position: absolute;
  top: -10rem;
  left: 50%;
  width: 10rem;
  height: 13rem;
  z-index: -1;
}

.introPage {
  width: 100%;
  height: 400rem;
  overflow: hidden;
}

.introPage .cloudBox {
  position: relative;
  width: 100%;
  height: 30%;
}

.introPage .cloudBox .backgroundStar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: twinkle 2s ease-in-out infinite;
          animation: twinkle 2s ease-in-out infinite;
}

.introPage .cloudBox .airplane {
  width: 13rem;
  height: 13rem;
  position: absolute;
  bottom: 35%;
  left: 70%;
}

.introPage .cloudBox .cloudBack1 {
  position: absolute;
  top: 10%;
  left: 10%;
  opacity: 0.8;
  width: 70rem;
  height: 40rem;
}

.introPage .cloudBox .cloudBack1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.introPage .cloudBox .cloudBack1 .c1 {
  position: absolute;
  bottom: -4rem;
  right: 12rem;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: white;
}

.introPage .cloudBox .cloudBack1 .c2 {
  position: absolute;
  bottom: -8rem;
  left: 16rem;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: white;
}

.introPage .cloudBox .cloudBack2 {
  position: absolute;
  bottom: 10%;
  right: 10%;
  opacity: 0.8;
  width: 70rem;
  height: 40rem;
}

.introPage .cloudBox .cloudBack2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.introPage .cloudBox .cloudBack2 .c1 {
  position: absolute;
  bottom: -4rem;
  right: 12rem;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: white;
}

.introPage .cloudBox .cloudBack2 .c2 {
  position: absolute;
  bottom: -8rem;
  left: 16rem;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: white;
}

.introPage .introBox {
  width: 100%;
  height: 50%;
}

.introPage .introBox .hi_ah {
  margin-left: 65%;
}

.introPage .introBox .hi_ah .imgBox {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  overflow: hidden;
}

.introPage .introBox .hi_ah .imgBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.introPage .introBox .hi_ah .textBox {
  margin-top: 3rem;
}

.introPage .introBox .hi_ah .textBox h1 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 3rem;
}

.introPage .introBox .hi_ah .textBox p {
  font-size: 1.7em;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}

.introPage .birdBox {
  position: relative;
  width: 18rem;
  height: 14rem;
  margin-left: -18rem;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

.introPage .birdBox .bird {
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  color: #1c1c1c;
}

.introPage .birdBox .bird2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4rem;
  color: #1c1c1c;
}

.introPage .birdBox .bird3 {
  position: absolute;
  top: 0;
  left: 2rem;
  width: 4rem;
  color: #1c1c1c;
}

.introPage .birdBox .bird4 {
  position: absolute;
  bottom: 0;
  right: 3rem;
  width: 3rem;
  color: #1c1c1c;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.introPage .birdBox .bird5 {
  position: absolute;
  bottom: 1rem;
  right: 7rem;
  width: 4rem;
  color: #1c1c1c;
}

.introPage .mountainBox {
  position: relative;
  width: 100%;
  height: 20%;
  background-image: url("./IMG/mountain/mountain1.svg");
  background-size: cover;
}

.introPage .mountainBox .introGuidance {
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
  text-align: center;
}

.introPage .mountainBox .introGuidance h1 {
  font-size: 3rem;
  font-weight: 100;
  color: #1c1c1c;
  letter-spacing: 0.3rem;
  line-height: 3rem;
}

.introPage .mountainBox .introGuidance h2 {
  font-size: 2rem;
  font-weight: 100;
  color: #a45d7b;
  text-shadow: rgba(0, 0, 0, 0.7);
  letter-spacing: 0.3rem;
  line-height: 6rem;
}

.introPage .mountainBox .introGuidance i {
  -webkit-animation: arrow 2s ease-in-out infinite;
          animation: arrow 2s ease-in-out infinite;
  font-size: 5rem;
  font-weight: lighter;
  color: #1c1c1c;
}

.introPage .mountainBox img {
  width: 100%;
  position: absolute;
  bottom: -17%;
  z-index: 100;
  -webkit-filter: drop-shadow(0 0 12rem rgba(0, 0, 0, 0.7));
          filter: drop-shadow(0 0 12rem rgba(0, 0, 0, 0.7));
}

.infoProjectPage {
  width: 100%;
  height: 400rem;
}

.infoProjectPage .info {
  background-image: url("./IMG/back/starBack1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: twinkle 2s ease-in-out infinite;
          animation: twinkle 2s ease-in-out infinite;
}
/*# sourceMappingURL=index.css.map */