@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR:wght@100;700&display=swap');
@keyframes move {
  100% {
    transform: rotate(360deg);
  }
}

*{
  margin: 0;
  padding: 0;
  font-size: 10px;
}
html{
  scroll-behavior: smooth;
}
body{
  text-align: center;
  background-color: #F1FAEE;
  font-family: 'Noto Sans KR', sans-serif;
}
::selection{
  background-color: #34672f;
  color: wheat;
}
nav{
  .blackBackgruond{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  .navBtn{
    width: 7rem;
    height: 7rem;
    float: left;
    border-radius: 50%;
    border: 0;
    position: fixed;
    top: 2.5rem;
    right: 3rem;
    overflow: hidden;
    background-color: rgba(0,0,0,0);
    transform: translate3d(0, 0, 0);
    z-index: 999;
      .waveOne{
        width: 6rem;
        height: 6rem;
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        border-radius: 45%;
        background-size: cover;
        background-image: url(./img/navBtn.png);
        animation: move 10s infinite linear;
      }
  }
  .navBtn:hover{
    cursor: pointer;
  }

  .navListBtn{
    display: none;
    width: 30rem;
    height: 100vh;
    padding-top: 15rem;
    background-color: #91C788;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001; 
    
    button{
      width: 2rem;
      height: 2rem;
      color: white;
      background-color: #91C788;
      border: 0;
      transform: translate(-10rem,-7rem);
      i{
        font-size: 2rem;
      }
    }
    button:hover{
      cursor: pointer;
    }
    h1{
      font-size: 2rem;
      text-align: right;
      margin-top: -10rem;
      padding: 5rem;
    }
    a{
      width: 10rem;
      height: 5rem;
      font-size: 2rem;
      display: block;
      text-decoration: none;
      text-align: right;
      margin-left: 15rem;
    }
    a:link { 
      color: black;
    } 
    a:visited {
      color: black;
    } 
  
    a:hover {
      color: #52734D;
    }
    a:active {
      color: #52734D;
    }
  }
}

.mainImgBox{
  width: 70%;
  height: 50rem;
  padding-top: 25rem;
  img{
    width: 100%;
    height: 100%;
  }
}


.mainTextBox{
  width: 100%;
  height: 50rem;
  position: absolute;
  top: 0;
  left: 0;
  top: 30rem;
  h1{
    color: #4F7A47;
    font-size: 10rem;
    font-weight: bold;
    letter-spacing: 0.6rem;
    word-spacing: 0.5;
    line-height: 11rem;
    text-align: right;
    font-family: 'Nanum Gothic Coding', monospace;
    text-shadow: 0.1rem 0.1rem 0.1rem#F1FAEE;
  }
}

.wave{
  width: 40rem;
  height: 15rem;
  margin-left: -3rem;
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 0, 0);
  .waveOne{
    width: 60rem;
    height: 60rem;
    position: absolute;
    top: -47rem;
    left: -17rem;
    border-radius: 45%;
    background: rgba(79,122,47,0.8);
    animation: move 4s infinite linear;
  }
}

// 본문
.mainBox{
  width: 120rem;
  display: inline-block;
}

.introductionTitle{
  width: 100%;
  height: 80rem;
  .mainTitle{
    width: 100%;
    height: 10rem;
    color: #4F7A47;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 0.6rem;
    word-spacing: 0.5;
    line-height: 6.5rem;
    text-align: center;
    font-family: 'Nanum Gothic Coding', monospace;
    transform: translateY(30rem);
    position: relative;
    .decoTitle{
      width: 50rem;
      height: 30rem;
      position: absolute;
      top: 1rem;
      right: 0;
      background-image: url(./img/water2.png);
      background-size: 42rem;
      background-repeat: no-repeat;
      z-index: -1;

    }
    .decoTitle2{
      width: 30rem;
      height: 20rem;
      position: absolute;
      top: -20rem;
      left: 9rem;
      background-image: url(./img/water.png);
      background-size: 20rem;
      background-repeat: no-repeat;
    }
  }
}

.introductionvideo{
  width: 100%;
  height: 80rem;
  text-align: center;
  .videoBox{
    display: inline-block;
    width: 80rem;
    height: 45rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    overflow: hidden;
    box-shadow: rgba(0,0,0,0.5);
    position: relative;
    iframe{
      width: 100%;
      height: 100%;
    }
  }
  .videoDeco{
    width: 20rem;
    height: 10rem;
    background-image: url(./img/water2.png);
  }
}
.introductionFestivalas{
  width: 100%;
  height: 80rem;
  .FestivalasBox{
    width: 100%;
    height: 50rem;
    transform: translateY(15rem);
    .imgBox{
      float: left;
      display: inline-block;
      width: 50%;
      height: 40rem;
      transform: translateY(5rem);
      img{
        width: 100%;
        height: 100%;
      }
    }
    .textBox{
      float: left;
      display: inline-block;
      transform: translate(5rem,10rem);
      text-align: left;
      p{
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
        word-spacing: 0.1rem;
        line-height: 2.5rem;
      }
      h1{
        margin-top: 2rem;
        font-size: 3rem;
        letter-spacing: 0.5rem;
        word-spacing: 0.5;
        line-height: 5rem;
      }
      h2{
        margin-top: 2rem;
        font-size: 2rem;
        letter-spacing: 0.3rem;
        word-spacing: 0.3;
        line-height: 5rem;
      }
    }
  }
}

.introductionPlay{
  width: 100%;
  height: 80rem;
  background-color: #ECE6E0;
  // box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(0,0,0,0.5) , 0 -0.5rem 0.5rem -0.5rem rgba(0,0,0,0.5);
  .playBox{
    width: 100%;
    height: 50rem;
    transform: translateY(15rem);
    .imgBox{
      float: right;
      display: inline-block;
      width: 50%;
      height: 40rem;
      transform: translateY(5rem);
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .textBox{
    float: left;
    display: inline-block;
    transform: translate(9rem,8rem);
    text-align: right;
    p{
      font-size: 1.5rem;
      letter-spacing: 0.3rem;
      word-spacing: 0.1rem;
      line-height: 2.5rem;
      margin-top: 0.5rem;
    }
    h1{
      margin-top: 2rem;
      font-size: 3rem;
      letter-spacing: 0.5rem;
      word-spacing: 0.5;
      line-height: 5rem;
    }
    button{
      width: 12rem;
      height: 6rem;
      font-size: 1.5rem;
      margin-top: 2rem;
      border: none;
      background-color: #4F7A47;
      color: white;
      transform: translateY(12rem);
    } 
    button:hover{
      cursor: pointer;
      background-color: #7da973;
    }
  }
}

.introductionFood{
  width: 100%;
  height: 80rem;
  // background-color: #ECE6E0;
  .foodBox{
    width: 100%;
    height: 50rem;
    transform: translateY(15rem);
    .imgBox{
      float: left;
      display: inline-block;
      width: 50%;
      height: 40rem;
      transform: translateY(5rem);
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .textBox{
    float: left;
    display: inline-block;
    transform: translate(5rem,8rem);
    text-align: left;
    p{
      font-size: 1.5rem;
      letter-spacing: 0.3rem;
      word-spacing: 0.1rem;
      line-height: 2.5rem;
    }
    h1{
      margin-top: 2rem;
      font-size: 3rem;
      letter-spacing: 0.5rem;
      word-spacing: 0.5;
      line-height: 5rem;
    }
    
    button{
      width: 12rem;
      height: 6rem;
      font-size: 1.5rem;
      margin-top: 2rem;
      border: none;
      background-color: #4F7A47;
      color: white;
      transform: translateY(12rem);
    } 
    button:hover{
      cursor: pointer;
      background-color: #7da973;
    }
  }
}
.introductionNoti{
  width: 100%;
  height: 80rem;
  .NotiBox{
    width: 100%;
    height: 50rem;
    transform: translateY(15rem);
    .notiText{
      height: 50rem;
      display: inline-block;
      text-align: right;
      transform: translate(5rem,4rem);
      p{
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
        word-spacing: 0.1rem;
        line-height: 2.5rem;
      }
      h1{
        margin-top: 2rem;
        font-size: 3rem;
        letter-spacing: 0.5rem;
        word-spacing: 0.5;
        line-height: 5rem;
      }
      h2{
        margin-top: 2rem;
        font-size: 2rem;
        letter-spacing: 0.3rem;
        word-spacing: 0.3;
        line-height: 5rem;
      }
      button{
        width: 12rem;
        height: 6rem;
        font-size: 1.5rem;
        margin-top: 2rem;
        border: none;
        background-color: #4F7A47;
        color: white;
        transform: translateY(6rem);
      } 
      button:hover{
        cursor: pointer;
        background-color: #7da973;
      } 
    }
    .notiMap{
      width: 50%;
      height: 50rem;
      float: right;
      display: inline-block;
      iframe{
        width: 90%;
        height: 100%;
      }
    }
  }
}
footer{
  width: 100%;
  height: 27rem;
  background-color: white;
  text-align: center;
  .footerImg{
    width: 23rem;
    height: 10rem;
    margin: 2rem;
    display: inline-block;
    background-image: url(./img/logo.png);
    background-repeat: no-repeat;
  }

  a{
    font-size: 1.3rem;
    text-decoration: none;
    margin-right: 1rem;
  }
  a:link { 
    color: black;
  } 
  a:visited {
    color: black;
  } 

  a:hover {
    color: #c2c2c2;
  }
  a:active {
    color: #c2c2c2;
  }
  p{
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}