@charset "utf-8";
// maincolor1

$subcolor_1: #fff;

// maincolor2
$main2_black: #08030a;
$main2_black2: #3d3a54;
$main2_green: #1a1f33;
$main2_pink: #ffba00;
$main2_fff2: #f3b4d8;
$main2_white: #655777;

//maincolor3
$main_1: #1a1f33;
$main_4: #465fa4;
$main_2: #f3b4d8;
$main_3: #ea85b4;

@mixin center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@font-face {
	font-family: 'LeferiPoint-WhiteA';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GmarketSansLight';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'YUniverse-L';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-L.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@keyframes colorchange {
	0% {
		text-shadow: 0;
	}
	50% {
		text-shadow: 0rem 0rem 0.8rem $main2_pink;
	}
	100% {
		text-shadow: 0;
	}
}

* {
	margin: 0;
	padding: 0;
}
*::before,
*::after {
	box-sizing: border-box;
}

body,
html {
	font-family: 'YUniverse-L';
	// scroll-behavior: auto;
	width: 100%;
	font-size: 10px;
	background: $main_1;
	background: linear-gradient(180deg, $main_1 10%, #384c84 30%, $main_2 100%);
	// background: $main2_black;
	color: $main2_black2;
	button {
		appearance: none;
	}
}

// 전체 감싸는 모달 //
.moviewapper {
	width: 72rem;
	height: 100rem;
	margin: auto;
	box-shadow: 0rem 0rem 0.8rem #16142b;
	// 헤더
	#playerarea {
		width: 100%;
		display: flex;
		text-align: center;
		flex-direction: column;
		.head__infor {
			background: $main2_green;
			z-index: 100;
			height: 7rem;
			width: 100%;
			text-align: center;
			display: flex;
			justify-content: space-around;
			box-shadow: 0rem 2rem 3rem #16142b62;
			span {
				font-size: 2rem;
				letter-spacing: 0.2rem;
				line-height: 6.8rem;
				text-shadow: 0rem 2rem 3rem #16142b62;
				color: $main2_fff2;
			}
		}
	}
	// 헤더다음에 나오는 몸통박스 //
	.mainBox::-webkit-scrollbar {
		width: none;
		display: none;
	}
	.mainBox {
		width: 100%;
		overflow-y: auto;
		box-sizing: border-box;
		height: 83rem;
		background-size: cover;
		background: rgb(61,58,84);
		background: linear-gradient(299deg, rgba(61,58,84,1) 0%, #1a1f33 33%, rgba(101,87,119,1) 99%);
		.main__body {
			display: flex;
			flex-direction: column;
			height: 83rem;
		}
		//몸통 css 여기에 기술 할 것
	}

	// footer
	footer {
		background: $main_1;
		width: 100%;
		height: 10rem;
		display: inline-block;
		text-align: center;


		a {
			text-decoration: none;
		}

		i {
			color: $main2_white;
			line-height: 9.8rem;
			font-size: 4rem;
			cursor: pointer;
			transition: 0.3s;
		}
		i:hover {
			color: #ffe277;
			text-shadow: 0.2rem 0.8rem 3rem #ffbb0065;
		}
		i:nth-child(1) {
			transform: translate(-28rem);
		}
		i:nth-child(2) {
			transform: translate(28rem);
		}
	}
}
.opacityscroll {
	visibility: hidden;
	opacity: 0;
}
