doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 영화
    link(rel="stylesheet", href="./css/main.css")
  body 
    include ../header.pug
    if page === undefined
      include ./main.pug
    if page == "1"
      include ../2.pug
    if page == "2"
      include ./main.pug