@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
*{
  margin: 0;
  padding: 0;
  font-size: 10px;
}
html, body{
  width: 120rem;
  height: 100%;
  background: linear-gradient(#27324c, #7e88a7);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Nanum Gothic', sans-serif;
}
::selection{
  background-color: #27324c;
}
.iceLeft{
  position: fixed;
  bottom: 0;
  left: -6rem;
  width: 40rem;
  height: 30rem;
  background-size: 30rem;
  background-image: url("./Img/left.png");
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 1000;
}

.iceRigth{
  position: fixed;
  bottom: 0;
  right: -18rem;
  width: 40rem;
  height: 30rem;
  background-size: 35rem;
  background-image: url("./Img/rigth.png");
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 1000;
}
//화면 꾸밈
.titleText{
  width: 100%;
  height: 5rem;
  color: white;
  text-align: right;
  font-size: 2.5rem;
}
.mainImg{
  position: relative;
  width: 100%;
  height: 65rem;

  h1{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 40rem;
    margin-top: -10rem;
    color: white;
    font-size: 5rem;
    text-align: center;
  }
  .blackImg{
    width: 100%;
    height: 65rem;
    position: absolute;
    top: 0; 
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
  .carousel-item{
    width: 100%;
    height: 65rem;
  }
}
.topVarBackImg{
  width: 100%;
  height: 20rem;
  margin-top: 15rem;
  background-image: url("./Img/topImg.jpeg");
  background-repeat: no-repeat;
  background-size: 110%;
  position: relative;

  .blackImg{
    width: 100%;
    height: 20rem; 
    background-color: rgba($color: #000000, $alpha: 0.5);

  }
  .topTitle{ 
    width: 30%;
    position: absolute;
    top: 6rem;
    left: 10rem;
    font-size: 4rem;
    color: white;
  }
  .topText{
    width: 60%;
    position: absolute;
    top: 5rem;
    left: 35%;
    font-size: 2rem;
    color: white; 
  }
}


.videoBox{
  width: 100%;
  margin-top: 8rem;
  position: relative;

  .videoPlay{
    margin-left: 20%;
    width: 60%;
    height: 40rem;
    background-color: cornsilk;
    text-align: center; 
  }
  .videoIce{
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 21rem;
    left: 65%;
    background-size: 20rem;
    background-image: url("./Img/3.png");
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

.inturodusFestivalBox{
  width: 100%;
  height: 100rem;
  margin-top: 10rem;

  .inturodusFestivalText{
    width: 40%;
    height: 100rem;
    background-color: darkcyan;
  }
  .inturodusFestivalImgBox{
    width: 60%;
    height: 100rem;
    background-color: red; 
  }
}

.inturodusPlayBox{
  width: 100%;
  height: 100rem;
  margin-top: 10rem;
  
  .inturodusPlayText{

    width: 40%;
    height: 100rem;
    background-color: darkcyan;
  }
  .inturodusPlayImgBox{

    width: 60%;
    height: 100rem;
    background-color: red; 
  }
  
}

.inturodusFoodBox{
  width: 100%;
  height: 70rem;
  margin-top: 10rem;
  background-color: darkcyan;
}

.inturodusPriceBox{
  width: 100%;
  height: 70rem;
  margin-top: 10rem;
  background-color: red;
}
.inturodusNotice{
  width: 100%;
  height: 70rem;
  margin-top: 10rem;
  background-color: darkcyan; 
}
.inturodusMap{
  width: 100%;
  height: 70rem;
  margin-top: 10rem;
  background-color: red;
}